### Python Functions Exercise

**Question 1**

In [1]:
# Use: Create a function
# Input:
# Output:

naam = "Nick"
agh = 12

def q1_fn(name, age):
    return name, age

q1_fn(naam, agh)

('Nick', 12)

**Question 2**

In [3]:
# Use: Creates a function with variable length of arguments
# Input:
# Output:


def q2_fn(a, b, c):
    print(a, b, c,sep="\n")

q2_fn(10,20,30)

10
20
30

**Question 3**

In [8]:
# Use: Return multiple values from a function
# Input:
# Output:

def q3_fn(a, b):
    return a+b, abs(a-b)

q3_fn(-123, 242)

(119, 365)

**Question 4**

In [10]:
# Use: Create a function with a default argument.
# Input:
# Output:

naam = "Kreig"
salaris = 40000

def q4_fn(name, salary = 9000):
    return name, salary

('Kreig', 9000)

**Question 5**

In [15]:
# Use: Create a inner function
# Input:
# Output:

def q5_fn(a, b):
    def inner_sum(a, b):
        return a+b
    return inner_sum(a, b) + 5

q5_fn(10, 5)

20

**Question 6**

In [20]:
# Use: Create a recursive function.
# Input:
# Output:

def q6_fn(x):
    result = 0
    for i in range(x+1):
        result+=i
    
    return result

q6_fn(15)

120

**Question 7**

In [23]:
# Use: Assign a different name to a function and call it through the new name.
# Input:
# Output:

def q7_fn(name, age):
    print(name, age)

q7_fn('Nick', 12)

renamed_fn = q7_fn

renamed_fn('Mik', 23)

Nick 12
Mik 23

**Question 8**

In [25]:
# Use: Generate a Python list of all the even numbers between 4 to 30.
# Input:
# Output:

def q8_fn(s, f):
    for i in range(s, f+1, 2):
        print(i)

q8_fn(4, 30)

4
6
8
10
12
14
16
18
20
22
24
26
28
30

**Question 9**

In [26]:
# Use: Find the largest item from a list.
# Input:
# Output:

x = [4, 6, 8, 24, 12, 2]

def q9_fn(lst):
    max = 0
    for i in lst:
        if i > max:
            max = i

    return max

q9_fn(x)

24

**Question 10**

In [28]:
# Use: Call function using both positional and keyword arguments.
# Input:
# Output:


def q10_fn(animal_type, pet_name):
    print(animal_type, pet_name)


q10_fn('Amphibian', 'Becky')
q10_fn(animal_type='Bird', pet_name='Bob')

Amphibian Becky
Bird Bob

**Question 11**

In [32]:
# Use: Create a function with keyword arguments.
# Input:
# Output:

def q11_fn(**kwargs):
    if kwargs:
        print("\n--------Information--------")
        for key, value in kwargs.items():
            print(f"{key}: {value}".format(key, value))
        else:
            print("\nNo information provided.")
        
q11_fn(name="Alice", age=30, profession="builder")

--------Information--------
name: Alice
age: 30
profession: builder

No information provided.

**Question 12**

In [34]:
# Use: Modifies global variable
# Input:
# Output:

global_var = 10

def q12_fn(x):
    global global_var
    global_var = 20
    print(global_var+x)

q12_fn(global_var)

30

**Question 13**

In [42]:
# Use: Write a recursive function to calculate the factorial.
# Input:
# Output:

def q13_fn(x):
    if x < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    else:
        factorial_x = 1

        for i in range(x, 0, -1):
            factorial_x*=i

    return factorial_x

def q13_fn_v2(x):
    if x < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    elif x == 0:
        return 1
    else:
        return x * q13_fn(x - 1)

q13_fn_v2(50)

30414093201713378043612608166064768844377641568960512000000000000

**Question 14**

In [48]:
# Use: Create a lambda function that squares a given number.
# Input:
# Output:

square = lambda x: x*x

square(25)

625

**Question 15**

In [51]:
# Use: Use lambda() with the filter() function to get all even numbers from a list.
# Input:
# Output:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q15_fn(num):
    return list(filter(lambda x: x % 2 == 0, num))

q15_fn(numbers)

[2, 4, 6, 8, 10]

**Question 16**

In [4]:
# Use: Use lambda function with map() to double each element in a list 
# Input:
# Output:

numbers = [1, 2, 3, 4, 5]

def q16_fn(num):
    return list(map(lambda x: x*2, num))

q16_fn(numbers)

[2, 4, 6, 8, 10]

**Question 17**

In [13]:
# Use: Use a lambda with the sorted() function to sort a list of tuples based on the second element 
# Input:
# Output:

data = [('apple', 5), ('banana', 2), ('cherry', 8), ('date', 1)]

def q17_fn(dat):
    return sorted(dat, key = lambda item: item[1])

q17_fn(data)

[('date', 1), ('banana', 2), ('apple', 5), ('cherry', 8)]

**Question 18**

In [ ]:
# Use: Create Higher-Order Function 
# Input:
# Output:

def q18_fn(func, a, b):    
    return func(a, b)

def mmplier(a, b):
    return a*b

res_mmply = q18_fn(mmplier, 5, 1)

# LAMBDA

subtract = lambda a, b: a - b
multiply = lambda a, b: a * b
q18_fn(multiply, 5, 5)

25