### Python Lambda Functions Advanced

**Question 1-5**

In [2]:
# 1 
add = lambda x: x + 15

multiply = lambda x, y: x*y

print(add(15), multiply(5, 5))

30 25

In [3]:
# 2

operation = lambda x: (x-15)**3

operation(20)

125

In [32]:
# 3

operation = lambda x, y: (x+y) if ((x*y) % 2 == 0) else (x-y)

operation(6, 4)

10

In [30]:
# 4

def is_prime(x):
    if(x == 0 or x == 1):
        return False
    for i in range(2, x):
        if(x % i == 0):
            return False
    
    return True

operation = lambda x: is_prime(x+15)

operation(2)

True

In [35]:
# 5 

operation = lambda x, y: (x*y) if (x*y) <= 15 else (x*y)/15 

operation(50, 10)

33.333333333333336

**Questions 6-10**

In [43]:
# 6

def unknown_multiplier(n):
    return lambda x: x * n

result = unknown_multiplier(5)

for i in range(1, 11):
    print("{}x Multiplier of 5: {}".format(i, result(i)))

1x Multiplier of 5: 5
2x Multiplier of 5: 10
3x Multiplier of 5: 15
4x Multiplier of 5: 20
5x Multiplier of 5: 25
6x Multiplier of 5: 30
7x Multiplier of 5: 35
8x Multiplier of 5: 40
9x Multiplier of 5: 45
10x Multiplier of 5: 50

In [65]:
# 7

def unknown_exponent(n):
    return lambda x: n**x

result = unknown_exponent(2)

for i in range(1, 21):
    print("({})nth Exponent of 2: {}".format(i, result(i)))

(1)nth Exponent of 2: 2
(2)nth Exponent of 2: 4
(3)nth Exponent of 2: 8
(4)nth Exponent of 2: 16
(5)nth Exponent of 2: 32
(6)nth Exponent of 2: 64
(7)nth Exponent of 2: 128
(8)nth Exponent of 2: 256
(9)nth Exponent of 2: 512
(10)nth Exponent of 2: 1024
(11)nth Exponent of 2: 2048
(12)nth Exponent of 2: 4096
(13)nth Exponent of 2: 8192
(14)nth Exponent of 2: 16384
(15)nth Exponent of 2: 32768
(16)nth Exponent of 2: 65536
(17)nth Exponent of 2: 131072
(18)nth Exponent of 2: 262144
(19)nth Exponent of 2: 524288
(20)nth Exponent of 2: 1048576

In [64]:
# 8

def unknown_divisor(n):
    return lambda x: n/x if x != 0 else "[DivisionByZeroError()]: Division by zero"

result = unknown_divisor(100)

for i in range(0, 21):
    print("({})nth divisor of 100: {}".format(i, result(i)))

(0)nth divisor of 100: [DivisionByZeroError()]: Division by zero
(1)nth divisor of 100: 100.0
(2)nth divisor of 100: 50.0
(3)nth divisor of 100: 33.333333333333336
(4)nth divisor of 100: 25.0
(5)nth divisor of 100: 20.0
(6)nth divisor of 100: 16.666666666666668
(7)nth divisor of 100: 14.285714285714286
(8)nth divisor of 100: 12.5
(9)nth divisor of 100: 11.11111111111111
(10)nth divisor of 100: 10.0
(11)nth divisor of 100: 9.090909090909092
(12)nth divisor of 100: 8.333333333333334
(13)nth divisor of 100: 7.6923076923076925
(14)nth divisor of 100: 7.142857142857143
(15)nth divisor of 100: 6.666666666666667
(16)nth divisor of 100: 6.25
(17)nth divisor of 100: 5.882352941176471
(18)nth divisor of 100: 5.555555555555555
(19)nth divisor of 100: 5.2631578947368425
(20)nth divisor of 100: 5.0

In [66]:
# 9

def factorial(x):
    result = 1 
    for i in range(1, x+1):
        result*=i
    
    return result

def unknown_factorial(n):
    return lambda x: n * factorial(x)

result = unknown_factorial(5)

for i in range(1, 11):
    print("({})nth factorial multiplied by 5: {}".format(i, result(i)))

(1)nth factorial multiplied by 5: 5
(2)nth factorial multiplied by 5: 10
(3)nth factorial multiplied by 5: 30
(4)nth factorial multiplied by 5: 120
(5)nth factorial multiplied by 5: 600
(6)nth factorial multiplied by 5: 3600
(7)nth factorial multiplied by 5: 25200
(8)nth factorial multiplied by 5: 201600
(9)nth factorial multiplied by 5: 1814400
(10)nth factorial multiplied by 5: 18144000

In [74]:
# 10 

def digit_sum(n):
    return sum(list(map(lambda x: int(x), str(n))))

def unknown_sum(n):
    return lambda x: n*digit_sum(x)

result = unknown_sum(5)

for i in range(1, 100, 6):
    print("({}) digit sum multiplied by 5: {}".format(i, result(i)))

(1) digit sum multiplied by 5: 5
(7) digit sum multiplied by 5: 35
(13) digit sum multiplied by 5: 20
(19) digit sum multiplied by 5: 50
(25) digit sum multiplied by 5: 35
(31) digit sum multiplied by 5: 20
(37) digit sum multiplied by 5: 50
(43) digit sum multiplied by 5: 35
(49) digit sum multiplied by 5: 65
(55) digit sum multiplied by 5: 50
(61) digit sum multiplied by 5: 35
(67) digit sum multiplied by 5: 65
(73) digit sum multiplied by 5: 50
(79) digit sum multiplied by 5: 80
(85) digit sum multiplied by 5: 65
(91) digit sum multiplied by 5: 50
(97) digit sum multiplied by 5: 80

**Question 11-15**

In [76]:
# 11

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: x[1]))

sorted_tuple_list = lst_tuple_sort(list1)
print(sorted_tuple_list)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [78]:
# 12
# Use: Sort a list of tuples by the length of string element

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: len(x[0])))

sorted_tuple_list = lst_tuple_sort(list1)
print(sorted_tuple_list)

[('Maths', 97), ('English', 88), ('Science', 90), ('Social sciences', 82)]

In [79]:
# 13
# Use: Sort a list of tuples by the second element in descending order using lambda.

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: x[1], reverse=True))

sorted_tuple_list = lst_tuple_sort(list1)
print(sorted_tuple_list)

[('Maths', 97), ('Science', 90), ('English', 88), ('Social sciences', 82)]

In [97]:
# 14 
# Use: Sort a list of tuples by the total ASCII values of characters in the first element 

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def ascii_sum(string):
    result = 0
    for char in string:
        result+=ord(char)
        
    return result

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: ascii_sum(x[0])))

sorted_tuple_list = lst_tuple_sort(list1)

print(sorted_tuple_list)

[('Maths', 97), ('Science', 90), ('English', 88), ('Social sciences', 82)]

In [102]:
# Q15
# Use: Sort a list of tuples by the difference between the second element and the string length of the first element using lambda. 
list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: abs(x[1] - len(x[0])))) 

sorted_tuple_list = lst_tuple_sort(list1)
print(sorted_tuple_list)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

**Questions 16-20**

In [103]:
# 16

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key):
    return list(sorted(lst, key = lambda x: x[key]))

sorted_dict_list = lst_dict_sort(list1, 'color')
print(sorted_dict_list)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [105]:
# 17

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key):
    return list(sorted(lst, key = lambda x: x[key], reverse=True))

sorted_dict_list = lst_dict_sort(list1, 'color')
print(sorted_dict_list)

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Nokia', 'model': 216, 'color': 'Black'}]

In [113]:
# 17

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key):
    return list(sorted(lst, key = lambda x: len(x[key])))

sorted_dict_list = lst_dict_sort(list1, 'color')
print(sorted_dict_list)

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Nokia', 'model': 216, 'color': 'Black'}]

In [117]:
# 18

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key1, key2):
    return list(sorted(lst, key = lambda x: (x[key1], x[key2])))

sorted_dict_list = lst_dict_sort(list1, 'make', 'model')
print(sorted_dict_list)

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

In [130]:
# 19

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key):
    return list(sorted(lst, key = lambda x: int(x[key])))

lst_dict_sort(list1, 'model')

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Nokia', 'model': 216, 'color': 'Black'}]

**Question 20-24**

In [134]:
# 20

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def int_filter(lst):
    even_nums = list(filter(lambda x: x % 2 == 0, lst))
    odd_nums = list(filter(lambda x: x % 2 != 0, lst))

    return even_nums, odd_nums

int_split = int_filter(my_list)

even_numbers = int_split[0]
odd_numbers = int_split[1]

print(even_numbers, odd_numbers)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])
[2, 4, 6, 8, 10] [1, 3, 5, 7, 9]

In [151]:
# 21

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621]

def int_filter(lst):
    return list(filter(lambda x: x > 1 and all(x % i for i in range(2, int(x**.5) + 1)), lst))

primes = int_filter(my_list)
print(sorted(primes, key = lambda x: x))

[2, 3, 5, 7, 11, 13, 17, 563, 231613]

In [156]:
# 22

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621]

def int_filter(lst):
    return list(filter(lambda x: x == int(x**.5 + .5)**2, lst))

perfect_squares = int_filter(my_list)

print(perfect_squares)

[1, 4, 9, 16]

In [187]:
# 23
# A number n is Fibonacci if
# 5n² + 4 or 5n² − 4 is a perfect square.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621]

def int_filter_v1(lst):
    from math import isqrt
    
    return list(filter(lambda x: int(isqrt(5*x*x + 4))**2 == 5*x*x + 4 or int(isqrt(5*x*x - 4))**2 == 5*x*x - 4, lst))

fibonacci_v1 = int_filter_v1(my_list)
print(fibonacci_v1)

# -----------------------------------------------------------------------------------------------------------------------

def is_fibonacci(x):
    a, b = 0, 1
    while a <= x:
        if a == x:
            return True 
        a, b = b, a + b
    return False

def int_filter_v2(lst):
    return list(filter(lambda x: is_fibonacci(x), lst))

fibonacci_v2 = int_filter_v2(my_list)
print(fibonacci_v2)

[1, 2, 3, 5, 8, 13]
[1, 2, 3, 5, 8, 13]

In [191]:
# 24
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621, 4444]

def int_filter(lst):
    return list(filter(lambda x: str(x) != str(x)[::-1], lst))

palindromes = int_filter(my_list)
print(palindromes)

[10, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621]

**Question 25-29**

In [192]:
# 25

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def exponentiate(lst):
    squared = list(map(lambda x: x*x, lst))
    cubed = list(map(lambda x: x*x*x, lst))

    return squared, cubed 

squared_result, cubed_result = exponentiate(my_list)
print(squared_result, cubed_result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100] [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [196]:
# 26
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def exponentiate(lst):
    square_root = list(map(lambda x: x**(1/2), lst))
    cube_root = list(map(lambda x: x**(1/3), lst))

    return square_root, cube_root

square_root_result, cube_root_result = exponentiate(my_list)
print("Square Root Result: {}\n Cube Root Result: {}".format(square_root_result, cube_root_result))

Square Root Result: [1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]
 Cube Root Result: [1.0, 1.2599210498948732, 1.4422495703074083, 1.5874010519681994, 1.7099759466766968, 1.8171205928321397, 1.912931182772389, 2.0, 2.080083823051904, 2.154434690031884]

In [198]:
# 27
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def exponentiate(lst):
    biquadratic = list(map(lambda x: x**4, lst))
    square_root =  list(map(lambda x: x**(1/2), lst))

    return biquadratic, square_root

fourth_power, half_power = exponentiate(my_list)
print("Fourth Power: {}\n Half Power: {}".format(fourth_power, half_power))

Fourth Power: [1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]
 Half Power: [1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [206]:
# 28

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def factorial(x):
    result = 1
    for i in range(1, x+1):
        result*=i
    
    return result

def exponentiate(lst):
    from functools import reduce
    factorial_num = list(map(lambda x: factorial(x), lst))
    square_num = list(map(lambda x: x*x, lst))

    return factorial_num, square_num

factorial_result, square_result = exponentiate(my_list)
print("Factorial: {}\n Squared Power: {}".format(factorial_result, square_result))

Factorial: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]
 Squared Power: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [210]:
# 29

my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def exponentiate(lst):
    square_num = list(map(lambda x: 0 if x == 0 else x*x , lst))
    reciprocal_num = list(map(lambda x: 0 if x == 0 else 1/x, lst))

    return square_num, reciprocal_num 

square_number, reciprocal_number = exponentiate(my_list)
print("Second Power: {}\n Reciprocal Number: {}".format(square_number, reciprocal_number))

Second Power: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
 Reciprocal Number: [0, 1.0, 0.5, 0.3333333333333333, 0.25, 0.2, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111, 0.1]

**Question 30-34**

In [214]:
# 30

string = "Python"

starts_with = lambda x: True if x.startswith('Z') else False

starts_with(string)

False

In [222]:
# 31 

string = "KWhat"

ends_with = lambda x: True if x.endswith('z') else False

ends_with(string)

False

In [256]:
# 32 

string = "coSding"

even_index = lambda x: True if (x.index('S')+1) % 2 == 0 else False 

even_index(string)

False

In [265]:
# 33

string = "IGIRNNE"

start_end = lambda x: True if x[0] == x[-1] else False

start_end(string)

False

In [267]:
# 34

string = "ACRRCEK"

starts_vowel = lambda x: True if x[0] in "aeiou" or "AEIOU" else False 

starts_vowel(string)

True

**Question 35-39**

In [281]:
# 35
import datetime

now = datetime.datetime.now()

year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
hour = lambda x: x.hour
t = lambda x: x.time()

print(year(now))
print(month(now))
print(day(now))
print(t(now))

2026-02-02 21:37:48.621729
2026
2
2
21:37:48.621729

In [287]:
# 36
import datetime

now = datetime.datetime.now()

weekday = lambda x: x.weekday()

weekday(now)

0

In [288]:
# 37

import datetime

now = datetime.datetime.now()

format = lambda x: x.strftime("%Y-%m-%d %H:%M:%S")

format(now)

'2026-02-02 21:41:17'

In [292]:
# 38
import datetime

now = datetime.datetime.now()

hour = lambda x: x.hour
minute = lambda x: x.minute

hour(now)
minute(now)

42

In [307]:
# 39
import datetime

now = datetime.datetime.now()

weekday = lambda x: x.weekday() 

print(weekday(now))

is_weekend = lambda x: True if x.weekday() == 5 or x.weekday() == 6 else False 

print(is_weekend(now))

0
False

**Question 40-44**

In [317]:
# 40

my_list = ["A1234", "WERBIA", "1231", "b231", "21412", "52"]

is_num = lambda q: q.replace('.', '', 1).isdigit()

is_num1 = lambda r: is_num(r[1:]) if r[0] == '-' else is_num(r)

is_num1(my_list[0])

False

In [ ]:
# 41