### Python if else, for loop, and range() Exercises

**Question 1**

In [4]:
# Use: This function prints 10 natural numbers using a while loop
# Input: n_range: The range of the sequence
# Output: Ordered numbers within the sequence

numbers = 10

def q1_fn(n_range):
    for i in range(1, n_range+1):
        print(i, end='')
        print()

q1_fn(numbers)

1
2
3
4
5
6
7
8
9
10

**Question 2**

In [74]:
# Use: This function prints out the downward pyramind -1 pattern ()
# Input: n_size: The size of the pattern    
# Output: A pattern of size n_size

n_size = 5

def q2_fn(n):
    for i in range(1, n+1, 1):
        for j in range(1, i + 1):
            print(j, end = ' ')
        print("")

q2_fn(n_size)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Question 3**

In [77]:
# Use: Calculate sum of all numbers from 1 to a given number
# Input: sum_count
# Output: total sum for sum_count

num = 10

def q3_fn(sum_count):
    result = 0
    for i in range(sum_count+1):
        result+=i
    
    return result

q3_fn(num)

55

**Question 4**

In [93]:
# Use: Prints a multiplication table of a given number
# Input: t_size: Table size
# Output: Multiplication table of size t_size

t_size = 10

def q4_fn(num):
    for i in range(1, num+1, 1):
        print(i*2)
    

q4_fn(t_size)

2
4
6
8
10
12
14
16
18
20

**Question 5**

In [98]:
# Use: Displays numbers from a list using a loop
# Input: A list of any numbers
# Output: Numbers from the list that satisfy all conditions
# Conditions:
#             1. The number must be divisible by five; 
#             2. If the number is greater than 150, then skip it and move to the following number;
#             3. If the number is greater than 500, then stop the loop;

nums = [25, 11, 13, 14, 17, 20, 46, 24, 53, 63, 345, 142, 125, 341, 22, 13, 53, 64, 501, 101]

def q5_fn(num_lst):
    res_lst = []
    
    for n in range(len(num_lst)):
        if(num_lst[n] > 150):
            continue
        if(num_lst[n] > 500):
            break
        if(num_lst[n] % 5 == 0):
            res_lst.append(num_lst[n])
        
    return res_lst

print(q5_fn(nums))

[25, 20, 125]

**Question 6**

In [108]:
# Use: Count the total number of digits in a number
# Input: n: number
# Output: Total number of digits
 
num = 364

def q6_fn(n):
    return len(str(n))

print(q6_fn(num))

3

**Question 7**

In [143]:
# Use: This function prints the reverse number pattern using a for loop. 
# Input: 
# Output:

p_size = 5

def q7_fn(x):
    for i in range(0, x+1):
        for j in range(x-i, 0, -1):
            print(j, end = ' ')
        print()

q7_fn(p_size)

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**Question 8**

In [ ]:
# Use: Print list in reverse order using a loop
# Input: lst = A list object
# Output: List contents in reverse order

list = [10, 20, 30, 40, 50, 60]

def q8_fn(lst):
    rev_lst = []
    for i in range(len(lst)-1, -1, -1):
        rev_lst.append(lst[i])
    
    return rev_lst
        
print(q8_fn(list))

[60, 50, 40, 30, 20, 10]

**Solution 2**

In [163]:
list = [10, 20, 30, 40, 50]

lst = reversed(list)

for i in lst:
    print(i)

50
40
30
20
10

**Question 9**

In [ ]:
# Use: Display numbers from -10 to -1 using for loop.
# Input: 
# Output: Numbers from -10 to -1. 

def q9_fn():
    for i in range(-10, 0, 1):
        print(i)

q9_fn()

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**Question 10**

In [174]:
# Use: Display a message 'Done' after the successful execution of the for loop.
# Input:
# Output:

lst = ['suino', 'Libanese', 'ponte_lungo', 'salve']

def q10_fn(list):
    for word in list:
        print(word, sep=' ')
    
    return "Done!"

print(q10_fn(lst))

suino
Libanese
ponte_lungo
salve
Done!

**Question 11**

In [210]:
# Use: Returns all prime numbers within a range 
# Input: p_range: A range of prime numbers
# Output: Prime numbers within that range

s = 25
e = 100

def is_prime(x):
    if(x == 1 or x == 2):
        return False
    for i in range(2, x, 1):
        if(x % i == 0):
            return False
    return True

def q11_fn(start, end):
    primes = []
    for i in range(start, end):
        if(is_prime(i)):
            primes.append(i)
    
    return primes

print(q11_fn(s, e))

[29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

**Question 12**

In [ ]:
# Use: Displays fibonacci() series up to n terms.
# Input: n: Sequence length
# Output: Fibonacci numbers within the range

n_deg = 200

def q12_fn(n):
    a = 0
    b = 1
    for i in range(n):
        print(a)
        c=a+b
        a=b
        b=c

print(q12_fn(n_deg))

**Question 13**

In [229]:
x = 5
for i in range(x, 0, -1):
    print(i)

5
4
3
2
1

In [233]:
# Use: This function display a factorial of a given number.
# Input: x: A number
# Output: !x

num = 120

def q13_fn(x):
    result = 1
    for i in range(x, 0, -1):
        result*=i
        
    return result

q13_fn(num)

6689502913449127057588118054090372586752746333138029810295671352301633557244962989366874165271984981308157637893214090552534408589408121859898481114389650005964960521256960000000000000000000000000000

**Question 14**

In [237]:
# Use: Reverse a integer number.
# Input: x: Any integer
# Output: reversed x

n = 1889 

def q14_fn(x):
    x_str = str(x)
    for i in range(len(x_str)-1, -1, -1):
        print(x_str[i])

q14_fn(n)

9
8
8
1

**Question 15**

In [ ]:
# Use: Print elements from a given list present at odd index positions
# Input: 
# Output:

list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170]
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
def q15_fn(lst):
    for i in lst[1::2]:
        print(i, end= " ")

q15_fn(my_list)

20 40 60 80 100

**Question 16**

In [252]:
# Use: Calculate the cube of all numbers from 1 to a given number.
# Input: max: Upper limit
# Output: Cube values for numbers from 1 to max

n = 10

def q16_fn(max):
    for i in range(1, max+1):
        print(i*i, end= ' ')

q16_fn(n)

1 4 9 16 25 36 49 64 81 100

**Question 17**

In [ ]:
# Use: This function finds the sum of a series of a number up to n terms.
# Input: n: number; n_terms: Number of terms.
# Output: Sum of a series up to n_terms

num = 2
terms = 5

def q17_fn(n, n_terms):
    result = 0
    num = n
    for i in range(n_terms):
        result+=n
        n = 

print(q17_fn(num, terms))

# NOT COMPLETE