### Python Lambda Function Exercise

**Question 1**

In [ ]:
# Use: This program uses a lambda function to add 15 to a given number which is passed as an argument and also creates a lambda function that multiplies argument x with argument y and prints the result.
# Input:
# Output:

a = 20
b = 20
def q1_fn(n, z):
    add_int = lambda x: x + 15
    mmply_arg  = lambda x, y: x * y  

    return add_int(n), mmply_arg(n, z)

res1, res2 = q1_fn(a, b)

print(res1, res2)

35 400

**Question 2**

In [31]:
# Use: This program creates a function that takes one argument, and that argument will be multiplied by an unknown given number. 
# Input:
# Output:

def q2_fn(a):
    result = lambda x: 15 * a
    return result(a)

print(q2_fn(7))

105

**Question 3**

In [32]:
# Use: Tuple Sorting Lambda 
# Input:
# Output:

lst1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def q3_fn(lst):
    return [sorted(lst, key = lambda item: item[1])]

q3_fn(lst1)

[[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]]

**Question 4**

In [ ]:
# Use: Dictionary list sorting using lambda function.
# Input:
# Output:

my_dict = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def q4_fn(input_dict):
    return sorted(my_dict, key= lambda x: x['color'])

q4_fn(my_dict)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}]

**Question 5**

In [3]:
# Use: Integer filtering using Lambda
# Input:
# Output:

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q5_fn(lst):
    even = list(filter(lambda x: x % 2 == 0, lst))
    odd = list(filter(lambda x: x % 2 != 0, lst))

    return even, odd

q5_fn(nums)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

**Question 6**

In [7]:
# Use: Square and Cube using lambda
# Input:
# Output:


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q6_fn(lst):
    x_squared = list(map(lambda x: x*x, lst))
    x_cubed = list(map(lambda x: x*x*x, lst))

    return x_squared, x_cubed

squared, cubed = q6_fn(nums)
print("Squared: {}\n Cubed: {}".format(squared, cubed))

Squared: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
 Cubed: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

**Question 7**

In [12]:
# Use: String start check using lambda
# Input:
# Output:

s1 = "womenizer"

def q7_fn(s, c):
    starts_with = lambda x: True if s.startswith(c) else False

    return starts_with(c)

q7_fn(s1, 'N')

False

**Question 8**

In [32]:
# Use: Datetime Extractor Lambda
# Input:
# Output:
import datetime

now = datetime.datetime.now()

print(now)

def q8_fn(date_time):
    year = lambda x: x.year
    month = lambda x: x.month
    day = lambda x: x.day
    t = lambda x: x.time()

    return (year(date_time), month(date_time), day(date_time), t(date_time))
 
res = q8_fn(now)
print(res)

2026-01-29 20:31:28.154560
(2026, 1, 29, datetime.time(20, 31, 28, 154560))

**Question 9**

In [35]:
# Use: String Number Checker Lambda
# Input:
# Output:

s1 = "128asa11"

def q8_fn(s):
    num_check = lambda x: True if x.isdigit() else False
    for char in s:
        print(num_check(char))

q8_fn(s1)

True
True
True
False
False
False
True
True

**Question 10**

In [54]:
# Use: Fibonacci Series Lambda
# Input:
# Output:

def q19_fn(z):
    from functools import reduce

    fibonacci_series = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n-2), [0, 1])

    return fibonacci_series(z)

def fibonacci(x):
    a = 0
    b = 1
    for i in range(x):
        print(a)
        c = a+b
        a=b
        b=c

fibonacci(15)
q19_fn(10)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**Question 11**

In [ ]:
xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

{1, 2, 8, 9}

In [72]:
# Use: This program finds the intersection of two arrays using Lambda
# Input:
# Output:

xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

def q11_fn(arr1, arr2):
    arr_intersect = lambda x, y: set(x).intersection(set(y))

    return list(arr_intersect(arr1, arr2))

print(q11_fn(xarr, yarr))

def q11_fn_v2(arr1, arr2):
    arr_intersect_v2 = list(filter(lambda x: x in arr1, arr2))

    return arr_intersect_v2

q11_fn_v2(xarr, yarr)

[8, 1, 2, 9]

[1, 2, 8, 9]

**Question 12**

In [73]:
# Use: Rearrange Pos/Neg Lambda
# Input:
# Output:

xarr = [-1, 2, -3, 5, 7, 8, 9, -10]

def q12_fn(arr):
    arrange = sorted(arr, key = lambda x: 0 if x == 0 else -1 / x)
    
    return arrange

q12_fn(xarr)

[2, 5, 7, 8, 9, -10, -3, -1]

**Question 13**

In [77]:
# Use: Even/Odd Count Lambda
# Input:
# Output:

xarr = [1, 2, 3, 5, 7, 8, 9, 10]

def q13_fn(arr):
    even = len(list(filter(lambda x: x % 2 == 0, arr)))
    odd = len(list(filter(lambda x: x % 2 != 0, arr)))

    return even, odd

even_numbers, odd_numbers = q13_fn(xarr) 

print("Even numbers: {}\nOdd numbers: {}".format(even_numbers, odd_numbers))

Even numbers: 3
Odd numbers: 5

**Question 14**

In [81]:
# Use: Length Filter Strings Lambda
# Input:
# Output:

weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

def q14_fn(lst):
    string_size = list(filter(lambda x: len(x) == 6, lst))

    return string_size

q14_fn(weekdays)

['Monday', 'Friday', 'Sunday']

**Question 15**

In [83]:
# Use: Add Lists with Lambda
# Input:
# Output:

list1 = [1, 2, 3]
list2 = [4, 5, 6]

def q15_fn(lst1, lst2):
    lst_sum = list(map(lambda x, y: x + y, lst1, lst2))

    return lst_sum

q15_fn(list1, list2)

[5, 7, 9]

**Question 16**

In [ ]:
# Use: Present second lowest value within a dictionary
# Input:
# Output:

students = []
second_name = []
second_low = 0
n = int(input("Input number of students: "))

for _ in range(n):
    s_name = input("Name: ")
    score = float(input("Grade: "))
    students.append([s_name, score])


print("\nNames and Grades of all students: ")
print(students)

def q16_fn(lst):
    # Sort in order
    order = sorted(lst, key = lambda x: int(x[1]))
    # Find the second lowest grade among students
    for i in range(n):
        if order[i][1] != order[0][1]:
            second_low = order[i][1]
            break
    
    return second_low

print("Second lowest: {}".format(q16_fn(students)))

Names and Grades of all students:
[['Mick', 12.0], ['John', 11.0], ['Frank', 10.0]]
Second lowest: 11.0

**Question 17**

In [96]:
# Use: This program checks whether a number is divisible by 19 or 13
# Input:
# Output:

list1 = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

def q17_fn(lst):
    result = list(filter(lambda x: x % 19 == 0 or x % 13 == 0, lst))
    
    return result

q17_fn(list1)

[19, 65, 57, 39, 152, 190]

**Question 18**

In [104]:
list1 = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

print(list1[::])
print(list1[::-1])

['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']
['aaa', 'Java', 'abcd', 'Python', 'w3r', 'php']

In [ ]:
# Use: Palindrome Filter Lambda
# Input:
# Output:

list1 = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

def q18_fn(lst):
    palindrome = list(filter(lambda x: x if x[::] == x[::-1] else '', lst))

    return palindrome

print(q18_fn(list1))

def q18_fn_v2(lst):
    result = list(filter(lambda x: (x == "".join(reversed(x))), list1))

    return result

res = q18_fn_v2(list1)
print(res)

['php', 'aaa']
['php', 'aaa']

**Question 19**

In [7]:
# Use: Anagram Finder Lambda
# Input:
# Output:

t = 'abcd'
list1 = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']

def q19_fn(lst, target):
    from collections import Counter
    is_anagram = list(filter(lambda x: Counter(x) == Counter(target), lst))

    return is_anagram

q19_fn(list1, t)

['bcda', 'cbda', 'adcb']

**Question 20**

In [1]:
# Use: Number Extraction & Filter Lambda
# Input:
# Output:

s1 = "sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5"
length = len(s1)
str_num = [i for i in s1.split(' ')]

def q20_fn(s):
    numbers = sorted([int(x) for x in str_num if x.isdigit()])
    
    for i in (filter(lambda x: x > length, numbers)):
        print(i, end = ' ') 

q20_fn(s1)

56

**Question 21**

In [ ]:
# Use: Multiply List Lambda
# Input:
# Output:

mmplier = 2
list1 = [2, 4, 6, 9, 11]

def q21_fn(lst, m):
    mmply = list(map(lambda x: x * m, lst))

    return mmply

q21_fn(list1, mmplier)

[4, 8, 12, 18, 22]

**Question 22**

In [29]:
# Use: Sum Length of Names Lambda, after removing those that start with lowercase letters
# Input:
# Output:

sample_names = ['sally', 'Dylan', 'rebecca', 'Diana', 'Joanne', 'keith']

def q22_fn(lst):
    naam_filter = list(filter(lambda x: x[0].isupper(), lst))


    return len(''.join(naam_filter))

q22_fn(sample_names)

16

**Question 23**

In [30]:
# Use: Positive Negative Sum Lambda
# Input:
# Output:

list1 =  [2, 4, -6, -9, 11, -12, 14, -5, 17]

def q23_fn(lst):
    total_positive = sum(list(filter(lambda x: x > 0, lst)))
    total_negative = sum(list(filter(lambda x: x < 0, lst)))

    return total_positive, total_negative


sum_positive, sum_negative = q23_fn(list1)

print(f"Sum of the positive numbers: {sum_positive}\nSum of negative numbers: {sum_negative}")

Sum of the positive numbers: 48
Sum of negative numbers: -32

**Question 24**

In [35]:
# Use: Divisible Range Checker 
# Input:
# Output:

def q24_fn(start, end):
    return [
        i for i in range(start, end+1)
            if not any(map(lambda x: int(x) == 0 or i % int(x) != 0, str(i)))
    ]

q24_fn(2, 10)

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def div_range(start, end):
    return [
        i for i in range(start, end+1)
            if not any(map(lambda x: int(x) == 0 or i % int(x) != 0, str(i)))
    ]

[11, 12, 15, 22, 24, 33, 36, 44, 48]

**Question 25**

In [ ]:
# Use: Next Bigger number lambda
# Input:
# Output:

def q25_fn(n):
    
    # Convert number 'n' into a list of its digits represented as strings
    nums = list(str(n))
    
    # Iterate through the digits from the second-to-last to the first digit
    for i in range(len(nums) -2, -1, -1):
        
        # Checks if the current digit is less than the next
        if nums[i] < nums[i+1]:
            
            # Slice the index from current index to the end and store it in 'z'
            z = nums[i:]

            # Find the smallest digit greater than the current digit
            y = min(filter(lambda x: x > z[0], z))
            
            # Remove 'y' from the list 'z'
            z.remove(y)
            
            # Sort the remaining elements in 'z' 
            z.sort()
            
            # Rearrange the digits in 'nums' to form the next biggest number
            nums[i:] = [y] + z
            
            # Convert the rearranged list of digits back to integer form and return
            return int("".join(nums))
    
    # If there finding the bigger number is not possible then return False
    return False

q25_fn(13)

31

In [ ]:
def fn_fn(n):
    nums = list(str(n))
    for i in range(len(nums) -2, -1, -1):
        if nums[i] < nums[i+1]:
            z = nums[i:]
            y = min(filter(lambda x: x > z[0], z))
            z.remove(y)
            z.sort()
            nums[i:] = [y] + z
            return int("".join(nums))
    
    return False

31

**Question 26**

In [ ]:
# Use: Max/Min List Length Lambda 
# Input: 
# Output: 

nested_list = [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
len(nested_list[1])
# ----------------------------------------------------------------------------
def maximum_length(lst):
    max_lst = max(lst, key = lambda x: len(x))
    max_lst_len = max(len(x) for x in lst)

    return (max_lst_len, max_lst)
# ----------------------------------------------------------------------------
def minimum_length(lst):
    min_lst = min(lst, key = lambda x: len(x))
    min_lst_len = min(len(x) for x in lst)

    return (min_lst_len, min_lst)
# ----------------------------------------------------------------------------
print("The maximum list: {}\nThe minimum list: {}".format(maximum_length(nested_list), minimum_length(nested_list)))

The maximum list: (3, [13, 15, 17])
The minimum list: (1, [0])

**Question 27**

In [13]:
# Use: Sort Sublists Lambda 
# Input: 
# Output:

nested_list = [['green', 'red'], ['black', 'white'], ['white', 'black', 'orange']]

def q27_fn(lst):
    return [sorted(x, key = lambda x: x[0]) for x in lst]

q27_fn(nested_list)

[['green', 'red'], ['black', 'white'], ['black', 'orange', 'white']]

**Question 28**

In [15]:
# Use: Sort Lists by Length and Value 
# Input: 
# Output:

nested_list = [[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

def q28_fn(lst):
    return sorted(lst, key = lambda x: (len(x), x))

q28_fn(nested_list)

[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

**Question 29**

In [ ]:
# Use: Heterogeneous Max Finder
# Input:
# Output:

heterogeneous_list = ['Python', 3, 2, 4, 5, 'version']

def q29_fn(lst):

    return max(lst, key = lambda x: (isinstance(x, int), x))

q29_fn(heterogeneous_list)

5

**Question 30**

In [44]:
# Use: Matrix Row Sum Sort
# Input:
# Output:

A = [[1, 2, 3], [2, 4, 5], [1, 1, 1]]

B = [[1, 2, 3], [-2, 4, -5], [1, -1, 1]]

def q30_fn(mat):
    return sorted(mat, key = lambda x: sum(x))

q30_fn(B)

[[-2, 4, -5], [1, -1, 1], [1, 2, 3]]

**Question 31**

In [ ]:
# Use: Extract String by Size
# Input:
# Output:

lst1 = ['Python', 'list', 'exercises', 'practice', 'solution']
target_len = 8



def q31_fn(lst, t):
    return list(filter(lambda x: len(x) == t, lst))

q31_fn(lst1, target_len)

['practice', 'solution']

**Question 32**

In [48]:
# Use: Count floats
# Input:
# Output:

lst1 = [1, 'abcd', 3.12, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]

def q32_fn(lst):
    return len(list(filter(lambda x: (isinstance(x, float)), lst)))

q32_fn(lst1)

3

**Question 33**

In [ ]:
# Use: Password checker Lambda
# Input:
# Output:

pw = ''
# Check for a capital letter, lowercase letter, a number, and a minimum length of 6

    
def q33_fn(password):    
    messg = [
        any(char.isdigit() for char in password), 
        any(char.islower() for char in password), 
        any(char.isupper() for char in password), 
        len(password) >= 8]
    
    
    if all(messg):
        return "Works"
    else:
        return "Dont"

q33_fn(pw) 


# TRASH EXERCISE!!!

'Dont'

**Question 34**

In [7]:
# Use: Student Height/Weight Filter
# Input:
# Output:

my_dict = {'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

def q34_fn(input_dict):
    return dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), input_dict.items()))

q34_fn(my_dict)

{'Cierra Vega': (6.2, 70)}

**Question 35**

In [33]:
# Use: Sorted List Check 
# Input:
# Output:

lst1 = [1, 2, 4, 5, 8, 10, 12, 14, 22, 17]

def q35_fn(lst):
    return True if sorted(lst, key = lambda x: x) == lst else False

q35_fn(lst1)

False

**Question 36**

In [75]:
# Use: Extract Nth Element
# Input: A list
# Output: (n=0) element

lst1 = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Kurt Cobain', 94, 93), ('Beau Turnbull', 92, 98)]

lst1[1][1]

def q36_fn(lst, i):
    return list(map(lambda x: x[i], lst))

q36_fn(lst1, 0)

['Greyson Fulton', 'Brady Kent', 'Kurt Cobain', 'Beau Turnbull']

**Question 37**

In [79]:
# Use: Sort List
# Input: A list
# Output: (n=0) element

lst1 = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]

def q37_fn(lst, i):
    return list(sorted(lst, key = lambda x: x[i])) 

q37_fn(lst1, 2)

[('Wyatt Knott', 91, 94),
 ('Brady Kent', 97, 96),
 ('Beau Turnbull', 94, 98),
 ('Greyson Fulton', 98, 99)]

**Question 38**

In [ ]:
# Use: Remove Elements from a List
# Input:
# Output:

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

def q38_fn(lst1, lst2):
    return list(filter(lambda x: x not in lst2, lst1))    

q38_fn(list1, list2)

[1, 3, 5, 7, 9, 10]

**Question 39**

In [3]:
# Use: Remove Elements from a List
# Input:
# Output:

list1 = ['red', 'black', 'white', 'green', 'orange']
sub_str = 'e'

def q39_fn(lst, substr):
    return list(filter(lambda x: substr in x, lst))

q39_fn(list1, sub_str)

['red', 'white', 'green', 'orange']

**Question 40**

In [ ]:
# Use: Nested List Intersection
# Input:
# Output:

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
list2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

set(list2[2]).intersection(list1)

def q40_fn(lst1, lst2):
    res_list = []
    for i in range(len(lst2)):
        res_list.append(list(filter(lambda x: x in lst2[i], lst1)))
    
    return res_list

q40_fn(list1, list2)

def q40_fn_v2(lst1, lst2):
    return [list(filter(lambda x: x in lst1, sublist)) for sublist in lst2]

q40_fn_v2(list1, list2)

[[12], [7, 11], [1, 5, 8]]

**Question 41**

In [31]:
# Use: Reverse strings
# Input:
# Output:

list1 = ['Red', 'Green', 'Blue', 'White', 'Black']
list2 = ['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

def q41_fn(lst1):
    return list(map(lambda x: x[::-1], lst1))

q41_fn(list2)

['Red', 'Green', 'Blue', 'White', 'Black']

**Question 42**

In [45]:
# Use: Product of List
# Input:
# Output:
from functools import reduce

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2.2, 4.12, 5.61, 4.23, 41.5]

def q42_fn(lst):
    return reduce(lambda x, y: x*y, lst, 1)

q42_fn(list1)

3628800

**Question 43**

In [49]:
# Use: Multiply Numbers in List
# Input:
# Output:

list1 = [4, 3, 2, 2, -1, 18]
list2 = [2, 4, 8, 8, 3, 2, 9]

def q43_fn(lst):
    from functools import reduce
    return reduce(lambda x, y: x*y, lst)

q43_fn(list1)

-864

**Question 44**

In [3]:
# Use: Average Tuple of Tuples
# Input:
# Output:

tupl = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))


def q44_fn(tpl):
    return tuple(map(lambda x: sum(x) / float(len(x)), zip(*tpl)))

q44_fn(tupl)

(30.5, 34.25, 27.0)

**Question 45**

In [29]:
# Use: Convert String to Integer
# Input:
# Output:

tupl = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34'))

def q45_fn(tpl):
    return list(map(lambda x: (int(x[0]), int(x[2])), tpl))

q45_fn(tupl)

[(233, 33), (1416, 55), (2345, 34)]

**Question 46**

In [36]:
# Use: Index Max/Min Finder
# Input:
# Output:

list1 = [12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 11, 10.25, 54]

def q46_fn(lst):
    maximum = max(enumerate(lst), key = lambda x: x[1])
    minimum = min(enumerate(lst), key = lambda x: x[1])

    return maximum, minimum

maximum_value, minimum_value = q46_fn(list1)
print("The maximum (index, value): {}\nThe minimum (index, value): {}".format(maximum_value, minimum_value))

The maximum (index, value): (5, 89)
The minimum (index, value): (3, 10.11)

**Question 47**

In [55]:
# Use: Sort Mixed List
# Input:
# Output:

list1 = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

def q47_fn(lst):
    return list(sorted(lst, key = lambda x: (isinstance(x, str), x)))

q47_fn(list1)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

**Question 48**

In [56]:
# Use: Numerical Sort on Strings
# Input:
# Output:

list1 = ['4', '12', '45', '7', '0', '100', '200', '-12', '-500']

def q48_fn(lst):
    return sorted(lst, key = lambda x: int(x))

q48_fn(list1)

['-500', '-12', '0', '4', '7', '12', '45', '100', '200']

**Question 49**

In [63]:
# Use: Count occurences
# Input:
# Output:

list1 = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

def q48_fn(lst):
    return dict(map(lambda x: (x, list(lst).count(x)), lst)) 

q48_fn(list1)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

**Question 50**

In [ ]:
# Use: Remove Specific Words
# Input:
# Output:

list1 = ['orange', 'red', 'green', 'blue', 'white', 'black']
to_remove = ['red', 'orange']


def q50_fn(lst, words):
    return list(filter(lambda x: x not in words, lst))

['green', 'blue', 'white', 'black']

**Question 51**

In [ ]:
# Use: Max/Min Tuple in List Lambda
# Input:
# Output:

list1 = [('V', 62), ('VI', 68), ('VII', 72), ('VIII', 70), ('IX', 74), ('X', 65)]

def q51_fn(lst):
    maximum = max(lst, key = lambda x: x[1])[1]
    minimum = min(lst, key = lambda x: x[1])[1]
    
    return maximum, minimum

q51_fn(list1)

62

(74, 62)

**Question 52**

In [23]:
# Use: Remove None Values
# Input:
# Output:

list1 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

def q52_fn(lst):
    return list(filter(lambda x: x is not None, lst))

q52_fn(list1)

[12, 0, 23, -55, 234, 89, 0, 6, -12]