### Python Lambda Function Exercise

**Question 1**

In [ ]:
# Use: This program uses a lambda function to add 15 to a given number which is passed as an argument and also creates a lambda function that multiplies argument x with argument y and prints the result.
# Input:
# Output:

a = 20
b = 20
def q1_fn(n, z):
    add_int = lambda x: x + 15
    mmply_arg  = lambda x, y: x * y  

    return add_int(n), mmply_arg(n, z)

res1, res2 = q1_fn(a, b)

print(res1, res2)

35 400

**Question 2**

In [31]:
# Use: This program creates a function that takes one argument, and that argument will be multiplied by an unknown given number. 
# Input:
# Output:

def q2_fn(a):
    result = lambda x: 15 * a
    return result(a)

print(q2_fn(7))

105

**Question 3**

In [32]:
# Use: Tuple Sorting Lambda 
# Input:
# Output:

lst1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def q3_fn(lst):
    return [sorted(lst, key = lambda item: item[1])]

q3_fn(lst1)

[[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]]

**Question 4**

In [ ]:
# Use: Dictionary list sorting using lambda function.
# Input:
# Output:

my_dict = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def q4_fn(input_dict):
    return sorted(my_dict, key= lambda x: x['color'])

q4_fn(my_dict)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}]

**Question 5**

In [3]:
# Use: Integer filtering using Lambda
# Input:
# Output:

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q5_fn(lst):
    even = list(filter(lambda x: x % 2 == 0, lst))
    odd = list(filter(lambda x: x % 2 != 0, lst))

    return even, odd

q5_fn(nums)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

**Question 6**

In [7]:
# Use: Square and Cube using lambda
# Input:
# Output:


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q6_fn(lst):
    x_squared = list(map(lambda x: x*x, lst))
    x_cubed = list(map(lambda x: x*x*x, lst))

    return x_squared, x_cubed

squared, cubed = q6_fn(nums)
print("Squared: {}\n Cubed: {}".format(squared, cubed))

Squared: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
 Cubed: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

**Question 7**

In [12]:
# Use: String start check using lambda
# Input:
# Output:

s1 = "womenizer"

def q7_fn(s, c):
    starts_with = lambda x: True if s.startswith(c) else False

    return starts_with(c)

q7_fn(s1, 'N')

False

**Question 8**

In [32]:
# Use: Datetime Extractor Lambda
# Input:
# Output:
import datetime

now = datetime.datetime.now()

print(now)

def q8_fn(date_time):
    year = lambda x: x.year
    month = lambda x: x.month
    day = lambda x: x.day
    t = lambda x: x.time()

    return (year(date_time), month(date_time), day(date_time), t(date_time))
 
res = q8_fn(now)
print(res)

2026-01-29 20:31:28.154560
(2026, 1, 29, datetime.time(20, 31, 28, 154560))

**Question 9**

In [35]:
# Use: String Number Checker Lambda
# Input:
# Output:

s1 = "128asa11"

def q8_fn(s):
    num_check = lambda x: True if x.isdigit() else False
    for char in s:
        print(num_check(char))

q8_fn(s1)

True
True
True
False
False
False
True
True

**Question 10**

In [54]:
# Use: Fibonacci Series Lambda
# Input:
# Output:

def q19_fn(z):
    from functools import reduce

    fibonacci_series = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n-2), [0, 1])

    return fibonacci_series(z)

def fibonacci(x):
    a = 0
    b = 1
    for i in range(x):
        print(a)
        c = a+b
        a=b
        b=c

fibonacci(15)
q19_fn(10)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**Question 11**

In [ ]:
xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

{1, 2, 8, 9}

In [72]:
# Use: This program finds the intersection of two arrays using Lambda
# Input:
# Output:

xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

def q11_fn(arr1, arr2):
    arr_intersect = lambda x, y: set(x).intersection(set(y))

    return list(arr_intersect(arr1, arr2))

print(q11_fn(xarr, yarr))

def q11_fn_v2(arr1, arr2):
    arr_intersect_v2 = list(filter(lambda x: x in arr1, arr2))

    return arr_intersect_v2

q11_fn_v2(xarr, yarr)

[8, 1, 2, 9]

[1, 2, 8, 9]

**Question 12**

In [73]:
# Use: Rearrange Pos/Neg Lambda
# Input:
# Output:

xarr = [-1, 2, -3, 5, 7, 8, 9, -10]

def q12_fn(arr):
    arrange = sorted(arr, key = lambda x: 0 if x == 0 else -1 / x)
    
    return arrange

q12_fn(xarr)

[2, 5, 7, 8, 9, -10, -3, -1]

**Question 13**

In [77]:
# Use: Even/Odd Count Lambda
# Input:
# Output:

xarr = [1, 2, 3, 5, 7, 8, 9, 10]

def q13_fn(arr):
    even = len(list(filter(lambda x: x % 2 == 0, arr)))
    odd = len(list(filter(lambda x: x % 2 != 0, arr)))

    return even, odd

even_numbers, odd_numbers = q13_fn(xarr) 

print("Even numbers: {}\nOdd numbers: {}".format(even_numbers, odd_numbers))

Even numbers: 3
Odd numbers: 5

**Question 14**

In [81]:
# Use: Length Filter Strings Lambda
# Input:
# Output:

weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

def q14_fn(lst):
    string_size = list(filter(lambda x: len(x) == 6, lst))

    return string_size

q14_fn(weekdays)

['Monday', 'Friday', 'Sunday']

**Question 15**

In [83]:
# Use: Add Lists with Lambda
# Input:
# Output:

list1 = [1, 2, 3]
list2 = [4, 5, 6]

def q15_fn(lst1, lst2):
    lst_sum = list(map(lambda x, y: x + y, lst1, lst2))

    return lst_sum

q15_fn(list1, list2)

[5, 7, 9]

**Question 16**

In [ ]:
# Use: Present second lowest value within a dictionary
# Input:
# Output:

students = []
second_name = []
second_low = 0
n = int(input("Input number of students: "))

for _ in range(n):
    s_name = input("Name: ")
    score = float(input("Grade: "))
    students.append([s_name, score])


print("\nNames and Grades of all students: ")
print(students)

def q16_fn(lst):
    # Sort in order
    order = sorted(lst, key = lambda x: int(x[1]))
    # Find the second lowest grade among students
    for i in range(n):
        if order[i][1] != order[0][1]:
            second_low = order[i][1]
            break
    
    return second_low

print("Second lowest: {}".format(q16_fn(students)))

Names and Grades of all students:
[['Mick', 12.0], ['John', 11.0], ['Frank', 10.0]]
Second lowest: 11.0

**Question 17**

In [96]:
# Use: This program checks whether a number is divisible by 19 or 13
# Input:
# Output:

list1 = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

def q17_fn(lst):
    result = list(filter(lambda x: x % 19 == 0 or x % 13 == 0, lst))
    
    return result

q17_fn(list1)

[19, 65, 57, 39, 152, 190]

**Question 18**

In [104]:
list1 = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

print(list1[::])
print(list1[::-1])

['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']
['aaa', 'Java', 'abcd', 'Python', 'w3r', 'php']

In [ ]:
# Use: Palindrome Filter Lambda
# Input:
# Output:

list1 = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

def q18_fn(lst):
    palindrome = list(filter(lambda x: x if x[::] == x[::-1] else '', lst))

    return palindrome

print(q18_fn(list1))

def q18_fn_v2(lst):
    result = list(filter(lambda x: (x == "".join(reversed(x))), list1))

    return result

res = q18_fn_v2(list1)
print(res)

['php', 'aaa']
['php', 'aaa']

**Question 19**

In [7]:
# Use: Anagram Finder Lambda
# Input:
# Output:

t = 'abcd'
list1 = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']

def q19_fn(lst, target):
    from collections import Counter
    is_anagram = list(filter(lambda x: Counter(x) == Counter(target), lst))

    return is_anagram

q19_fn(list1, t)

['bcda', 'cbda', 'adcb']

**Question 20**

In [22]:
# Use: Number Extraction & Filter Lambda
# Input:
# Output:

s1 = "sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5"
length = len(s1)
str_num = [i for i in s1.split(' ')]

def q20_fn(s):
    numbers = sorted([int(x) for x in str_num if x.isdigit()])
    
    for i in (filter(lambda x: x > length, numbers)):
        print(i, end = ' ') 

q20_fn(s1)

56

**Question 21**

In [ ]:
# Use: Multiply List Lambda
# Input:
# Output:

mmplier = 2
list1 = [2, 4, 6, 9, 11]

def q21_fn(lst, m):
    mmply = list(map(lambda x: x * m, lst))

    return mmply

q21_fn(list1, mmplier)

[4, 8, 12, 18, 22]

**Question 22**

In [29]:
# Use: Sum Length of Names Lambda, after removing those that start with lowercase letters
# Input:
# Output:

sample_names = ['sally', 'Dylan', 'rebecca', 'Diana', 'Joanne', 'keith']

def q22_fn(lst):
    naam_filter = list(filter(lambda x: x[0].isupper(), lst))


    return len(''.join(naam_filter))

q22_fn(sample_names)

16

**Question 23**

In [30]:
# Use: Positive Negative Sum Lambda
# Input:
# Output:

list1 =  [2, 4, -6, -9, 11, -12, 14, -5, 17]

def q23_fn(lst):
    total_positive = sum(list(filter(lambda x: x > 0, lst)))
    total_negative = sum(list(filter(lambda x: x < 0, lst)))

    return total_positive, total_negative


sum_positive, sum_negative = q23_fn(list1)

print(f"Sum of the positive numbers: {sum_positive}\nSum of negative numbers: {sum_negative}")

Sum of the positive numbers: 48
Sum of negative numbers: -32

**Question 24**

In [35]:
# Use: Divisible Range Checker 
# Input:
# Output:

def q24_fn(start, end):
    return [
        i for i in range(start, end+1)
            if not any(map(lambda x: int(x) == 0 or i % int(x) != 0, str(i)))
    ]

q24_fn(2, 10)

[2, 3, 4, 5, 6, 7, 8, 9]