### Python Set Exercise

**Question 1**

In [3]:
# Use: Perfroms basic set operations
# Input:
# Output:

Set = {"apple", "banana", "mango", "orange"}

Set.add("grape")
Set.remove("banana")
Set.discard("mango")

print(Set)

{'orange', 'grape', 'apple'}

**Question 2**

In [9]:
# Use: Demonstrates Union of Sets
# Input:
# Output:

set1 = {10 , 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

union_set = set1.union(set2)

**Question 3**

In [11]:
# Use: Intersection of Sets
# Input: 
# Output:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

intersected_set = set1.intersection(set2)

print(intersected_set)

{40, 50, 30}

**Question 4**

In [12]:
# Use: Difference of Sets. This code returns elements that are present in set1 but not in set2
# Input: 
# Output:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}


difference_set = set1.difference(set2)

print(difference_set)

{10, 20}

**Question 5**

In [13]:
# Use: Symmetric Difference. Returns a new set containing elements that are unique to either set1 or set 2, but not in both. Like finding the union and then removing the intersection
# Input:
# Output:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

sym_diff_set = set1.symmetric_difference(set2)

print(sym_diff_set)

{20, 70, 10, 60}

**Question 6**

In [20]:
# Use: Add a list of elements to a set
# Input:
# Output:

set1 = {"Yellow", "Orange", "Black"}
lst = ["Blue", "Green", "Red"]

for word in lst:
    set1.add(word)

print(set1)

{'Green', 'Yellow', 'Blue', 'Red', 'Orange', 'Black'}

**Question 7**

In [ ]:
# Use: Set Difference Update
# Input: 
# Output:

set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)

print(set1)

{10, 30}

**Question 8**

In [51]:
# Use: Remove Items From a Set Simultaneously
# Input:
# Output:

set1 = {10, 20, 30, 40, 50}

set1.difference_update({10, 20, 30})

print(set1)

{50, 40}

**Question 9**

In [52]:
# Use: Checks whether set1 is the subset of set2  
# Input:
# Output:

s1 = {10, 20}
s2 = {10, 20, 30, 40}

s1.issubset(s2)

True

**Question 10**

In [53]:
# Use: Check whether set2 is a superset of set1
# Input:
# Output:

set1 = {10, 20}
set2 = {10, 20, 30, 40}

set2.issuperset(set1)

True

**Question 11**

In [55]:
# Use: Write a code to check if two sets have any elements in common. If yes, display the common.
# Input:
# Output:

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}


new_set = set1.intersection(set2)

print("The two sets have this value in common: {}".format(new_set))

The two sets have this value in common: {10}

**Question 12**

In [57]:
# Use: Set Symmetric Difference Update, updates set1 by adding items from set2 that are not common to both sets.
# Input:
# Output:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)

print(set1)

{20, 70, 10, 60}

**Question 13**

In [59]:
# Use: Set Intersection Update. Removes items from set1 that are not present in set2
# Input: 
# Output:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)

print(set1)

{40, 50, 30}

**Question 14**

In [61]:
# Use: Find Common Elements in Two Lists
# Input: 
# Output:

list1 = [10, 20, 30, 40]
list2 = [30, 40, 50, 60]

new_set = set(list1).intersection(set(list2))

print(new_set)

{40, 30}

**Question 15**

In [67]:
# Use: Frozen set
# Input: Create a frozen set.
# Output: 

lst = [10, 20, 30]

frozen_set = frozenset(lst)

print(frozen_set)

frozenset({10, 20, 30})

**Question 16**

In [ ]:
# Use: Write code to count the number of unique words given a sentence.
# Input: s: Any sentence
# Output: Number of unique words in that sentence

sentence = "A dog is a simple animal and a selfless animal"  

def q16_fn(s):
    return len(set(s.lower().split()))

q16_fn(sentence)

7