In [ ]:
# Q1

def q1_fn(x):
    return (lambda x: x + 15)(x) 
    
def q1_fn_2(x, y):
    return (lambda x, y: x*y)(x, y)

     

print(q1_fn(5), q1_fn_2(5, 5))

20 25

In [17]:
# Q2

arg = 5

def q2_fn(arg, n):
    return (lambda x, n: x*n)(arg, n)

q2_fn(arg, 10)

50

In [19]:
# Q3

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def q3_fn(lst):
    return list(sorted(lst, key = lambda x: x[1]))

q3_fn(list1)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
# Q4

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
sort_key = ''


def q4_fn(lst):
    return list(sorted(lst, key = lambda x: x[sort_key]))

q4_fn(list1)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [25]:
# Q5

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q5_fn(lst):
    even = list(filter(lambda x: x % 2 == 0, lst))
    odd = list(filter(lambda x: x % 2 != 0, lst))

    return even, odd

print(q5_fn(list1))

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [26]:
# Q6

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q6_fn(lst):
    squared = list(map(lambda x: x*x, lst))
    cubed = list(map(lambda x: x*x*x, lst))

    return squared, cubed

q6_fn(list1)

([1, 4, 9, 16, 25, 36, 49, 64, 81, 100],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000])

In [28]:
# Q7

lst = ['red', 'blue', 'yellow', 'orange', 'rivarly', 'backhand']
ch = 'r'

def q7_fn(lst, chr):
    return list(map(lambda x: x[0] is chr, lst))

q7_fn(lst, ch)

[True, False, False, False, True, False]

In [4]:
# Q8
import datetime

now = datetime.datetime.now()
print(now)

# Define a lambda function 'year' to extract the year from a given datetime object 'x'
year = lambda x: x.year

# Define a lambda function 'month' to extract the month from a given datetime object 'x'
month = lambda x: x.month

# Define a lambda function 'day' to extract the day from a given datetime object 'x'
day = lambda x: x.day

# Define a lambda function 't' to extract the time from a given datetime object 'x'
t = lambda x: x.time()

# Print the year extracted from the current datetime object 'now'
print(year(now))

# Print the month extracted from the current datetime object 'now'
print(month(now))

# Print the day extracted from the current datetime object 'now'
print(day(now))

# Print the time extracted from the current datetime object 'now'
print(t(now))

2026-02-01 19:51:08.859140
2026
2
1
19:51:08.859140

In [1]:
# Q9

list1 = ['9', '21fa', 'Nunchucks', 'Wraiburg', 'Blacky', '21', 'niklug2', 'wrasa21']

def q9_fn(lst):
    return list(map(lambda x: x.isdigit(), lst))

q9_fn(list1)

[True, False, False, False, False, True, False, False]

In [11]:
# Q10

z = 15

def q10_fn(z):
    from functools import reduce
    fibonacci_sequene = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n-2), [0, 1])

    return fibonacci_sequene(5)
    

q10_fn(5)

[0, 1, 1, 2, 3]

In [12]:
# Q11

xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

def q11_fn(arr1, arr2):
    return list(filter(lambda x: x in arr2, arr1))

q11_fn(xarr, yarr)

[1, 2, 8, 9]

In [ ]:
# Q12

xarr = [-1, 2, -3, 5, 7, 8, 9, -10]

def q12_fn(arr):
    return list(sorted(arr, key = lambda x: 0 if x == 0 else -1 / x))

q12_fn(xarr)

[2, 5, 7, 8, 9, -10, -3, -1]

In [20]:
# Q13

xarr = [1, 2, 3, 5, 7, 8, 9, 10]

def q13_fn(arr):
    even = len(list(filter(lambda x: x % 2 == 0, arr)))
    odd = len(list(filter(lambda x: x % 2 != 0, arr)))

    return even, odd

q13_fn(xarr)[1]

5

In [3]:
# Q14

list1 = ['orange', 'reluctant', 'noir', 'penny_pinchers', 'dins', 'silver', 'purple', 'green', 'gray']

def q14_fn(lst):
    return list(filter(lambda x: len(x) > 6, lst))

q14_fn(list1)

['reluctant', 'penny_pinchers']

In [ ]:
# Q15

list1 = [1, 2, 3]
list2 = [4, 5, 6]



def q15_fn(lst1, lst2):
    return list(map(lambda x, y: x+y, lst1, lst2))

q15_fn(list1, list2)

[5, 7, 9]

In [ ]:
# Q16

In [25]:
# Q17

list1 = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

def q17_fn(lst):
    return list(filter(lambda x: x % 19 == 0 or x % 13 == 0, lst))

q17_fn(list1)

[19, 65, 57, 39, 152, 190]

In [ ]:
# Q18

list1 = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

def q18_fn(lst):
    return list(filter(lambda x: x == x[::-1], lst))

['php', 'aaa']

In [31]:
# Q19

list1 = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']
target = 'adcb'

def q19_fn(lst, t):
    from collections import Counter
    return list(filter(lambda x: Counter(x) == Counter(t), lst))

q19_fn(list1, target)

['bcda', 'cbda', 'adcb']

In [11]:
# Q20

str_original = "sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5"
str_length = len(str_original)
str_num = [i for i in str_original.split(' ')]


def q20_fn(my_str):
    numbers = sorted(int(x) for x in my_str if x.isdigit())
    
    for i in (filter(lambda x: x > str_length, numbers)):
        print(i, end = ' ')

q20_fn(str_original)

In [ ]:
# Q21

list1 = [2, 4, 6, 9, 11]
mmplier = 2 

def q21_fn(lst, multi):
    return list(map(lambda x: x*multi, lst))

q21_fn(list1, mmplier)

[4, 8, 12, 18, 22]

In [16]:
# Q22

list1 = ['chuck', 'Mick', 'LongJohn', 'Steven', 'trevor', 'michael', 'Phillip']

def q22_fn(lst):
    lowercase = list(filter(lambda x: x[0].islower(), lst))

    return len(''.join(lowercase))

q22_fn(list1)

18

In [5]:
# Q23

list1 = [2, 4, -6, -9, 11, -12, 14, -5, 17]

def q23_fn(lst):
    positive = list(filter(lambda x: x > 0, lst))
    negative = list(filter(lambda x: x < 0, lst))

    return sum(positive), sum(negative)

q23_fn(list1)

(48, -32)

In [ ]:
# Q24

def q24_fn(start, end):
    return [
        n for n in range(start, end+1)
        if not any(map(lambda x: int(x) == 0 or n % int(x) != 0, str(n)))
    ]

q24_fn(1, 22)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 22]

In [ ]:
# Q25

In [25]:
# Q26

lst = [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]

def maximum_length(lst):
    max_list = max(lst, key = lambda x: max(x))
    
    return (len(max_list), max_list)

def minimum_length(lst):
    min_list = min(lst, key = lambda x: min(x))


    return (len(min_list), min_list)

maximum_length(lst)
minimum_length(lst)

(1, [0])

In [32]:
# Q27

list1 = [['green', 'orange'], ['black', 'white'], ['white', 'black', 'orange']]

def q27_fn(lst):
    return list(sorted(sublist, key = lambda x: x[0]) for sublist in lst)

q27_fn(list1)

[['green', 'orange'], ['black', 'white'], ['black', 'orange', 'white']]

In [41]:
# Q28
list1 = [[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

def q28_fn(lst):
    return list(sorted(lst, key = lambda x: (len(x), x)))

q28_fn(list1)

[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

In [ ]:
# Q29

list1 = ['Python', 3, 2, 4, 5, 'version']


def q29_fn(lst):
    return max(list(filter(lambda x: (isinstance(x, int)), lst)))

q29_fn(list1)

5

In [63]:
# Q30

A = [[1, 2, 3], [2, 4, 5], [1, 1, 1]]

def q30_fn(matrix):
    return list(sorted(matrix, key = lambda x: sum(x), reverse=True))

q30_fn(A)

[[2, 4, 5], [1, 2, 3], [1, 1, 1]]

In [64]:
# Q31

list1 = ['Python', 'list', 'exercises', 'practice', 'solution']

def q31_fn(lst):
    return list(filter(lambda x: len(x) == 8, lst))

q31_fn(list1)

['practice', 'solution']

In [65]:
# Q32

list1 = [1, 'abcd', 3.12, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]

def q32_fn(lst):
    return len(list(filter(lambda x: isinstance(x, float), lst)))

q32_fn(list1)

3

In [ ]:
# Q33 

# TRASH

In [ ]:
# Q34
my_dict = {'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

def q34_fn(input_dict):
    return dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), input_dict.items()))

q34_fn(my_dict)

5.9

{'Cierra Vega': (6.2, 70)}

In [ ]:
# Q35

list1 = [1, 2, 4, 6, 8, 50, 12, 14, 16, 17]

def q35_fn(lst):
    return True if list(sorted(lst, key = lambda x: x)) == lst else False

q35_fn(list1)

False

In [108]:
# Q36

list1 = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
elem = 1

def q36_fn(lst, ele):
    return list(map(lambda x: (x[ele]), lst))

q36_fn(list1, elem)

[98, 97, 91, 94]

In [109]:
# Q37

list1 = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
elem = 0

def q37_fn(lst, ele):
    return list(sorted(lst, key = lambda x: x[ele]))

q37_fn(list1, elem)

[('Beau Turnbull', 94, 98),
 ('Brady Kent', 97, 96),
 ('Greyson Fulton', 98, 99),
 ('Wyatt Knott', 91, 94)]

In [114]:
# Q38

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

def q38_fn(lst1, lst2):
    return list(filter(lambda x: x not in lst2, lst1))

q38_fn(list1, list2)

[1, 3, 5, 7, 9, 10]

In [116]:
# Q39

list1 = ['red', 'black', 'white', 'green', 'orange']
sub = 'ack'


def q39_fn(lst, substring):
    return list(filter(lambda x: substring in x, lst))

q39_fn(list1, sub)

['black']

In [5]:
# Q40

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
list2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]
 
def q40_fn(lst1, lst2):
    return [list(filter(lambda x: x in lst1, sublist)) for sublist in lst2]

q40_fn(list1, list2)

[[12], [7, 11], [1, 5, 8]]

In [16]:
# Q41

list1 = ['Red', 'Green', 'Blue', 'White', 'Black']

def q41_fn(lst):
    return list(map(lambda x: x[::-1], lst))

q41_fn(list1)

['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [64]:
# Q42

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2 = [2.2, 4.12, 6.6, 8.1, 8.3]

def q42_fn(lst):
    from functools import reduce
    return round(reduce(lambda x, y: x*y, lst, 1), 2)

q42_fn(list1)

3628800

In [23]:
# Q43

list1 = [4, 3, 2, 2, -1, 18]
list2 = [2, 4, 8, 8, 3, 2, 9]

def q43_fn(lst):
    from functools import reduce
    return reduce(lambda x, y: x*y, lst, 1)

q43_fn(list2)

27648

In [25]:
# Q44

tupl = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
tupl_2 = ((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))


def q44_fn(tpl):
    return tuple(map(lambda x: sum(x) / float(len(x)), zip(*tpl)))

q44_fn(tupl_2)

(25.5, -18.0, 3.75)

In [31]:
# Q45

tupl = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34'))


def q45_fn(tpl):
    return tuple(map(lambda x: (int(x[0]), int(x[2])), tpl))

q45_fn(tupl)

((233, 33), (1416, 55), (2345, 34))

In [ ]:
# Q46

list1 = [12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 11, 10.25, 54]

def maximum_position(lst):
    max_val = max(lst, key = lambda x: x)
    max_pos = lst.index(max_val) 

    return max_pos, max_val

def minimum_position(lst):
    min_val = min(lst, key = lambda x: x)
    min_pos = lst.index(min_val)

    return min_pos, min_val

print(maximum_position(list1))
print(minimum_position(list1))

(5, 89)
(3, 10.11)

In [47]:
# Q47

list1 = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

def q47_fn(lst):
    return list(sorted(lst, key = lambda x: (isinstance(x, str), x)))

q47_fn(list1)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [49]:
# Q48

list1 = ['4', '12', '45', '7', '0', '100', '200', '-12', '-500']

def q48_fn(lst):
    return list(sorted(lst, key = lambda x: int(x)))

q48_fn(list1)

['-500', '-12', '0', '4', '7', '12', '45', '100', '200']

In [51]:
# Q49

list1 = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

def q49_fn(lst):
    return dict(map(lambda x: (x, lst.count(x)), lst))

q49_fn(list1)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [54]:
# Q50
list1 = ['orange', 'red', 'green', 'blue', 'white', 'black']
to_remove = ['orange', 'black']

def q50_fn(lst, sublist):
    return list(filter(lambda x: x not in sublist, lst))

q50_fn(list1, to_remove)

['red', 'green', 'blue', 'white']

In [ ]:
# Q51

list1 = [('V', 62), ('VI', 68), ('VII', 72), ('VIII', 70), ('IX', 74), ('X', 65)]

def q51_fn(lst):
    max_val = max(lst, key = lambda x: x[1])[1]
    min_val = min(lst, key = lambda x: x[1])[1]
    
    return max_val, min_val

q51_fn(list1)

(74, 62)

In [63]:
# Q52

list1 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

def q52_fn(lst):
    return list(filter(lambda x: x is not None, lst))

q52_fn(list1)

[12, 0, 23, -55, 234, 89, 0, 6, -12]