### Python Tuple Exercises

**Question 1**

In [4]:
# Use: Perform Basic Tuple Operation
# Input:
# Output:

tpl = (1, 2, 3, 4, 5)
print("The third element: {}\nThe length: {}".format(tpl[3], len(tpl)))

The third element: 4
The length: 5

**Question 2**

In [14]:
# Use: Tuple repetition
# Input: tpl: A tuple object; n: Repetition number
# Output: Tuple content repetiton

tup = ('a', 'b')

def q2_fn(tpl, n):
    new_tpl = tup*n

    return new_tpl
        


q2_fn(tup, 3)

('a', 'b', 'a', 'b', 'a', 'b')

**Question 3**

In [17]:
# Use: This program demonstrates the method of slicing tuples
# Input: 
# Output:

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

numbers[3:7]

(4, 5, 6, 7)

**Question 4**

In [53]:
# Use: This program demonstrates the method of reversing a tuple
# Input: 
# Output:

tpl = (10, 20, 30, 40, 50)

tpl[-1::-1]

(50, 40, 30, 20, 10)

**Question 5**

In [65]:
# Use: Access Nested Tuples
# Input: 
# Output:

tpl = ("Orange", [10, 20, 30], (5, 15, 25)) 

def q5_fn(tup):
    target = 0
    for i in range(len(tup)):
        if isinstance(tup[i], list):
            for j in tup[i]:
                if(j == 20):
                    target = j
    
    return target

print("Long way: {}\n".format(q5_fn(tpl)))

# OR 

print("Short way: {}\n".format(tpl[1][1]))

Long way: 20

Short way: 20

**Question 6**

In [71]:
# Use: Create a tuple with single item 50
# Input: 
# Output:

tpl = (50,)
print(tpl)

(50,)

**Question 7**

In [80]:
# Use: Unpack the tuple into 4 variables
# Input: 
# Output:

tpl = (10, 20, 30, 40)

def q7_fn(tuple):
    a, b, c, d = tuple
        
    return a, b, c, d

print(q7_fn(tpl))

(10, 20, 30, 40)

**Question 8**

In [84]:
# Use: Swap tuples in Python
# Input:
# Output:

tpl1 = (11, 22)
tpl2 = (99, 88)

tpl1, tpl2 = tpl2, tpl1

print(tpl1, tpl2)

(99, 88) (11, 22)

**Question 9**

In [96]:
# Use: Copy specific elements from Tuple
# Input: 
# Output:

tpl1 = (11, 22, 33, 44, 55, 66)

tpl2 = tpl1[3:5]

print(tpl2)

(44, 55)

**Question 10**

In [103]:
# Use: List to a Tuple
# Input: 
# Output:

lst = [10, 20, 30]
tpl = tuple(lst)

print(tpl)

(10, 20, 30)

**Question 11**

In [115]:
# Use: Function Returning Tuple with min and max values within a list of numbers
# Input: lst: A list
# Output: tuple object with min and max values

import sys

nums = []

def q11_fn(lst):
    if not lst:
        return tuple((None, None))
    min = sys.maxsize
    max = 0
    for i in range(len(lst)):
        if(lst[i] > max):
            max = lst[i]
        if(lst[i] < min):
            min = lst[i]
    
    return tuple((min, max))

print(q11_fn(nums))

(None, None)

**Question 12**

In [124]:
# Use: Comparing Tuples
# Input: t1: Tuple 1; t2: Tuple 2
# Output: Compares the size of tuples

t1 = (1, 2, 3)
t2 = (1, 2, 4)

def q12_fn(t1, t2):
    if(t1 > t2):
        return print("{} is bigger than {}".format(t1, t2))
    if(t1 < t2):
        return print("{} is bigger than {}".format(t2, t1))
    else:
        return print("{} is equal to {}".format(t1, t2))

print(q12_fn(t1, t2))

(1, 2, 4) is bigger than (1, 2, 3)
None

**Question 13**

In [141]:
# Use: Removing Duplicates from Tuple
# Input: tuple: Any tuple
# Output: Unique elements in a tuple

tpl = (1, 2, 2, 3, 4, 4, 5)

def q13_fn(tup):
    return tuple(set(tpl))

def q13_fn_v2(tup):
    unique_elements = ()
    for item in tup:
        if item not in unique_elements:
            unique_elements+=(item, )
    
    return unique_elements


print(q13_fn(tpl))

(1, 2, 3, 4, 5)

**Question 14**

In [148]:
# Use: This function filters out students with scores less than 90 from a given list of tuples
# Input: tpl: Contains student names and score 
# Output: Students with scores higher than 90 or equal

tple = [('Alice', 85), ('Bob', 92), ('Charile', 78)]

def q14_fn(tpl):
    for i in range(len(tple)):
        if(tple[i][1] >= 90):
            print(tple[i])

q14_fn(tple)

('Bob', 92)

**Question 15**

In [155]:
# Use: This function creates a new tuple where each number is squared.
# Input:  
# Output:

t = (1, 2, 3, 4)

def q15_fn_v1(tpl):
    return tuple(map(lambda x: x**2, tpl))

def q15_fn_v2(tpl):
    squared_tpl = []
    for i in range(1, len(tpl)+1):
        squared_tpl.append(i*i)
    
    return tuple(squared_tpl)

q15_fn_v2(t)

(1, 4, 9, 16)

**Question 16**

In [157]:
# Use: Given a nested tuple, this function modifies the first item of a list (ex. 11) inside a following tuple (ex. 111).
# Input:
# Output:

t1 = (11, [22, 33], 44, 55)

def q16_fn(tpl):
    tpl[1][0] = 222

    return tpl

print(q16_fn(t1))

(11, [222, 33], 44, 55)

**Question 17**

In [161]:
# Use: Sorting a tuple of nested tuples by 2nd item
# Input:
# Output:

t = (('a', 23), ('b', 37), ('c', 11), ('d', 29))

def q17_fn(tpl):
    tpl = list(tpl)

    tpl.sort(key=lambda x: x[1])

    return tuple(tpl)

print(q17_fn(t))

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

**Question 18**

In [170]:
# Use: This function counts the number of occurences of item 50 from a tuple.
# Input: t1: A tuple; x: A target number
# Output:

t1 = (50, 10, 60, 70, 50)
n = 50

def q18_fn(tpl, x):
    target = x
    count = 0
    for i in range(len(tpl)):
        if(tpl[i] == target):
            count+=1
    
    return count

print(q18_fn(t1, n))

def q18_fn_v2(tpl, x):
    return tpl.count(x)

print(q18_fn_v2(t1, n))

2
2

**Question 19**

In [175]:
# Use: This function checks whether all items inside a tuple are the same
# Input:
# Output:

t1 = (45, 45, 45, 45)

def q19_fn(tpl):
    n = len(tpl)
    total = sum(tpl)
    if(t1[0] == total/n):
        return True
    
    return False

def q19_fn_v2(tpl):
    return all(i == tpl[0] for i in tpl)

print(q19_fn_v2(t1))

True