### Python Lambda Functions Advanced

**Question 1-5**

In [2]:
# 1 
add = lambda x: x + 15

multiply = lambda x, y: x*y

print(add(15), multiply(5, 5))

30 25

In [3]:
# 2

operation = lambda x: (x-15)**3

operation(20)

125

In [32]:
# 3

operation = lambda x, y: (x+y) if ((x*y) % 2 == 0) else (x-y)

operation(6, 4)

10

In [30]:
# 4

def is_prime(x):
    if(x == 0 or x == 1):
        return False
    for i in range(2, x):
        if(x % i == 0):
            return False
    
    return True

operation = lambda x: is_prime(x+15)

operation(2)

True

In [35]:
# 5 

operation = lambda x, y: (x*y) if (x*y) <= 15 else (x*y)/15 

operation(50, 10)

33.333333333333336

**Questions 6-10**

In [43]:
# 6

def unknown_multiplier(n):
    return lambda x: x * n

result = unknown_multiplier(5)

for i in range(1, 11):
    print("{}x Multiplier of 5: {}".format(i, result(i)))

1x Multiplier of 5: 5
2x Multiplier of 5: 10
3x Multiplier of 5: 15
4x Multiplier of 5: 20
5x Multiplier of 5: 25
6x Multiplier of 5: 30
7x Multiplier of 5: 35
8x Multiplier of 5: 40
9x Multiplier of 5: 45
10x Multiplier of 5: 50

In [65]:
# 7

def unknown_exponent(n):
    return lambda x: n**x

result = unknown_exponent(2)

for i in range(1, 21):
    print("({})nth Exponent of 2: {}".format(i, result(i)))

(1)nth Exponent of 2: 2
(2)nth Exponent of 2: 4
(3)nth Exponent of 2: 8
(4)nth Exponent of 2: 16
(5)nth Exponent of 2: 32
(6)nth Exponent of 2: 64
(7)nth Exponent of 2: 128
(8)nth Exponent of 2: 256
(9)nth Exponent of 2: 512
(10)nth Exponent of 2: 1024
(11)nth Exponent of 2: 2048
(12)nth Exponent of 2: 4096
(13)nth Exponent of 2: 8192
(14)nth Exponent of 2: 16384
(15)nth Exponent of 2: 32768
(16)nth Exponent of 2: 65536
(17)nth Exponent of 2: 131072
(18)nth Exponent of 2: 262144
(19)nth Exponent of 2: 524288
(20)nth Exponent of 2: 1048576

In [64]:
# 8

def unknown_divisor(n):
    return lambda x: n/x if x != 0 else "[DivisionByZeroError()]: Division by zero"

result = unknown_divisor(100)

for i in range(0, 21):
    print("({})nth divisor of 100: {}".format(i, result(i)))

(0)nth divisor of 100: [DivisionByZeroError()]: Division by zero
(1)nth divisor of 100: 100.0
(2)nth divisor of 100: 50.0
(3)nth divisor of 100: 33.333333333333336
(4)nth divisor of 100: 25.0
(5)nth divisor of 100: 20.0
(6)nth divisor of 100: 16.666666666666668
(7)nth divisor of 100: 14.285714285714286
(8)nth divisor of 100: 12.5
(9)nth divisor of 100: 11.11111111111111
(10)nth divisor of 100: 10.0
(11)nth divisor of 100: 9.090909090909092
(12)nth divisor of 100: 8.333333333333334
(13)nth divisor of 100: 7.6923076923076925
(14)nth divisor of 100: 7.142857142857143
(15)nth divisor of 100: 6.666666666666667
(16)nth divisor of 100: 6.25
(17)nth divisor of 100: 5.882352941176471
(18)nth divisor of 100: 5.555555555555555
(19)nth divisor of 100: 5.2631578947368425
(20)nth divisor of 100: 5.0

In [66]:
# 9

def factorial(x):
    result = 1 
    for i in range(1, x+1):
        result*=i
    
    return result

def unknown_factorial(n):
    return lambda x: n * factorial(x)

result = unknown_factorial(5)

for i in range(1, 11):
    print("({})nth factorial multiplied by 5: {}".format(i, result(i)))

(1)nth factorial multiplied by 5: 5
(2)nth factorial multiplied by 5: 10
(3)nth factorial multiplied by 5: 30
(4)nth factorial multiplied by 5: 120
(5)nth factorial multiplied by 5: 600
(6)nth factorial multiplied by 5: 3600
(7)nth factorial multiplied by 5: 25200
(8)nth factorial multiplied by 5: 201600
(9)nth factorial multiplied by 5: 1814400
(10)nth factorial multiplied by 5: 18144000

In [74]:
# 10 

def digit_sum(n):
    return sum(list(map(lambda x: int(x), str(n))))

def unknown_sum(n):
    return lambda x: n*digit_sum(x)

result = unknown_sum(5)

for i in range(1, 100, 6):
    print("({}) digit sum multiplied by 5: {}".format(i, result(i)))

(1) digit sum multiplied by 5: 5
(7) digit sum multiplied by 5: 35
(13) digit sum multiplied by 5: 20
(19) digit sum multiplied by 5: 50
(25) digit sum multiplied by 5: 35
(31) digit sum multiplied by 5: 20
(37) digit sum multiplied by 5: 50
(43) digit sum multiplied by 5: 35
(49) digit sum multiplied by 5: 65
(55) digit sum multiplied by 5: 50
(61) digit sum multiplied by 5: 35
(67) digit sum multiplied by 5: 65
(73) digit sum multiplied by 5: 50
(79) digit sum multiplied by 5: 80
(85) digit sum multiplied by 5: 65
(91) digit sum multiplied by 5: 50
(97) digit sum multiplied by 5: 80

**Question 11-15**

In [76]:
# 11

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: x[1]))

sorted_tuple_list = lst_tuple_sort(list1)
print(sorted_tuple_list)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [78]:
# 12
# Use: Sort a list of tuples by the length of string element

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: len(x[0])))

sorted_tuple_list = lst_tuple_sort(list1)
print(sorted_tuple_list)

[('Maths', 97), ('English', 88), ('Science', 90), ('Social sciences', 82)]

In [79]:
# 13
# Use: Sort a list of tuples by the second element in descending order using lambda.

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: x[1], reverse=True))

sorted_tuple_list = lst_tuple_sort(list1)
print(sorted_tuple_list)

[('Maths', 97), ('Science', 90), ('English', 88), ('Social sciences', 82)]

In [97]:
# 14 
# Use: Sort a list of tuples by the total ASCII values of characters in the first element 

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def ascii_sum(string):
    result = 0
    for char in string:
        result+=ord(char)
        
    return result

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: ascii_sum(x[0])))

sorted_tuple_list = lst_tuple_sort(list1)

print(sorted_tuple_list)

[('Maths', 97), ('Science', 90), ('English', 88), ('Social sciences', 82)]

In [102]:
# Q15
# Use: Sort a list of tuples by the difference between the second element and the string length of the first element using lambda. 
list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def lst_tuple_sort(lst):
    return list(sorted(lst, key = lambda x: abs(x[1] - len(x[0])))) 

sorted_tuple_list = lst_tuple_sort(list1)
print(sorted_tuple_list)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

**Questions 16-20**

In [103]:
# 16

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key):
    return list(sorted(lst, key = lambda x: x[key]))

sorted_dict_list = lst_dict_sort(list1, 'color')
print(sorted_dict_list)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [105]:
# 17

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key):
    return list(sorted(lst, key = lambda x: x[key], reverse=True))

sorted_dict_list = lst_dict_sort(list1, 'color')
print(sorted_dict_list)

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Nokia', 'model': 216, 'color': 'Black'}]

In [113]:
# 17

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key):
    return list(sorted(lst, key = lambda x: len(x[key])))

sorted_dict_list = lst_dict_sort(list1, 'color')
print(sorted_dict_list)

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Nokia', 'model': 216, 'color': 'Black'}]

In [117]:
# 18

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key1, key2):
    return list(sorted(lst, key = lambda x: (x[key1], x[key2])))

sorted_dict_list = lst_dict_sort(list1, 'make', 'model')
print(sorted_dict_list)

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

In [130]:
# 19

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

def lst_dict_sort(lst, key):
    return list(sorted(lst, key = lambda x: int(x[key])))

lst_dict_sort(list1, 'model')

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Nokia', 'model': 216, 'color': 'Black'}]

**Question 20-24**

In [134]:
# 20

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def int_filter(lst):
    even_nums = list(filter(lambda x: x % 2 == 0, lst))
    odd_nums = list(filter(lambda x: x % 2 != 0, lst))

    return even_nums, odd_nums

int_split = int_filter(my_list)

even_numbers = int_split[0]
odd_numbers = int_split[1]

print(even_numbers, odd_numbers)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])
[2, 4, 6, 8, 10] [1, 3, 5, 7, 9]

In [151]:
# 21

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621]

def int_filter(lst):
    return list(filter(lambda x: x > 1 and all(x % i for i in range(2, int(x**.5) + 1)), lst))

primes = int_filter(my_list)
print(sorted(primes, key = lambda x: x))

[2, 3, 5, 7, 11, 13, 17, 563, 231613]

In [156]:
# 22

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621]

def int_filter(lst):
    return list(filter(lambda x: x == int(x**.5 + .5)**2, lst))

perfect_squares = int_filter(my_list)

print(perfect_squares)

[1, 4, 9, 16]

In [187]:
# 23
# A number n is Fibonacci if
# 5n² + 4 or 5n² − 4 is a perfect square.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621]

def int_filter_v1(lst):
    from math import isqrt
    
    return list(filter(lambda x: int(isqrt(5*x*x + 4))**2 == 5*x*x + 4 or int(isqrt(5*x*x - 4))**2 == 5*x*x - 4, lst))

fibonacci_v1 = int_filter_v1(my_list)
print(fibonacci_v1)

# -----------------------------------------------------------------------------------------------------------------------

def is_fibonacci(x):
    a, b = 0, 1
    while a <= x:
        if a == x:
            return True 
        a, b = b, a + b
    return False

def int_filter_v2(lst):
    return list(filter(lambda x: is_fibonacci(x), lst))

fibonacci_v2 = int_filter_v2(my_list)
print(fibonacci_v2)

[1, 2, 3, 5, 8, 13]
[1, 2, 3, 5, 8, 13]

In [ ]:
# 24
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621, 4444]

def int_filter(lst):
    return list(filter(lambda x: str(x) != str(x)[::-1], lst))

palindromes = int_filter(my_list)
print(palindromes)

[10, 12, 13, 14, 15, 16, 17, 2123, 1312, 12351, 231613, 1236, 563, 8621]

**Question 25-29**

In [192]:
# 25

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def exponentiate(lst):
    squared = list(map(lambda x: x*x, lst))
    cubed = list(map(lambda x: x*x*x, lst))

    return squared, cubed 

squared_result, cubed_result = exponentiate(my_list)
print(squared_result, cubed_result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100] [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [196]:
# 26
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def exponentiate(lst):
    square_root = list(map(lambda x: x**(1/2), lst))
    cube_root = list(map(lambda x: x**(1/3), lst))

    return square_root, cube_root

square_root_result, cube_root_result = exponentiate(my_list)
print("Square Root Result: {}\n Cube Root Result: {}".format(square_root_result, cube_root_result))

Square Root Result: [1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]
 Cube Root Result: [1.0, 1.2599210498948732, 1.4422495703074083, 1.5874010519681994, 1.7099759466766968, 1.8171205928321397, 1.912931182772389, 2.0, 2.080083823051904, 2.154434690031884]

In [198]:
# 27
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def exponentiate(lst):
    biquadratic = list(map(lambda x: x**4, lst))
    square_root =  list(map(lambda x: x**(1/2), lst))

    return biquadratic, square_root

fourth_power, half_power = exponentiate(my_list)
print("Fourth Power: {}\n Half Power: {}".format(fourth_power, half_power))

Fourth Power: [1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]
 Half Power: [1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [206]:
# 28

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def factorial(x):
    result = 1
    for i in range(1, x+1):
        result*=i
    
    return result

def exponentiate(lst):
    from functools import reduce
    factorial_num = list(map(lambda x: factorial(x), lst))
    square_num = list(map(lambda x: x*x, lst))

    return factorial_num, square_num

factorial_result, square_result = exponentiate(my_list)
print("Factorial: {}\n Squared Power: {}".format(factorial_result, square_result))

Factorial: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]
 Squared Power: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [210]:
# 29

my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def exponentiate(lst):
    square_num = list(map(lambda x: 0 if x == 0 else x*x , lst))
    reciprocal_num = list(map(lambda x: 0 if x == 0 else 1/x, lst))

    return square_num, reciprocal_num 

square_number, reciprocal_number = exponentiate(my_list)
print("Second Power: {}\n Reciprocal Number: {}".format(square_number, reciprocal_number))

Second Power: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
 Reciprocal Number: [0, 1.0, 0.5, 0.3333333333333333, 0.25, 0.2, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111, 0.1]

**Question 30-34**

In [214]:
# 30

string = "Python"

starts_with = lambda x: True if x.startswith('Z') else False

starts_with(string)

False

In [222]:
# 31 

string = "KWhat"

ends_with = lambda x: True if x.endswith('z') else False

ends_with(string)

False

In [256]:
# 32 

string = "coSding"

even_index = lambda x: True if (x.index('S')+1) % 2 == 0 else False 

even_index(string)

False

In [265]:
# 33

string = "IGIRNNE"

start_end = lambda x: True if x[0] == x[-1] else False

start_end(string)

False

In [267]:
# 34

string = "ACRRCEK"

starts_vowel = lambda x: True if x[0] in "aeiou" or "AEIOU" else False 

starts_vowel(string)

True

**Question 35-39**

In [281]:
# 35
import datetime

now = datetime.datetime.now()

year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
hour = lambda x: x.hour
t = lambda x: x.time()

print(year(now))
print(month(now))
print(day(now))
print(t(now))

2026-02-02 21:37:48.621729
2026
2
2
21:37:48.621729

In [287]:
# 36
import datetime

now = datetime.datetime.now()

weekday = lambda x: x.weekday()

weekday(now)

0

In [288]:
# 37

import datetime

now = datetime.datetime.now()

format = lambda x: x.strftime("%Y-%m-%d %H:%M:%S")

format(now)

'2026-02-02 21:41:17'

In [292]:
# 38
import datetime

now = datetime.datetime.now()

hour = lambda x: x.hour
minute = lambda x: x.minute

hour(now)
minute(now)

42

In [307]:
# 39
import datetime

now = datetime.datetime.now()

weekday = lambda x: x.weekday() 

print(weekday(now))

is_weekend = lambda x: True if x.weekday() == 5 or x.weekday() == 6 else False 

print(is_weekend(now))

0
False

**Question 40-44**

In [19]:
# 40

my_list = ["A1234", "WERBIA", "1231", "b231", "21412", "52.432"]

is_num = lambda q: q.replace('.', ' ').isdigit()

is_num1 = lambda r: is_num(r[1:]) if r[0] == '-' else is_num(r)

is_num1(my_list[0])

False

In [131]:
# 41

my_list = ["A1234", "WERBIA", "1231", "b231", "21412", "52.432"]

is_float = (lambda s: s.replace('.', '', 1).replace('-', '', 1).isdigit() and s.count('.') == 1)

for i in my_list:
    print(i, is_float(i))

A1234 False
WERBIA False
1231 False
b231 False
21412 False
52.432 True

In [143]:
# 42

my_list = ["1A3FD", "#ff22", "0x1A", "G12", "A1321X", "ABC123", "      "]

is_hex = lambda s: all(c in "0123456789abcdefABCDEF" for c in s) and len(s) > 0

for i in my_list:
    print(i, is_hex(i))

1A3FD True
#ff22 False
0x1A False
G12 False
A1321X False
ABC123 True
       False

In [146]:
# 43

my_list = ["A1234", "WERBIA", "1231", "b231", "21412", "52.432", "-1321"]

is_integer = lambda x: x.replace('-', '', 1).isdigit()

for i in my_list:
    print(i, is_integer(i))

A1234 False
WERBIA False
1231 True
b231 False
21412 True
52.432 False
-1321 True

In [155]:
# 44

my_list = ["A1234", "WERBIA", "1231", "b231", "21412", "52.432", "-1321", '14i', '14 + 4i', '12.4 + 3i']

is_complex = lambda s: (s.replace('i', '', 1).replace('+', '', 1).replace('-', '', 1).replace('.', '', 1).replace(' ', '').isdigit() and s.count('i') == 1)

for i in my_list:
    print(i, is_complex(i))

A1234 False
WERBIA False
1231 False
b231 False
21412 False
52.432 False
-1321 False
14i True
14 + 4i True
12.4 + 3i True

**Question 45-49**

In [ ]:
# 45
from functools import reduce 

fibonacci_series = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n-2), [0, 1])

fibonacci_series(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [168]:
# 46

x = 100

is_prime = lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5) + 1))

primes = list(filter(is_prime, range(2, x)))

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [1]:
# 47
# Use: Write a Python program to generate a modified Fibonacci series where each term is twice the sum of the previous two terms using lambda.
# Mathematical Formula: an = 2 * (an-1 + an-2)
n = 10

next_term = lambda a, b: 2 * (a + b)

fib = [0, 1]

for _ in range(2, n):
    fib.append(next_term(fib[-1], fib[-2]))

print(fib)

[0, 1, 2, 6, 16, 44, 120, 328, 896, 2448]

In [ ]:
# 48 
# Use: Write a Python program to generate a Fibonacci series in reverse order up to n using lambda.
n = 10

next_fib = lambda a, b: a + b

fib = [0, 1]

for _ in range(2, n):
    fib.append(next_fib(fib[-1], fib[-2]))

fib_reverse = list(reversed(fib))

print(fib_reverse)

[34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

In [ ]:
# 49
# Use: Write a Python program to generate a Fibonacci series up to n, including only even numbers, using lambda.
n = 10

next_fib = lambda a, b: a + b

fib = [0, 1]

for _ in range(2, n):
    fib.append(next_fib(fib[-1], fib[-2]))

fib_even = list(filter(lambda x: x % 2 == 0, fib))

print(fib_even)

[0, 2, 8, 34]

**Question 50-54**

In [ ]:
# 50

xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

def array_intersection(arr1, arr2):
    return list(filter(lambda x: x in arr2, arr1))

array_intersection(xarr, yarr)

result = list(filter(lambda x: x in yarr, xarr))

print(result)

[1, 2, 8, 9]

In [ ]:
# 51

xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

def array_union(arr1, arr2):
    return list((lambda x, y: set(x) | set(y))(arr1, arr2))

array_union(xarr, yarr)

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [117]:
# 52

xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

def array_difference(arr1, arr2):
    return list(filter(lambda x: x not in arr2, arr1))

array_difference(xarr, yarr)

[3, 5, 7, 10]

In [118]:
# 53

xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

def array_symmetric_difference(arr1, arr2):
    return list((lambda x, y: set(x).symmetric_difference(set(y)))(arr1, arr2))

array_symmetric_difference(xarr, yarr)

[3, 4, 5, 7, 10]

In [122]:
# 54
 
xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]
zarr = [0, 2, 3, 5, 9, 11, 23, 25]

def array_common_elements(arr1, arr2, arr3):
    return list((lambda x, y, z: set(x).intersection(set(y), set(z)))(arr1, arr2, arr3))

array_common_elements(xarr, yarr, zarr)

[9, 2]

**Question 55-59**

In [193]:
# 55

xarr = [-1, 2, -3, 5, 7, 8, 9, -10]

def array_rearrange(arr):
    return list(sorted(arr, key = lambda x: 0 if x == 0 else -1 / x))

yarr = array_rearrange(xarr)
print(yarr)

[2, 5, 7, 8, 9, -10, -3, -1]

In [196]:
# 56

xarr = [-1, 2, 3, 4, 5, -6, 8, 9, -10]

def array_rearrange(arr):
    return list(sorted(arr, key = lambda x: x % 2 != 0))

yarr = array_rearrange(xarr)
print(yarr)

[2, 4, -6, 8, -10, -1, 3, 5, 9]

In [198]:
# 57

xarr = [-1, 2, 3, 4, 5, -6, 8, 9, -10]

def array_rearrange(arr):
    return list(sorted(arr, key = lambda x: x % 3 != 0))

yarr = array_rearrange(xarr)
print(yarr)

[3, -6, 9, -1, 2, 4, 5, 8, -10]

In [205]:
# 58

xarr = [-1, 2, 3, 4, 5, -6, 8, 9, -10]

is_prime = lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5) + 1))

def array_rearrange(arr):
    return list(sorted(arr, key = lambda x: is_prime(x) != True))

yarr = array_rearrange(xarr)
print(yarr)

[2, 3, 5, -1, 4, -6, 8, 9, -10]

In [219]:
# 59

xarr = [-1, 2, 3, 4, 5, -6, 8, 9, -10]

positives = list(filter(lambda x: x >= 0, xarr))
negatives = list(filter(lambda x: x < 0, xarr))

result = []

for p, n in zip(positives, negatives):
    result.extend([p, n])

# remaining elements
result.extend(positives[len(negatives):])
result.extend(negatives[len(positives):])

print(result)

[2, -1, 3, -6, 4, -10, 5, 8, 9]

**Question 60-64**

In [214]:
# 60
my_list = [1, 2, 3, 5, 7, 8, 9, 10]

even_count = len(list(filter(lambda x: x % 2 == 0, my_list)))
odd_count = len(list(filter(lambda x: x % 2 != 0, my_list)))

print(f"Number of even numbers: {even_count}\nNumber of odd numbers: {odd_count}")

Number of even numbers: 3
Number of odd numbers: 5

In [216]:
# 61

my_list = [1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51]

is_prime = lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5)+ 1))

prime_count = len(list(filter(lambda x: is_prime(x), my_list)))
composite_count = len(list(filter(lambda x: is_prime(x) != True, my_list)))

print(f"The list length: {len(my_list)}\nThe sum of Prime numbers: {prime_count}\nThe sum of Composite numbers: {composite_count}")

The list length: 41
The sum of Prime numbers: 13
The sum of Composite numbers: 28

In [222]:
# 62

my_list = [1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51]

def counter(lst):
    div_by_4 = len(list(filter(lambda x: x % 4 == 0, lst)))
    not_div_by_4 = len(list(filter(lambda x: x % 4 != 0, lst)))

    return div_by_4, not_div_by_4

div4, not_div4 = counter(my_list)

print(div4, not_div4)

8 33

In [223]:
# 63

my_list = [1, 2, -3, 5, 7, 8, 9, -10, 11, -12, 13, 14, -15, 17, -19, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51]

def counter(lst):
    pos_num = len(list(filter(lambda x: x < 0, lst)))
    neg_num = len(list(filter(lambda x: x > 0, lst)))

    return pos_num, neg_num

positive_sum, negative_sum = counter(my_list)
print(positive_sum, negative_sum)

5 36

In [ ]:
# 64
# Write a Python program to count the frequency of even numbers, odd numbers, and zeros in a list using lambda.

my_list = [1, 2, 3, 4, 6, 8, 9, 11, 12, 13, 14, 15, 0, 1, 0, 4, 0, 6, 0, 11]

def counter(lst):
    odd_nums = len(list(filter(lambda x: x % 2 != 0, lst)))
    even_nums = len(list(filter(lambda x: x % 2 == 0, lst)))
    zero_nums = len(list(filter(lambda x: x == 0, lst)))

    return dict({'Odd': odd_nums, 'Even': even_nums, 'Zeros': zero_nums})

counter(my_list)

{'Odd': 8, 'Even': 12, 'Zeros': 4}

**Question 65-69**

In [231]:
# 65
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

list_addition = list(map(lambda x, y: x+y, my_list1, my_list2))

list_addition

[5, 7, 9]

In [232]:
# 66
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

list_subtraction = list(map(lambda x, y: x-y, my_list1, my_list2))

list_subtraction

[-3, -3, -3]

In [234]:
# 67

my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

list_multiplication = list(map(lambda x, y: x*y, my_list1, my_list2))

list_multiplication

[4, 10, 18]

In [241]:
# 68 

my_list1 = [1, 9, 14]
my_list2 = [4, 11, 6]

def max_val(lst1, lst2):
    return max(map(lambda x, y: x if x > y else y, lst1, lst2))

max_val(my_list1, my_list2)

14

In [248]:
# 69

my_list1 = [1, 2, 3]
my_list2 = [0, 5, 6]

list_division = list(map(lambda x, y: "NaN. Division by zero" if y == 0 else x/y, my_list1, my_list2))

print(list_division)

['NaN. Division by zero', 0.4, 0.5]

**Questions 70-74**

In [ ]:
# 70

# Second lowest grade... (too heavy on program design not focused on lambda's specifically, therefore not the most efficient set of exercises - do later IF and WHEN you have time - not a priority)

In [ ]:
# 71

In [ ]:
# 72

In [ ]:
# 73

In [ ]:
# 74

**Question 75-79**

In [268]:
# 75

my_list = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

div_check = list(filter(lambda x: x % 13 == 0 or x % 19 == 0, my_list))

div_check

[19, 65, 57, 39, 152, 190]

In [253]:
# 76

my_list = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190, 247]

div_check = list(filter(lambda x: x % 13 == 0 and x % 19 == 0, my_list))

div_check

[247]

In [255]:
# 77

my_list = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190, 247]

div_check = list(filter(lambda x: x % 19 == 0 and x % 13 != 0, my_list))

div_check

[19, 57, 152, 190]

In [265]:
# 78

my_list = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190, 192,247, 256, 320, 352, 1976]

div_check = list(filter(lambda x: x % (19+13) == 0, my_list))

div_check

[192, 256, 320, 352]

In [266]:
# 79

my_list = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190, 247]

div_check = len(list(filter(lambda x: x % 13 == 0 or x % 19 == 0, my_list)))

div_check

7

**Question 80-84**

In [290]:
# 80

my_list = ["php", "w3r", "Python", "abcd", "Java", "aaa"]

my_list[1][0::]

palindromes = list(filter(lambda x: x[0::] == x[::-1], my_list))

palindromes

['php', 'aaa']

In [288]:
# 81
from collections import Counter

my_list = ["php", "w3r", "Python", "abcd", "Java", "aaa"]
word = 'nohtyP'

anagrams = list(filter(lambda x: Counter(x) == Counter(word), my_list))

anagrams

['Python']

In [ ]:
# 82

my_list = ["php", "w3r", "Python", "abcd", "Java", "aaA"]

palindrome = list(filter(lambda x: x[0::].lower() == x[::-1].lower(), my_list))

palindrome

['php', 'aaA']

In [297]:
# 83 
# Use: Write a Python program to filter strings that remain palindromic when reversed and have a length greater than 3 using lambda.
my_list = ["php", "w3r", "Python", "abcd", "Java", "aaA"]

palindromes = list(filter(lambda s: s[0::] == s[::-1] and len(s) > 3, my_list))

print(palindromes)

[]

In [ ]:
# 84

my_list = ["level", "radar", "madam", "noon", "abc", "deed", "wow", "refer", "civic"]


longest_palindrome = max(filter(lambda s: s[0::] == s[::-1], my_list), key = lambda x: len(x))

print(longest_palindrome)

level

**Question 85-89**

In [ ]:
# 85
from collections import Counter

my_list = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']
word = 'abcd'

anagrams = list(filter(lambda x: Counter(x) == Counter(word), my_list))

anagrams

['bcda', 'cbda', 'adcb']

In [ ]:
# 86

from itertools import groupby

my_list = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat']

anagrams = groupby(sorted(my_list, key = lambda x: ''.join(sorted(x))), key = lambda x: ''.join(sorted(x)))

grouped_anagrams = [list(group) for key, group in anagrams]

print(grouped_anagrams)

[['bat'], ['eat', 'tea', 'ate'], ['tan', 'nat']]

In [ ]:
# 87

from collections import Counter

my_list = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat']

anagram_count = Counter(map(lambda item: ''.join(sorted(item)), my_list))

result = {item: anagram_count[''.join(sorted(item))] for item in my_list}

print(result)

{'eat': 3, 'tea': 3, 'tan': 2, 'ate': 3, 'nat': 2, 'bat': 1}

In [ ]:
# 88

from collections import defaultdict

my_list = ["listen", "silent", "enlist", "hello", "world", "dog", "god"]

def most_anagrams(lst):
    anagram_groups = defaultdict(list)
    for word in lst:
        sorted_words = ''.join(sorted(word))
        anagram_groups[sorted_words].append(word)

        max_groups = max(anagram_groups.values(), key = lambda x: len(x))

        return max_groups[0]
    
result = most_anagrams(my_list)
print(result)

listen

In [54]:
words = ['listen', 'silent', 'enlist', 'hello', 'world']

result = list(filter(lambda word: any(sorted(word) == sorted(other) and word != other for other in words), words))

print(result)

['listen', 'silent', 'enlist']

In [58]:
# 89

my_list = ['goyim', 'listen', 'bcda', 'abce', 'cbda', 'cbea', 'adcb']


def not_anagram(lst):
    return list(filter(lambda x: any(sorted(x) == sorted(other) and x != other for other in lst), lst))

result = not_anagram(my_list)

print(result)

['bcda', 'abce', 'cbda', 'cbea', 'adcb']

**Question 90-94**

In [ ]:
# 90
string = "sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5"

str_num = [i for i in string.split(' ')]
length = len(str_num)

numbers = sorted([int(x) for x in str_num if x.isdigit()])

print("Numbers in sorted form:")
for i in (filter(lambda x: x > length, numbers)):
    print(i, end=' ')

['sdf', '23', 'safs8', '5', 'sdfsd8', 'sdfs', '56', '21sfs', '20', '5']
Numbers in sorted form:
20 23 56

In [ ]:
# 91

is_float = lambda s: '.' in s and s.replace('-', '', 1).replace('.', '', 1).isdigit()

string = "asdc 23.21 safs8 5.21 sdfsd 8.9 sdfs -56.21 21sfs 23 50 asda 53.277"

str_nums = string.split(' ')

floats = sorted([float(x) for x in str_nums if is_float(x)], reverse=True)

print("Floats in descending order:")
for i in floats:
    print(i, end = ' ')

Floats in descending order:
53.277 23.21 8.9 5.21 -56.21

In [ ]:
# 92

is_prime = lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5) + 1))

string = "alpha 17.5 beta23 gamma -11.2 delta 29 epsilon 4.0 zeta19 eta 21 theta -7 iota 31 kappa 42 lambda13"

str_num = string.split(' ')

# We ignore floating points since a prime is defined as a whole number divisible by 1 and itself. 
numbers = [int(x) for x in str_num if x.isdigit()]

primes = list(filter(lambda x: is_prime(x), numbers))

print("Prime numbers: ")
for i in primes:
    print(i, end=' ')

Prime numbers:
29 31

In [ ]:
# 93

is_palindrome = lambda x: True if x == x[::-1] else False

string = "level radar python noon civic 12321 hello world madam 45654 test refer stats 12ab21 abcba notpal 789"

str_num = string.split(' ')

numbers = [int(x) for x in str_num if x.isdigit()]

palindromes = list(filter(lambda x: is_palindrome(str(x)) == False, numbers))

print("Palindrome numbers:")
for i in palindromes:
    print(i, end = ' ')

Palindrome numbers:
789

In [168]:
# 94

is_float = lambda s: '.' in s and s.replace('-', '', 1).replace('.', '', 1).isdigit()
 
string = "id12 temp 7 error-3 value 12 speed 45.6 limit7 count 3 error-3 data 99 temp12 level 45.6 x-10 y10 z99"

str_num = string.split(' ')

numbers = [x for x in str_num if is_float(x) or x.isdigit()]
numbers = list(map(lambda x: int(x) if x.isdigit() else float(x), numbers))

unique_nums = sorted(list(set(numbers)))

print("Unique numbers in ascending order (Option 1):")
for i in unique_nums:
    print(i, end = ' ')

# ------------------------------------------------------------------------------------------------------------------------------------
# Option 2:

is_number = lambda s: s.replace('-', '', 1).replace('.', '', 1).isdigit()

string = "id12 temp 7 error-3 value 12 speed 45.6 limit7 count 3 error-3 data 99 temp12 level 45.6 x-10 y10 z99"

nums = sorted(set(map(lambda x: int(x) if '.' not in x else float(x), filter(is_number, string.split()))))

print("\nUnique numbers in ascending order (Option 2):")
print(*nums)

Unique numbers in ascending order (Option 1):
3 7 12 45.6 99
Unique numbers in ascending order (Option 2):
3 7 12 45.6 99

**Question 95-99**

In [ ]:
# 95

my_list = [1, 2, 3, 4, 5, 6]

def multiply_list(lst, num):
    return list(map(lambda x: x*num, lst))

res_list = multiply_list(my_list, 5)
print(res_list)

[5, 10, 15, 20, 25, 30]

In [ ]:
# 96

my_list = [1, 2, 3, 4, 5, 6]

def add_num_to_list(lst, num):
    if num == 0:
        return lst
    return list(map(lambda x: x+num, lst))

res_list = add_num_to_list(my_list, 5)

print(res_list)

[6, 7, 8, 9, 10, 11]

In [ ]:
# 97

my_list = [1, 2, 3, 4, 5, 6]

def subtract_num_from_list(lst, num):
    if num == 0:
        return lst
    
    return list(map(lambda x: x-num, lst))

res_list = subtract_num_from_list(my_list, 3)
print(res_list)

[-2, -1, 0, 1, 2, 3]

In [ ]:
# 98

my_list = [1, 2, 3, 4, 5, 6]

def raise_to_power(lst, num):
    return list(map(lambda x: x**num, lst))

res_list = raise_to_power(my_list, 5)
print(res_list)

[1, 32, 243, 1024, 3125, 7776]

In [ ]:
# 99

my_list = [1, 2, 3, 4, 5, 6]

def divide_list(lst, num):
    if num == 0:
        raise ZeroDivisionError()
    
    return list(map(lambda x: x/num, lst))

res_list = divide_list(my_list, 2)
res_list

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0]

**Question 100-104**

In [ ]:
# 100

my_list = ["Jack", "Michael", "Steven", "paul", "Bateman", "patrick", "Nick", "mike"]

def find_uppercase(lst):
    return list(filter(lambda x: x.islower() == False, lst))

my_list = find_uppercase(my_list)
print(my_list)

names_length = len(''.join(my_list))
print(names_length)

['Jack', 'Michael', 'Steven', 'Bateman', 'Nick']
28

In [ ]:
# 101
# Use: Write a Python program to sum the lengths of names that contain at least one uppercase letter using lambda.
my_list = ["Jack", "Michael", "Steven", "paul", "Bateman", "patrick", "Nick", "mike", "TREVOR"]

def count_uppercase(lst):
    return sum(map(lambda name: len(name), filter(lambda name: any(c.isupper() for c in name), lst)))

result = count_uppercase(my_list)
print(result)

34

In [ ]:
# 103

my_list = ["Jack", "Michael", "Steven", "paul", "le2vy", "Bateman", "patrick", "Nick", "mike", "steve120", "mick11", "1joseph"]

def count_letter(lst):
    return sum(map(lambda name: len(name), filter(lambda name: all(c.isdigit() == False for c in name), lst)))

result = count_letter(my_list)

43 43

In [169]:
# 103

my_list = ["Jack", "Michael", "Steven", "paul", "le2vy", "Bateman", "patrick", "Nick", "mike", "steve120", "mick11", "1joseph"]

vowels = "aeiou"

def count_vowels(lst):
    return sum(map(lambda name: len(name), filter(lambda name: name if name[-1].lower() in vowels else 0, lst)))

result = count_vowels(my_list)
print(result)

4

In [170]:
# 104

my_list = ["Jack", "Michael", "Steven", "paul", "le2vy", "Bateman", "patrick", "Nick", "mike", "steve120", "mick11", "1joseph"]

def count_names(lst):
    return sum(map(lambda name: len(name), filter(lambda name: name if len(name) > 5 else 0, lst)))

result = count_names(my_list)
print(result)

48

**Questions 105-109**

In [175]:
# 105

numbers = [2, 4, -6, -9, 11, -12, 14, -5, 17]

positive = sum(filter(lambda x: x > 0, numbers))
negative = sum(filter(lambda x: x < 0, numbers))

print("Total positive numbers: {}\nTotal negative numbers: {}".format(positive, negative))

Total positive numbers: 48
Total negative numbers: -32

In [183]:
# 106
from functools import reduce

numbers = [2, 4, -6, -9, 11, -12, 14, -5, 17]

positive = list(filter(lambda x: x > 0, numbers))
negative = list(filter(lambda x: x < 0, numbers))

product_positive = reduce(lambda x, y: x * y, positive, 1)
product_negative = reduce(lambda x, y: x * y, negative, 1)

print(f"The product of positive numbers: {product_positive}\nThe product negative numbers {product_negative}")

The product of positive numbers: 20944
The product negative numbers 3240

In [200]:
# 107

numbers = [2, 4, -6, -9, 11, -12, 14, -5, 17]

count_positive = len(list(filter(lambda x: x > 0, numbers)))
count_negative = len(list(filter(lambda x: x < 0, numbers)))

print(f"The count of positive numbers: {count_positive}\nThe count of negative numbers: {count_negative}")

The count of positive numbers: 5
The count of negative numbers: 4

In [ ]:
# 108

average = lambda x: sum(x) / float(len(x)) # Input: List

numbers = [2, 4, -6, -9, 11, -12, 14, -5, 17]

positive = list(filter(lambda x: x > 0, numbers))
negative = list(filter(lambda x: x < 0, numbers))

average_positive = average(positive)
average_negative = average(negative)

print("The positive average: {}\nThe negative average: {}".format(average_positive, average_negative))

The positive average: 9.6
The negative average: -8.0

In [ ]:
# 109

numbers = [2, 4, -6, -9, 11, -12, 14, -5, 17]

maximum_positive = max(filter(lambda x: x > 0, numbers))
minimum_negative = min(filter(lambda x: x < 0, numbers))

print(f"The maximum positive number: {maximum_positive}\nThe minimum negative number: {minimum_negative}")

The maximum positive number: 17
The minimum negative number: -12

**Questions 110-114**

In [ ]:
# 110
# Up next: 24 Divisible range checker

In [ ]:
# 111

In [ ]:
# 112

In [ ]:
# 113

In [ ]:
# 114