In [ ]:
# Q1

def q1_fn(x):
    return (lambda x: x + 15)(x) 
    
def q1_fn_2(x, y):
    return (lambda x, y: x*y)(x, y)

     

print(q1_fn(5), q1_fn_2(5, 5))

20 25

In [17]:
# Q2

arg = 5

def q2_fn(arg, n):
    return (lambda x, n: x*n)(arg, n)

q2_fn(arg, 10)

50

In [19]:
# Q3

list1 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

def q3_fn(lst):
    return list(sorted(lst, key = lambda x: x[1]))

q3_fn(list1)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
# Q4

list1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
sort_key = ''


def q4_fn(lst):
    return list(sorted(lst, key = lambda x: x[sort_key]))

q4_fn(list1)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [25]:
# Q5

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q5_fn(lst):
    even = list(filter(lambda x: x % 2 == 0, lst))
    odd = list(filter(lambda x: x % 2 != 0, lst))

    return even, odd

print(q5_fn(list1))

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [26]:
# Q6

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def q6_fn(lst):
    squared = list(map(lambda x: x*x, lst))
    cubed = list(map(lambda x: x*x*x, lst))

    return squared, cubed

q6_fn(list1)

([1, 4, 9, 16, 25, 36, 49, 64, 81, 100],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000])

In [28]:
# Q7

lst = ['red', 'blue', 'yellow', 'orange', 'rivarly', 'backhand']
ch = 'r'

def q7_fn(lst, chr):
    return list(map(lambda x: x[0] is chr, lst))

q7_fn(lst, ch)

[True, False, False, False, True, False]

In [4]:
# Q8
import datetime

now = datetime.datetime.now()
print(now)

# Define a lambda function 'year' to extract the year from a given datetime object 'x'
year = lambda x: x.year

# Define a lambda function 'month' to extract the month from a given datetime object 'x'
month = lambda x: x.month

# Define a lambda function 'day' to extract the day from a given datetime object 'x'
day = lambda x: x.day

# Define a lambda function 't' to extract the time from a given datetime object 'x'
t = lambda x: x.time()

# Print the year extracted from the current datetime object 'now'
print(year(now))

# Print the month extracted from the current datetime object 'now'
print(month(now))

# Print the day extracted from the current datetime object 'now'
print(day(now))

# Print the time extracted from the current datetime object 'now'
print(t(now))

2026-02-01 19:51:08.859140
2026
2
1
19:51:08.859140

In [1]:
# Q9

list1 = ['9', '21fa', 'Nunchucks', 'Wraiburg', 'Blacky', '21', 'niklug2', 'wrasa21']

def q9_fn(lst):
    return list(map(lambda x: x.isdigit(), lst))

q9_fn(list1)

[True, False, False, False, False, True, False, False]

In [11]:
# Q10

z = 15

def q10_fn(z):
    from functools import reduce
    fibonacci_sequene = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n-2), [0, 1])

    return fibonacci_sequene(5)
    

q10_fn(5)

[0, 1, 1, 2, 3]

In [12]:
# Q11

xarr = [1, 2, 3, 5, 7, 8, 9, 10]
yarr = [1, 2, 4, 8, 9]

def q11_fn(arr1, arr2):
    return list(filter(lambda x: x in arr2, arr1))

q11_fn(xarr, yarr)

[1, 2, 8, 9]

In [ ]:
# Q12

xarr = [-1, 2, -3, 5, 7, 8, 9, -10]

def q12_fn(arr):
    return list(sorted(arr, key = lambda x: 0 if x == 0 else -1 / x))

q12_fn(xarr)

[2, 5, 7, 8, 9, -10, -3, -1]

In [20]:
# Q13

xarr = [1, 2, 3, 5, 7, 8, 9, 10]

def q13_fn(arr):
    even = len(list(filter(lambda x: x % 2 == 0, arr)))
    odd = len(list(filter(lambda x: x % 2 != 0, arr)))

    return even, odd

q13_fn(xarr)[1]

5

In [3]:
# Q14

list1 = ['orange', 'reluctant', 'noir', 'penny_pinchers', 'dins', 'silver', 'purple', 'green', 'gray']

def q14_fn(lst):
    return list(filter(lambda x: len(x) > 6, lst))

q14_fn(list1)

['reluctant', 'penny_pinchers']

In [ ]:
# Q15

list1 = [1, 2, 3]
list2 = [4, 5, 6]



def q15_fn(lst1, lst2):
    return list(map(lambda x, y: x+y, lst1, lst2))

q15_fn(list1, list2)

[5, 7, 9]

In [25]:
# Q17

list1 = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

def q17_fn(lst):
    return list(filter(lambda x: x % 19 == 0 or x % 13 == 0, lst))

q17_fn(list1)

[19, 65, 57, 39, 152, 190]

In [ ]:
# Q18

list1 = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

def q18_fn(lst):
    return list(filter(lambda x: x == x[::-1], lst))

['php', 'aaa']

In [31]:
# Q19

list1 = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']
target = 'adcb'

def q19_fn(lst, t):
    from collections import Counter
    return list(filter(lambda x: Counter(x) == Counter(t), lst))

q19_fn(list1, target)

['bcda', 'cbda', 'adcb']

In [11]:
# Q20

str_original = "sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5"
str_length = len(str_original)
str_num = [i for i in str_original.split(' ')]


def q20_fn(my_str):
    numbers = sorted(int(x) for x in my_str if x.isdigit())
    
    for i in (filter(lambda x: x > str_length, numbers)):
        print(i, end = ' ')

q20_fn(str_original)

In [ ]:
# Q21

list1 = [2, 4, 6, 9, 11]
mmplier = 2 

def q21_fn(lst, multi):
    return list(map(lambda x: x*multi, lst))

q21_fn(list1, mmplier)

[4, 8, 12, 18, 22]

In [16]:
# Q22

list1 = ['chuck', 'Mick', 'LongJohn', 'Steven', 'trevor', 'michael', 'Phillip']

def q22_fn(lst):
    lowercase = list(filter(lambda x: x[0].islower(), lst))

    return len(''.join(lowercase))

q22_fn(list1)

18

In [5]:
# Q23

list1 = [2, 4, -6, -9, 11, -12, 14, -5, 17]

def q23_fn(lst):
    positive = list(filter(lambda x: x > 0, lst))
    negative = list(filter(lambda x: x < 0, lst))

    return sum(positive), sum(negative)

q23_fn(list1)

(48, -32)

In [ ]:
# Q24

def q24_fn(start, end):
    return [
        n for n in range(start, end+1)
        if not any(map(lambda x: int(x) == 0 or n % int(x) != 0, str(n)))
    ]

q24_fn(1, 22)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 22]

In [ ]:
# Q26

lst = [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]

def maximum_length(lst):
    max_list = max(lst, key = lambda x: max(x))
    
    return (len(max_list), max_list)

def minimum_length(lst):
    min_list = min(lst, key = lambda x: min(x))


    return (len(min_list), min_list)

maximum_length(lst)
minimum_length(lst)

(1, [0])

In [32]:
# Q27

list1 = [['green', 'orange'], ['black', 'white'], ['white', 'black', 'orange']]

def q27_fn(lst):
    return list(sorted(sublist, key = lambda x: x[0]) for sublist in lst)

q27_fn(list1)

[['green', 'orange'], ['black', 'white'], ['black', 'orange', 'white']]

In [41]:
# Q28
list1 = [[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]

def q28_fn(lst):
    return list(sorted(lst, key = lambda x: (len(x), x)))

q28_fn(list1)

[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

In [ ]:
# Q29

list1 = ['Python', 3, 2, 4, 5, 'version']


def q29_fn(lst):
    return max(list(filter(lambda x: (isinstance(x, int)), lst)))

q29_fn(list1)

5

In [63]:
# Q30

A = [[1, 2, 3], [2, 4, 5], [1, 1, 1]]

def q30_fn(matrix):
    return list(sorted(matrix, key = lambda x: sum(x), reverse=True))

q30_fn(A)

[[2, 4, 5], [1, 2, 3], [1, 1, 1]]

In [64]:
# Q31

list1 = ['Python', 'list', 'exercises', 'practice', 'solution']

def q31_fn(lst):
    return list(filter(lambda x: len(x) == 8, lst))

q31_fn(list1)

['practice', 'solution']

In [65]:
# Q32

list1 = [1, 'abcd', 3.12, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]

def q32_fn(lst):
    return len(list(filter(lambda x: isinstance(x, float), lst)))

q32_fn(list1)

3

In [ ]:
# Q33 

# TRASH

In [ ]:
# Q34
my_dict = {'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

def q34_fn(input_dict):
    return dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), input_dict.items()))

q34_fn(my_dict)

5.9

{'Cierra Vega': (6.2, 70)}

In [ ]:
# Q35

list1 = [1, 2, 4, 6, 8, 50, 12, 14, 16, 17]

def q35_fn(lst):
    return True if list(sorted(lst, key = lambda x: x)) == lst else False

q35_fn(list1)

False

In [108]:
# Q36

list1 = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
elem = 1

def q36_fn(lst, ele):
    return list(map(lambda x: (x[ele]), lst))

q36_fn(list1, elem)

[98, 97, 91, 94]

In [109]:
# Q37

list1 = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
elem = 0

def q37_fn(lst, ele):
    return list(sorted(lst, key = lambda x: x[ele]))

q37_fn(list1, elem)

[('Beau Turnbull', 94, 98),
 ('Brady Kent', 97, 96),
 ('Greyson Fulton', 98, 99),
 ('Wyatt Knott', 91, 94)]

In [114]:
# Q38

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

def q38_fn(lst1, lst2):
    return list(filter(lambda x: x not in lst2, lst1))

q38_fn(list1, list2)

[1, 3, 5, 7, 9, 10]

In [116]:
# Q39

list1 = ['red', 'black', 'white', 'green', 'orange']
sub = 'ack'


def q39_fn(lst, substring):
    return list(filter(lambda x: substring in x, lst))

q39_fn(list1, sub)

['black']

In [5]:
# Q40

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
list2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]
 
def q40_fn(lst1, lst2):
    return [list(filter(lambda x: x in lst1, sublist)) for sublist in lst2]

q40_fn(list1, list2)

[[12], [7, 11], [1, 5, 8]]

In [16]:
# Q41

list1 = ['Red', 'Green', 'Blue', 'White', 'Black']

def q41_fn(lst):
    return list(map(lambda x: x[::-1], lst))

q41_fn(list1)

['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [64]:
# Q42

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2 = [2.2, 4.12, 6.6, 8.1, 8.3]

def q42_fn(lst):
    from functools import reduce
    return round(reduce(lambda x, y: x*y, lst, 1), 2)

q42_fn(list1)

3628800

In [23]:
# Q43

list1 = [4, 3, 2, 2, -1, 18]
list2 = [2, 4, 8, 8, 3, 2, 9]

def q43_fn(lst):
    from functools import reduce
    return reduce(lambda x, y: x*y, lst, 1)

q43_fn(list2)

27648

In [25]:
# Q44

tupl = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
tupl_2 = ((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))


def q44_fn(tpl):
    return tuple(map(lambda x: sum(x) / float(len(x)), zip(*tpl)))

q44_fn(tupl_2)

(25.5, -18.0, 3.75)

In [31]:
# Q45

tupl = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34'))


def q45_fn(tpl):
    return tuple(map(lambda x: (int(x[0]), int(x[2])), tpl))

q45_fn(tupl)

((233, 33), (1416, 55), (2345, 34))

In [ ]:
# Q46

list1 = [12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 11, 10.25, 54]

def maximum_position(lst):
    max_val = max(lst, key = lambda x: x)
    max_pos = lst.index(max_val) 

    return max_pos, max_val

def minimum_position(lst):
    min_val = min(lst, key = lambda x: x)
    min_pos = lst.index(min_val)

    return min_pos, min_val

print(maximum_position(list1))
print(minimum_position(list1))

(5, 89)
(3, 10.11)

In [47]:
# Q47

list1 = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

def q47_fn(lst):
    return list(sorted(lst, key = lambda x: (isinstance(x, str), x)))

q47_fn(list1)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [49]:
# Q48

list1 = ['4', '12', '45', '7', '0', '100', '200', '-12', '-500']

def q48_fn(lst):
    return list(sorted(lst, key = lambda x: int(x)))

q48_fn(list1)

['-500', '-12', '0', '4', '7', '12', '45', '100', '200']

In [51]:
# Q49

list1 = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

def q49_fn(lst):
    return dict(map(lambda x: (x, lst.count(x)), lst))

q49_fn(list1)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [54]:
# Q50
list1 = ['orange', 'red', 'green', 'blue', 'white', 'black']
to_remove = ['orange', 'black']

def q50_fn(lst, sublist):
    return list(filter(lambda x: x not in sublist, lst))

q50_fn(list1, to_remove)

['red', 'green', 'blue', 'white']

In [ ]:
# Q51

list1 = [('V', 62), ('VI', 68), ('VII', 72), ('VIII', 70), ('IX', 74), ('X', 65)]

def q51_fn(lst):
    max_val = max(lst, key = lambda x: x[1])[1]
    min_val = min(lst, key = lambda x: x[1])[1]
    
    return max_val, min_val

q51_fn(list1)

(74, 62)

In [63]:
# Q52

list1 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

def q52_fn(lst):
    return list(filter(lambda x: x is not None, lst))

q52_fn(list1)

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [35]:
from functools import reduce
n = 10

fibonacci_series = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n - 2), [0, 1])

fibonacci_series(n)

is_prime = lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5) + 1))

primes = list(filter(lambda x: is_prime(x), range(2, n)))

# -------------------------------------------------------------------------------
# an = 2 * (an-1 + an-2)
# Use: Write a Python program to generate a modified Fibonacci series where each term is twice the sum of the previous two terms using lambda.
next_term = lambda a, b: 2 * (a + b)

fib = [0, 1]

for _ in range(0, n):
    fib.append(next_term(fib[-1], fib[-2]))

fib_2x = fib

# -------------------------------------------------------------------------------
# Use: Reversed fibonacci

next_term = lambda a, b: a + b

fib = [0, 1]

for _ in range(0, n):
    fib.append(next_term(fib[-1], fib[-2]))

fib_reversed = list(sorted(fib, key = lambda x: x, reverse=True))

# -------------------------------------------------------------------------------
# Use: Create a Fibonacci series up to nth degree using only even numbers

next_term = lambda a, b: a + b

fib = [0, 1]

for _ in range(2, n):
    fib.append(next_term(fib[-1], fib[-2]))

fibonacci_even = list(filter(lambda x: x % 2 == 0, fib))

print(f"N Size: {n}\nPrimes: {primes}\nFibonacci Series: {fibonacci_series(n)}\nFibonacci Series (an = 2*(an-1 + an-2): {fib_2x}\nFibonacci Series (reversed): {fib_reversed}")
print(f"Fibonacci Series (even numbers): {fibonacci_even}")

N Size: 10
Primes: [2, 3, 5, 7]
Fibonacci Series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
Fibonacci Series (an = 2*(an-1 + an-2): [0, 1, 2, 6, 16, 44, 120, 328, 896, 2448, 6688, 18272]
Fibonacci Series (reversed): [89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]
Fibonacci Series (even numbers): [0, 2, 8, 34]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 22, 24, 38, 41, 42, 58, 81, 83, 84, 2123, 1312, 12351, 231613, 1236, 563, 8621, 21412, 5215313, 5873711, 131711]

# -------------------------------------------------------------------------------
# Use: Creating a filter function for prime numbers

def return_primes(lst):
    return list(filter(lambda x: x > 1 and all(x % i != 2 for i in range(2, int(x**.5) + 1)), lst))

primes = return_primes(my_list)

# -------------------------------------------------------------------------------
# Use: Create a filter function for perfect squares 

def return_perfect_squares(lst):
    return list(filter(lambda x: x == int(x**.5 + .5)**2, lst))

perfect_squares = return_perfect_squares(my_list)

# -------------------------------------------------------------------------------
# Use: Createa a fibonacci sequence filter
# Algo: A fibonacci number is a number which satisifies: 5*x*x+4 or 5*x*x-4 
def return_fibonacci(lst):
    from math import isqrt
    
    return list(filter(lambda x: int(isqrt(5*x*x+4))**2 == 5*x*x + 4 or int(isqrt(5*x*x - 4))**2 == 5*x*x - 4, lst))

fibonacci_series = return_fibonacci(my_list)

# -------------------------------------------------------------------------------
# Use: Second method for Fibonacci with a helper function

def is_fibonacci(x):
    a,b = 0, 1
    while a <= x:
        if(a == x):
            return True
        a, b = b, a + b
    
    return False
        
def return_fibonacci(lst):
    return list(filter(lambda x: is_fibonacci(x), lst))

fibonacci_series = return_fibonacci(my_list)

# -------------------------------------------------------------------------------
# Output Result
print(f"My list: {my_list}\nOutput --> \nPrimes: {primes}\nPerfect Squares: {perfect_squares}\nFibonacci Series: {fibonacci_series}")

My list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 22, 24, 38, 41, 42, 58, 81, 83, 84, 2123, 1312, 12351, 231613, 1236, 563, 8621, 21412, 5215313, 5873711, 131711]
Output -->
Primes: [2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 24, 81, 84, 231613, 1236]
Perfect Squares: [1, 4, 9, 16, 81]
Fibonacci Series: [1, 2, 3, 5, 8, 13]

In [92]:
xarr = [1, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15]
yarr = [2, 4, 6, 7, 8, 11, 12, 13, 15]

# -------------------------------------------------------------------------------
# Use: Find the intersection between arrays using a lambda function

def array_intersection(arr1, arr2):
    return list(filter(lambda x: x in arr1, arr2))
 
zarr = array_intersection(xarr, yarr)

# -------------------------------------------------------------------------------
# Use: Find the union between two arrays


def array_union(arr1, arr2):
    return list((lambda x, y: set(x) | set(y))(arr1, arr2))

warr = array_union(xarr, yarr)

# -------------------------------------------------------------------------------
# Use: Find the difference of arrays

def array_difference(arr1, arr2):
    return list(filter(lambda x: x not in arr2, arr1))

varr = array_difference(xarr, yarr)

# -------------------------------------------------------------------------------
# Use: Find the asymmetric difference of arrays
# Symmetric Difference: A set with elements in either set or other but not both.

def array_symmetric_difference(arr1, arr2):
    return list((lambda x, y: set(x).symmetric_difference(set(y)))(arr1, arr2))

uarr = array_symmetric_difference(xarr, yarr)

# -------------------------------------------------------------------------------
# Use: Find the common elements between two arrays

def array_common_elements(arr1, arr2):
    return list((lambda x, y: set(x).intersection(set(y)))(arr1, arr2))

tarr = array_common_elements(xarr, yarr)

# -------------------------------------------------------------------------------
# Output Result

print(f"Initial Arrays ---> Array 1: {xarr} | Array 2: {yarr}\nOuput -->\nArray intersection: {zarr}\nArray Union: {warr}\nArray difference: {varr}\nArray Symmetric Difference: {uarr}\nArray Common Elements: {tarr}")

Initial Arrays ---> Array 1: [1, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15] | Array 2: [2, 4, 6, 7, 8, 11, 12, 13, 15]
Ouput -->
Array intersection: [4, 6, 7, 8, 11, 12, 15]
Array Union: [1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15]
Array difference: [1, 3, 10, 14]
Array Symmetric Difference: [1, 2, 3, 10, 13, 14]
Array Common Elements: [4, 6, 7, 8, 11, 12, 15]

In [ ]:
my_list = ["1231.41241", "ASDAasd", "asdasdaf", "-123","12351", "52.42", "DISATFAUSYFA", "1123AD#", "-234.34", "234F"]

# -------------------------------------------------------------------------------
# Use: Create a function or a set of function to recognize whether a string is a floating point value

is_num = lambda x: '.' in x and x.replace('.', '').isdigit()
is_num1 = lambda r: is_num(r[1::]) if r[0] == '-' else is_num(r)

for i in my_list:
    print(i, is_num1(i))

1231.41241 True
ASDAasd False
asdasdaf False
12351 False
52.42 True
DISATFAUSYFA False
1123AD# False
-234.34 True

In [ ]:
my_list = ["1231.41241", "ASDAasd", "asdasdaf", "-123","12351", "52.42", "DISATFAUSYFA", "1123AD#", "-234.34", "234F"]

# -------------------------------------------------------------------------------
# Use: Create a lambda function to find out whether a string is a floating point value or not

hexxs = "0123456789abcdefABCDEF"
is_hex = lambda s: all(c in hexxs for c in s)

for i in my_list:
    print(i, is_hex(i))

1231.41241 False
ASDAasd False
asdasdaf False
12351 True
52.42 False
DISATFAUSYFA False
1123AD# False
-234.34 False
234F True

In [ ]:
my_list = ["1231.41241", "ASDAasd", "asdasdaf", "-123","12351", "52.42", "DISATFAUSYFA", "1123AD#", "-234.34", "234F"]

# -------------------------------------------------------------------------------
# Use: Create a lambda function to find out whether a string is an integer

is_integer = lambda s: s.replace('-', '', 1).isdigit()

for i in my_list:
    print(i, is_integer(i))

1231.41241 False
ASDAasd False
asdasdaf False
-123 True
12351 True
52.42 False
DISATFAUSYFA False
1123AD# False
-234.34 False
234F False

In [114]:
my_list = ["1231.41241", "ASDAasd", "asdasdaf", "-123","12351", "52.42", "DISATFAUSYFA", "1123AD#", "-234.34", "234F", "4 + 3i", "3i", "12 - 3i", "14.32 - 3i"]

# -------------------------------------------------------------------------------
# Use: Create a lambda function to figure out whether a number is complex or not

is_complex = lambda s: 'i' in s and s.replace('.', '', 1).replace('-', '', 1).replace('+', '', 1).replace(' ', '',).replace('i', '', 1).isdigit()

for i in my_list:
    print(i, is_complex(i))

1231.41241 False
ASDAasd False
asdasdaf False
-123 False
12351 False
52.42 False
DISATFAUSYFA False
1123AD# False
-234.34 False
234F False
4 + 3i True
3i True
12 - 3i True
14.32 - 3i True

In [1]:
my_list = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']
word = 'abcd'

from collections import Counter
# -------------------------------------------------------------------------------
# Use: Find all anagrams of a string in a given list of strings

def anagram_finder(lst, t):
    return list(filter(lambda x: Counter(x) == Counter(t), lst))

result = anagram_finder(my_list, word)
print(result)

['bcda', 'cbda', 'adcb']

In [3]:
my_list = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']

from itertools import groupby
# -------------------------------------------------------------------------------
# Use: Write a Python program to group all anagrams from a list of strings into separate lists using lambda.

anagrams = groupby(sorted(my_list, key = lambda x: ''.join(sorted(x))), key = lambda x: ''.join(sorted(x))) 

grouped_anagrams = [list(group) for keys, group in anagrams]

print(grouped_anagrams)

[['bcda', 'cbda', 'adcb'], ['abce', 'cbea']]

In [4]:
my_list = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']

from collections import Counter
# -------------------------------------------------------------------------------
# Use: Write a Python program to count the number of anagrams for each word in a list using lambda.

anagram_finder = Counter(map(lambda item: ''.join(sorted(item)), my_list))

result = {item: anagram_finder[''.join(sorted(item))] for item in my_list}

print(result)

{'bcda': 3, 'abce': 2, 'cbda': 3, 'cbea': 2, 'adcb': 3}

In [15]:
my_list = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']

from collections import defaultdict
# -------------------------------------------------------------------------------
# Use: Write a Python program to identify the word with the most anagrams in a given list using lambda.

def max_anagram(lst):
    grouped_anagrams = defaultdict(list)
    for word in lst:
        sorted_word = ''.join(sorted(word))
        grouped_anagrams[sorted_word].append(word)
    
    max_group = max(grouped_anagrams.values(), key = lambda x: len(x))

    return max_group[0]

result = max_anagram(my_list)
print(result)

bcda

In [19]:
my_list = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']

from collections import Counter
# -------------------------------------------------------------------------------
# Use: Write a Python program to filter out words that do not have any anagrams in the list using lambda.

def not_anagram(lst):
    return list(filter(lambda x: any(Counter(x) == Counter(other) and x != other for other in lst), lst))

result = not_anagram(my_list)
print(result)

['bcda', 'abce', 'cbda', 'cbea', 'adcb']

In [ ]:
from functools import reduce
# -------------------------------------------------------------------------------
# Use: Create a Fibonacci series up to n using Lambda.

fibonacci_series = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n - 2), [0, 1])

fibonacci_series(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# -------------------------------------------------------------------------------
# Use: Write a Python program to generate the first n prime numbers using lambda.

is_prime = lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5) + 1))

for i in range(2, 100):
    if(is_prime(i) == True):
        print(i)

In [31]:
# -------------------------------------------------------------------------------
# Use: Write a Python program to generate a modified Fibonacci series where each term is twice the sum of the previous two terms using lambda.
# Next term: 2 * (an-1 + an-2)
next_term = lambda a, b: 2 * (a + b)

fib = [0, 1]

for _ in range(2, 100):
    fib.append(next_term(fib[-1], fib[-2]))

print(fib)

[0, 1, 2, 6, 16, 44, 120, 328, 896, 2448, 6688, 18272, 49920, 136384, 372608, 1017984, 2781184, 7598336, 20759040, 56714752, 154947584, 423324672, 1156544512, 3159738368, 8632565760, 23584608256, 64434348032, 176037912576, 480944521216, 1313964867584, 3589818777600, 9807567290368, 26794772135936, 73204678852608, 199998901977088, 546407161659392, 1492812127272960, 4078438577864704, 11142501410275328, 30441879976280064, 83168762773110784, 227221285498781696, 620780096543784960, 1696002764085133312, 4633565721257836544, 12659136970685939712, 34585405383887552512, 94489084709146984448, 258148980186069073920, 705276129790432116736, 1926850219953002381312, 5264252699486868996096, 14382205838879742754816, 39292917076733223501824, 107350245831225932513280, 293286325815918312030208, 801273143294288489086976, 2189118938220413602234368, 5980784163029404182642688, 16339806202499635569754112, 44641180731058079504793600, 121961973867115430149095424, 333206309196347019307778048, 910336566126924898913746944, 2487085750646543836443049984, 6794844633546937470713593856, 18563860768386962614313287680, 50717410803867800170053763072, 138562543144509525568734101504, 378559907896754651477575729152, 1034244902082528354092619661312, 2825609619958566011140390780928, 7719709044082188730466020884480, 21090637328081509483212823330816, 57620692744327396427357688430592, 157422660144817811821141023522816, 430086705778290416496997423906816, 1175018731846216456636276894859264, 3210210875249013746266548637532160, 8770459214190460405805651064782848, 23961340178878948304144399404630016, 65463598786138817419900100938825728, 178849877930035531448089000686911488, 488626953432348697735978203251474432, 1334953662724768458368134407876771840, 3647161232314234312208225222256492544, 9964229790078005541152719260266528768, 27222782044784479706721888965046042624, 74374023669724970495749216450625142784, 203193611429018900404942210831342370816, 555135270197487741801382854563935027200, 1516657763253013284412650130790554796032, 4143586066901002052428065970708979646464, 11320487660308030673681432202999068884992, 30928147454418065452218996347416097062912, 84497270229452192251800857100830331895808, 230850835367740515408039706896492857917440, 630696211194385415319681127994646379626496, 1723094093124251861455441669782278475087872, 4707580608637274553550245595553849709428736]

In [34]:

# -------------------------------------------------------------------------------
# Use: Write a Python program to generate a Fibonacci series in reverse order up to n using lambda.

next_term = lambda a, b: a + b

fib = [0, 1]

for _ in range(2, 100):
    fib.append(next_term(fib[-1], fib[-2]))


fib_reversed = sorted(fib, reverse=True) 

print(fib_reversed)

[218922995834555169026, 135301852344706746049, 83621143489848422977, 51680708854858323072, 31940434634990099905, 19740274219868223167, 12200160415121876738, 7540113804746346429, 4660046610375530309, 2880067194370816120, 1779979416004714189, 1100087778366101931, 679891637638612258, 420196140727489673, 259695496911122585, 160500643816367088, 99194853094755497, 61305790721611591, 37889062373143906, 23416728348467685, 14472334024676221, 8944394323791464, 5527939700884757, 3416454622906707, 2111485077978050, 1304969544928657, 806515533049393, 498454011879264, 308061521170129, 190392490709135, 117669030460994, 72723460248141, 44945570212853, 27777890035288, 17167680177565, 10610209857723, 6557470319842, 4052739537881, 2504730781961, 1548008755920, 956722026041, 591286729879, 365435296162, 225851433717, 139583862445, 86267571272, 53316291173, 32951280099, 20365011074, 12586269025, 7778742049, 4807526976, 2971215073, 1836311903, 1134903170, 701408733, 433494437, 267914296, 165580141, 102334155, 63245986, 39088169, 24157817, 14930352, 9227465, 5702887, 3524578, 2178309, 1346269, 832040, 514229, 317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

In [ ]:

# -------------------------------------------------------------------------------
# Use: Write a Python program to generate a Fibonacci series up to n, including only even numbers, using lambda.

next_term = lambda a, b: a + b

fib = [0, 1]

for _ in range(2, 100):
    fib.append(next_term(fib[-1], fib[-2]))

fib_even = list(filter(lambda x: x % 2 == 0, fib))

fib_even

In [38]:
# -------------------------------------------------------------------------------
# Use: Filter a list of integers using Lambda, returning even and odd numbers only.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

even_nums = list(filter(lambda x: x % 2 == 0, nums))
odd_nums = list(filter(lambda x: x % 2 != 0, nums))

print(f"Even: {even_nums}\nOdd: {odd_nums}")

Even: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
Odd: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [40]:
# -------------------------------------------------------------------------------
# Use: Write a Python program to filter a list of integers, keeping only the prime numbers, using lambda.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

primes = list(filter(lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5)+ 1)), nums))

primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [44]:
# -------------------------------------------------------------------------------
# Use: Write a Python program to filter a list of integers to keep only the perfect squares using lambda.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

perfect_squares = list(filter(lambda x: x == int(x**.5)**2, nums))

perfect_squares

[1, 4, 9, 16, 25, 36]

In [53]:
# -------------------------------------------------------------------------------
# Use: Write a Python program to filter a list of integers to extract only Fibonacci numbers using lambda.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
# ----------------------------------------
# Method 1:
# A fibonacci numbers is a number that satisifies (x*x) = (5*x*x+4) and (x*x) = (5*x*x-4)
from math import isqrt
fibonacci_numbers = list(filter(lambda x: int(isqrt(5*x*x+4))**2 == 5*x*x+4 or int(isqrt(5*x*x-4))**2 == 5*x*x-4, nums))

fibonacci_numbers

# ----------------------------------------
# Method 2:
# This method uses a helper function is_fibonacci(). This version is more logical.

def is_fibonacci(x):
    a, b = 0, 1
    while a <= x:
        if(a == x):
            return True
        a, b = b, a + b
    return False

for i in nums:
    if(is_fibonacci(i)):
        print(i, end = ' ')

1 2 3 5 8 13 21 34

In [9]:
# Q3
# Use: Write a Pthon program to identify the word with the most anagrams in a give list using lambda.
from collections import defaultdict

my_list = ['qwerty', 'listen', 'silent', 'cat', 'bar', 'stereotype', 'wigahoo', 'persia']

def find_anagram(lst):
    grouped_anagrams = defaultdict(list)
    for word in lst:
        sorted_word = ''.join(sorted(word))
        grouped_anagrams[sorted_word].append(word)
    
    max_group = max(grouped_anagrams.values(), key = lambda x: len(x))

    return max_group[0]


result = find_anagram(my_list)
result

'listen'

In [11]:
# Q4
# Use: Write a Python program to filter out words that do not have any anagrams in the list.

my_list = ['qwerty', 'listen', 'silent', 'cat', 'bar', 'stereotype', 'wigahoo', 'persia']

def not_anagram(lst):
    return list(filter(lambda s: any(Counter(s) == Counter(other) and s != other for other in lst), lst))


result = not_anagram(my_list)
result

['listen', 'silent']

In [ ]:
# Q5
# Use: Write a program to count the number of anagrams foe each word in list using lambda.
from collections import Counter

my_list = ['qwerty', 'listen', 'silent', 'cat', 'bar', 'stereotype', 'wigahoo', 'persia']

anagrams = Counter(map(lambda item: ''.join(sorted(item)), my_list))

result = {item: anagrams[''.join(sorted(item))] for item in my_list}

result

{'qwerty': 1,
 'listen': 2,
 'silent': 2,
 'cat': 1,
 'bar': 1,
 'stereotype': 1,
 'wigahoo': 1,
 'persia': 1}

In [ ]:
# Q6
# Use: Write a Python program to group all anagrams from a list of string into separate lists using lambda.
from itertools import groupby
my_list = ['qwerty', 'listen', 'silent', 'cat', 'bar', 'stereotype', 'wigahoo', 'persia']

anagrams = groupby(sorted(my_list, key = lambda s: ''.join(sorted(s))), key = lambda x: ''.join(sorted(x)))


result = [list(group) for keys, group in anagrams]
result

[['bar'],
 ['cat'],
 ['persia'],
 ['wigahoo'],
 ['stereotype'],
 ['listen', 'silent'],
 ['qwerty']]

In [ ]:
# 10-14 Fibonacci Series
from functools import reduce

# Q10 Fibonacci series
fibonacci_series = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n-2), [0, 1])
fibonacci_series(10)

# Q11 Prime numbers

is_prime = lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5) + 1))

#for i in range(2, 100):
#    if is_prime(i):
#        print(i, end = ' ')

# Q12 Modified Fibonacci where each term is twice the sum of the previous two terms using lambda. 2 * (an-1 + an-2)

next_term = lambda a, b: 2 * (a + b)

fib = [0, 1]

for _ in range(2, 10):
    fib.append(next_term(fib[-1], fib[-2]))

result_q12 = fib
result_q12

# Q13 Fibonacci in reverse order w lambda

next_term = lambda a, b: a + b
fib = [0, 1]

for _ in range(2, 10):
    fib.append(next_term(fib[-1], fib[-2]))


result = sorted(fib, reverse=True)
result

# Q14 Fibonacci series including only even numbers x % 2 == 0

next_term = lambda a, b: a + b

fib = [0, 1]

for _ in range(2, 10):
    fib.append(next_term(fib[-1], fib[-2]))


result = list(filter(lambda x: x % 2 == 0, fib))
result

[0, 2, 8, 34]

In [65]:
# Q11-Q15 Array Interesection lambda

xarr = [1, 2, 3, 5, 7, 8, 11, 123, 631, 58381]
yarr = [2, 7, 10, 14, 53, 166, 352, 755, 12412412]
zarr = [3, 7, 11, 12, 15, 63, 633, 1244, 14514124141]

# Q11 Interesection of two arrays lambda

result = list(filter(lambda x: x in yarr, xarr))
result

# Q12 Array union w lambda

result = list((lambda x, y: set(x) | set(y))(xarr, yarr))

# Q13 Array difference w lambda

result = sorted(list(filter(lambda x: x not in yarr, xarr)), key = lambda x: x)
result

# Q14 Symmetric difference of two arrays

result = sorted(list((lambda x, y: set(x).symmetric_difference(set(y)))(xarr, yarr)), key = lambda x: x)
result

# Q15 Find common elements among three arrays using lambda

result = list(filter(lambda x: x in yarr and zarr, xarr))
result

[2, 7]

In [92]:
# Q5-Q9

my_list = [1, 2, 3, 4, 5, 6, 7, 9, 11, 13, 14, 15, 17, 22, 25, 27, 30, 33, 36, 37, 38, 40, 41, 42, 44, 47, 49, 51, 55, 58, 60, 66, 72, 77, 79, 81, 83, 85, 90, 91, 92, 93, 94, 97, 98, 99]

# Q5 Filter and print out only even or odd numbers

even_numbers = list(filter(lambda x: x % 2 == 0, my_list))
odd_numbers = list(filter(lambda x: x % 2 != 0, my_list)) 
#print(f"Even numbers: {even_numbers}\nOdd numbers: {odd_numbers}") 

# Q6 Filter and print out only prime numbers

primes = list(filter(lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5)+ 1)), my_list))
primes

# Q7 Filter out perfect squares (sqrt(x^.5 + .5)^2 == x)

perfect_squares = list(filter(lambda x: x == int(x**.5 + .5)**2, my_list))
perfect_squares

# Q8 Filter out only fibonacci numbers
# Fibonacci number is a number that (5*x*x+4)**2 == 5*x*x+4 OR (5*x*x*-4)**2 == 5*x*x-4
from math import isqrt

fibonacci_numbers = list(filter(lambda x: int(isqrt(5*x*x+4))**2 == 5*x*x+4 or int(isqrt(5*x*x-4))**2 == 5*x*x-4, my_list))
fibonacci_numbers

# Method 2 w helper function

def is_fibonacci(x):
    a, b = 0, 1
    while a <= x:
        if(a == x):
            return True
        a, b = b, a + b
    return False

fibonacci_numbers = list(filter(lambda x: is_fibonacci(x), my_list))
fibonacci_numbers

# Q9 Write a program to filter a list of integers to exclude numbers that are palindromic in their string representation w lambda

palindromes = list(filter(lambda x: str(x) != str(x)[::-1], my_list))
palindromes

[13,
 14,
 15,
 17,
 25,
 27,
 30,
 36,
 37,
 38,
 40,
 41,
 42,
 47,
 49,
 51,
 58,
 60,
 72,
 79,
 81,
 83,
 85,
 90,
 91,
 92,
 93,
 94,
 97,
 98]

In [ ]:
# Q29-Q33

my_list = [[1, 'ban', 6, 6], [3, 'new', 12, 'star'], [3, 'gray'], ['link', 2], [1, 5, 11], [2, 3], [1, 2, 'alone', 4, 1, 'gone', 7]]

# Q29 Find the maximum values in a given heterogeneous list using lambda.

max_value = lambda sub: max(filter(lambda x: isinstance(x, int), sub))

max_val = max(map(max_value, my_list))

max_val

# Q30 Find the minimum value in the heterogenous list.

min_value = lambda sub: min(filter(lambda x: isinstance(x, int), sub))

min_val = min(map(min_value, my_list))
min_val

# Q31 Find the maximum string lexicographically in a heterogeneous list

max_string = lambda sub: max(filter(lambda x: isinstance(x, str), sub), default=None)

max_str = max(filter(None, map(max_string, my_list)))
max_str

# Q32 Write a Python program to find the longest element in a heterogenuos list based on length for strings or value

my_list_flat = [x for sub in my_list for x in sub]

longest = lambda lst: max(lst, key = lambda x: (0, len(x)) if isinstance(x, str) else (1, x))

max_item = longest(my_list_flat)
max_item

# Q33 Write a Python program to extract numeric values from a hetergoeneous list and calculate their average using lambda.

my_list_flat = [x for sub in my_list for x in sub]

average = lambda lst: sum(list(filter(lambda item: isinstance(item, int), lst))) / float(len(list(filter(lambda item: isinstance(item, int), lst))))

average(my_list_flat)

4.117647058823529

In [4]:
# 182
# Use: Write a Python program to sort a list of tuples by the difference between two specified indices using lambda.

my_list = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Sean Brady', 91, 92), ('Ian Bick', 92, 911, 562, 411)]

diff_by_index = lambda lst, i, j: sorted(lst, key = lambda x: (x[i] if isinstance(x[i], int) else 0) - (x[j] if isinstance(x[j], int) else 0))

result = diff_by_index(my_list, 1, 2)
result

[('Ian Bick', 92, 911, 562, 411),
 ('Beau Turnbull', 94, 98),
 ('Wyatt Knott', 91, 94),
 ('Greyson Fulton', 98, 99),
 ('Sean Brady', 91, 92),
 ('Brady Kent', 97, 96)]

In [15]:
# 183
# Use: Write a Python program to sort a list of tuples by the maximum element in each inner list using lambda.

my_list = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Sean Brady', 91, 92), ('Ian Bick', 92, 911, 562, 411)]

diff_by_max = lambda lst: sorted(lst, key = lambda t: max(filter(lambda x: isinstance(x, int), t)))
result = diff_by_max(my_list)
result

[('Sean Brady', 91, 92),
 ('Wyatt Knott', 91, 94),
 ('Brady Kent', 97, 96),
 ('Beau Turnbull', 94, 98),
 ('Greyson Fulton', 98, 99),
 ('Ian Bick', 92, 911, 562, 411)]

In [ ]:
# 196
# Use: Write a Python program to find common elements across multiple nested lists using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = list(filter(lambda x: x in set(sum(nums2, [])), set(sum(nums1, []))))
result

[1, 5, 7, 11, 12, 16, 24]

In [29]:
# 197
# Use: Write a Python program to flatten a list of nested lists and then remove elements that appear in a reference list using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

flattened_nums1 = [x for sub in nums1 for x in sub]
flattened_nums1

result = [list(filter(lambda x: x in flattened_nums1, sublist)) for sublist in nums2]
result

[[12], [7, 11, 24], [1, 5, 16]]

In [39]:
# 198
# Use: Write a Python program to compare two nested lists and return the elements that differ using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = list((lambda a, b: a ^ b)(set(sum(nums1, [])), set(sum(nums2, []))))
result

[2, 8, 9, 14, 15, 18, 19, 23, 25, 28, 41, 45, 432, 243, 126, 63]

In [ ]:
# 200
# Use: Write a Python program to reverse only the vowels in each string of a list using lambda.

my_list = ["Red", "Green", "Blue", "White", "Black"]
vowels = "aeiouAEIOU"

result = list(map(lambda s: (lambda v: ''.join(map(lambda c: v.pop(0) if c in vowels else c, s)))(list(filter(lambda c: c in vowels, s))[::-1]), my_list))
result

['Red', 'Green', 'Bleu', 'Wheti', 'Black']

In [ ]:
# 202
# Use: Write a Python program to reverse the order of characters in each string, excluding punctuation, using lambda.
from string import punctuation

my_str = "Almost there."

reverse_chars = lambda s: (lambda letters: ''.join(map(lambda c: letters.pop(0) if c not in punctuation else c, s)))(list(filter(lambda c: c not in punctuation, s))[::-1])

result = reverse_chars(my_str)
result

In [ ]:
# 208
# Use: Write a Python program to calculate the product of a list of numbers and then compute the product of its digits using lambda.
from functools import reduce
nums = [1, 2, 3, 12, 15, 16, 17, 63]

digit_product = lambda nums: reduce(lambda a, b: a * b, map(int, str(reduce(lambda x, y: x*y, nums))))

result = digit_product(nums)
result

0

In [89]:
# 211
# Use: Write a Pyhon program to multiply numbers at even indices in a list using lambda.

nums = [1, 2, 3, 4, 12, 16, 19, 22, 65]

even_product = lambda nums: reduce(lambda a, b: a * b, map(lambda i: nums[i], filter(lambda i: i % 2 == 0, range(1, len(nums), 1))))
result = even_product(nums)
result

44460

In [95]:
# 215
# Use: Write a Python program to calculate the median of numbers in a tuple of tuples using lambda.
nums = ((10, 10, 10), (30, 45, 56, 1231), (81, 80, 39), (1, 2, 3, 6))

result = tuple(map(lambda x: (((x[int(len(x)/2)] + x[int(len(x)/2) - 1]) / 2) if len(x) % 2 == 0 else x[int(len(x)/2)]), nums))
result

(10, 50.5, 80, 2.5)

In [105]:
# 217
# Use: Write a Python program to compute the weighted average of numbers in a tuple of tuples using lambda.
nums = ((10, 13, 14), (30, 45, 56, 16), (81, 80, 39, 12), (1, 2, 3, 4))
weights = ((80, 10, 10), (50, 30, 10, 10), (40, 30, 10, 20), (30, 20, 10, 40))

weighted_avg = lambda nums, wts: tuple(map(lambda xw: sum(map(lambda a: a[0] * a[1], zip(xw[0], xw[1]))) / sum(xw[1]), zip(nums, wts)))
result = weighted_avg(nums, weights)
result

(10.7, 35.7, 62.7, 2.6)

In [ ]:
# 218
# Use: Write a Python program to calculate the average value of numbers in a tuple of tuples, excluding the highest and lowest values in each inner tuple, using lambda.
nums = ((10, 13, 14), (30, 45, 56, 16), (91, 53, 12, 12), (1, 5, 61))

result = tuple(map(lambda x: sum(sorted(x)[1:-1]) / len(sorted(x)[1:-1]), nums))
result

(13.0, 37.5, 32.5, 5.0)

In [117]:
# 182
# Use: Write a Python program to sort a list of tuples by the difference between two specified indices using lambda.
my_list = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Sean Brady', 91, 92), ('Ian Bick', 92, 911, 562, 411)]

diff_sorted = lambda lst, i, j: sorted(lst, key = lambda x: (x[i] if isinstance(x[i], int) else 0) - (x[j] if isinstance(x[j], int) else 0))
result = diff_sorted(my_list, 1, 2)
result

[('Ian Bick', 92, 911, 562, 411),
 ('Beau Turnbull', 94, 98),
 ('Wyatt Knott', 91, 94),
 ('Greyson Fulton', 98, 99),
 ('Sean Brady', 91, 92),
 ('Brady Kent', 97, 96)]

In [120]:
# 183
# Use: Write a Python program to sort a list of tuples by the maximum element in each inner list using lambda.
my_list = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Sean Brady', 91, 92), ('Ian Bick', 92, 911, 562, 411)]

result = sorted(my_list, key = lambda t: sum(filter(lambda x: isinstance(x, int), t)))
result

[('Sean Brady', 91, 92),
 ('Wyatt Knott', 91, 94),
 ('Beau Turnbull', 94, 98),
 ('Brady Kent', 97, 96),
 ('Greyson Fulton', 98, 99),
 ('Ian Bick', 92, 911, 562, 411)]

In [121]:
# 196
# Use: Write a Python program to find common elements across multiple nested lists using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = list(filter(lambda x: x in set(sum(nums2, [])), set(sum(nums1, []))))
result

[1, 5, 7, 11, 12, 16, 24]

In [ ]:
# 197
# Use: Write a Python program to flatten a list of nested lists and then remove elements that appear in a reference list using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

flat_nums1 = [x for sub in nums1 for x in sub]

result = [list(filter(lambda x: x in flat_nums1, sublist)) for sublist in nums2]
result

[[12], [7, 11, 24], [1, 5, 16]]

In [124]:
# 198
# Use: Write a Python program to compare two nested lists and return the elements that differ using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = sorted(list((lambda a, b: a ^ b)(set(sum(nums1, [])), set(sum(nums2, [])))))
result

[2, 8, 9, 14, 15, 18, 19, 23, 25, 28, 41, 45, 63, 126, 243, 432]

In [140]:
# 200
# Use: Write a Python program to reverse only the vowels in each string of a list using lambda.
my_list = ['Red', 'Black', 'Green', 'Yellow', 'Teal']
vowels = 'AEIOUaeiuou'

result = list(map(lambda s: (lambda v: ''.join(map(lambda c: v.pop(0) if c in vowels else c, s)))(list(filter(lambda c: c in vowels, s))[::-1]), my_list))
result

['Red', 'Black', 'Green', 'Yollew', 'Tael']

In [139]:
# 202
# Use: Write a Python program to reverse the order of characters in each string, excluding punctuation, using lambda.
from string import punctuation

my_str = "I went to the market today."

reverse_string = lambda s: (lambda v: ''.join(map(lambda c: v.pop(0) if c not in punctuation else c, s)))(list(filter(lambda c: c not in punctuation, s))[::-1])

res = reverse_string(my_str)
res

'yadot tekram eht ot tnew I.'

In [116]:
# 208
# Use: Write a Python program to calculate the product of a list of numbers and then compute the product of its digits using lambda.
from functools import reduce

nums = [1, 2, 3, 5, 6, 11, 12, 14, 17]

compute_produce = lambda nums: reduce(lambda a, b: a * b, map(int, str(reduce(lambda x, y: x*y, nums))))
result = compute_produce(nums)
result

0

In [157]:
# 211
# Use: Write a Pyhon program to multiply numbers at even indices in a list using lambda.
nums = [1, 2, 3, 5, 6, 11, 12, 14, 17]

multiply_even = lambda nums: reduce(lambda a, b: a * b, map(lambda i: nums[i], filter(lambda i: i % 2 == 0, range(1, len(nums)))))

result = multiply_even(nums)
result

3672

In [164]:
# 215
# Use: Write a Python program to calculate the median of numbers in a tuple of tuples using lambda.
nums = ((10, 13, 14), (30, 45, 56, 16), (81, 80, 39, 12), (1, 2, 3, 4))

result = tuple(map(lambda x: (((x[int(len(x)/2)] + x[int(len(x)/2-1)])/ 2) if len(x) % 2 == 0 else x[int(len(x)/2)]), nums))
result

(13, 50.5, 59.5, 2.5)

In [160]:
# 217
# Use: Write a Python program to compute the weighted average of numbers in a tuple of tuples using lambda.
nums = ((10, 13, 14), (30, 45, 56, 16), (81, 80, 39, 12), (1, 2, 3, 4))
weights = ((80, 10, 10), (50, 30, 10, 10), (40, 30, 10, 20), (30, 20, 10, 40))

weighted_avg = lambda nums, wts: tuple(map(lambda xw: sum(map(lambda a: a[0] * a[1], zip(xw[0], xw[1]))) / sum(xw[1]), zip(nums, wts)))
result = weighted_avg(nums, weights)
result

(10.7, 35.7, 62.7, 2.6)

In [163]:
# 218
# Use: Write a Python program to calculate the average value of numbers in a tuple of tuples, excluding the highest and lowest values in each inner tuple, using lambda.
nums = ((10, 13, 14), (30, 45, 56, 16), (81, 80, 39, 12), (1, 2, 3, 4))

result = tuple(map(lambda t: sum(sorted(t)[1:-1]) / len(sorted(t)[1:-1]), nums))
result

(13.0, 37.5, 59.5, 2.5)

In [175]:
# 10
# Use: Write a Python program to create Fibonacci series up to n using Lambda.
from functools import reduce

fibonacci_series = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n-2), [0, 1])

fibonacci_series(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# 11
# Use: Write a Python program to generate the first n prime numbers using lambda.
primes = lambda n: list(filter(lambda x: x > 1 and all(x % i for i in range(2, int(x**.5) + 1)), range(1, n)))

result = primes(100)
result

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [184]:
# 12
# Use: Write a Python program to generate a modified Fibonacci series where each term is twice the sum of the previous two terms using lambda.
# Formula: 2 * (a + b)

next_term = lambda a, b: 2 * (a + b)

fib = [0, 1]

for _ in range(1, 10):
    fib.append(next_term(fib[-1], fib[-2]))

fib

[0, 1, 2, 6, 16, 44, 120, 328, 896, 2448, 6688]

In [186]:
# 13
# Use: Write a Python program to generate a Fibonacci series in reverse order up to n using lambda.

next_term = lambda a, b: a + b

fib = [0, 1]

for _ in range(1, 10):
    fib.append(next_term(fib[-1], fib[-2]))

reversed_fibonacci = sorted(fib, reverse=True)
reversed_fibonacci

[55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

In [187]:
# 14:
# Use: Write a Python program to generate a Fibonacci series up to n, including only even numbers, using lambda.

next_term = lambda a, b: a + b
fib = [0, 1]

for _ in range(1, 10):
    fib.append(next_term(fib[-1], fib[-2]))

fib_even = list(filter(lambda x: x % 2 == 0, fib))
fib_even

[0, 2, 8, 34]

In [ ]:
# 19:
# Use: Write a Python program to find all anagrams of a string in a given list of strings using Lambda. 
from collections import Counter

texts = ["bcda", "abce", "cbda", "cbea", "adcb"]
my_str = 'abcd'


result = list(filter(lambda x: Counter(x) == Counter(my_str), texts))
result

['bcda', 'cbda', 'adcb']

In [204]:
# 20:
# Use: Write a Python program to group all anagrams from a list of strings into separate lists using lambda.
from itertools import groupby
texts = ["bcda", "abce", "cbda", "adcb"]

anagrams = groupby(sorted(texts, key = lambda x: ''.join(sorted(x))), key = lambda x: ''.join(sorted(x)))

grouped_anagrams = [list(group) for key, group in anagrams]
grouped_anagrams

[['bcda', 'cbda', 'adcb'], ['abce']]

In [210]:
# 21
# Use: Write a Python program to count the number of anagrams for each word in a list using lambda.
from collections import Counter

texts = ["bcda", "abce", "cbda", "adcb"]

anagram_checker = Counter(map(lambda item: ''.join(sorted(item)), texts))

result = {item: anagram_checker[''.join(sorted(item))] for item in texts}
result

{'bcda': 3, 'abce': 1, 'cbda': 3, 'adcb': 3}

In [ ]:
# 22
# Use: Write a Python program to identify the word with the most anagrams in a given list using lambda.
from collections import defaultdict
texts = ["bcda", "abce", "cbda", "adcb"]

def find_max(lst):
    grouped_anagrams = defaultdict(list)
    for item in lst:
        sorted_item = ''.join(sorted(item))
        grouped_anagrams[sorted_item].append(item)
    
    max_group = max(grouped_anagrams.values(), key = lambda x: len(x))

    return max_group[0]

result = find_max(texts)
result

'bcda'

In [242]:
# 23
# Use: Write a Python program to filter out words that do not have any anagrams in the list using lambda.
from collections import Counter
texts = ["bcda", "abce", "cbda", "adcb"]

result = list(filter(lambda word: any(sorted(word) == sorted(other) and word != other for other in texts), texts))
result

['bcda', 'cbda', 'adcb']

In [225]:
# 22
# Use: Write a Python program to identify the word with the most anagrams in a given list using lambda.
from collections import defaultdict
texts = ["bcda", "abce", "cbda", "adcb"]

def find_max(lst):
    grouped_anagrams = defaultdict(list)
    for item in lst:
        sorted_item = ''.join(sorted(item))
        grouped_anagrams[sorted_item].append(item)

    max_group = max(grouped_anagrams.values(), key = lambda x: len(x))

    return max_group[0]


result = find_max(texts)
result

'bcda'

In [236]:
# 21
# Use: Write a Python program to count the number of anagrams for each word in a list using lambda.
from collections import Counter

texts = ["bcda", "abce", "cbda", "adcb"]

anagram_count = Counter(map(lambda item: ''.join(sorted(item)), texts))

result = {item: anagram_count[''.join(sorted(item))] for item in texts}
result

{'bcda': 3, 'abce': 1, 'cbda': 3, 'adcb': 3}

In [239]:
# 20:
# Use: Write a Python program to group all anagrams from a list of strings into separate lists using lambda.
from itertools import groupby
texts = ["bcda", "abce", "cbda", "adcb"]

anagrams = groupby(sorted(texts, key = lambda x: ''.join(sorted(x))), key = lambda x: ''.join(sorted(x)))

result = [list(group) for key, group in anagrams]
result

[['bcda', 'cbda', 'adcb'], ['abce']]

In [241]:
# 23
# Use: Write a Python program to filter out words that do not have any anagrams in the list using lambda.
texts = ["bcda", "abce", "cbda", "adcb"]

result = list(filter(lambda word: any(sorted(word) == sorted(other) and word != other for other in texts), texts))
result

['bcda', 'cbda', 'adcb']

In [244]:
# 5
# Use: Write a Python program to filter a list of integers using Lambda.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_nums = list(filter(lambda x: x % 2 == 0, nums))
odd_nums = list(filter(lambda x: x % 2 != 0, nums))
print(f"{even_nums}\n{odd_nums}")

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
# 6
# Use: Write a Python program to filter a list of integers, keeping only the prime numbers, using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

result = list(filter(lambda x: x > 1 and all(x % i for i in range(2, int(x**.5) + 1)), my_list))
result

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [247]:
# 7
# Use: Write a Python program to filter a list of integers to keep only the perfect squares using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

result = list(filter(lambda x: x == int(x**.5 + .5)**2, my_list))
result

[1, 4, 9, 16, 25, 36, 49]

In [253]:
# 8
# Use: Write a Python program to filter a list of integers to extract only Fibonacci numbers using lambda.
# Formula: A fibonacci number is a number where 5*x*x + 4 = x^2 and 5*x*x - 4 = x^2
from math import isqrt
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

result = list(filter(lambda x: int(isqrt(5*x*x + 4))**2 == 5*x*x + 4 or int(isqrt(5*x*x - 4))**2 == 5*x*x - 4, my_list))
result
# OR
def is_fibonacci(x):
    a, b = 0, 1
    while a <= x:
        if a == x:
            return True
        a, b = b, a + b
    else:
        return False
    
result = list(filter(lambda x: is_fibonacci(x), my_list))
result

[1, 2, 3, 5, 8, 13, 21, 34]

In [256]:
# 9
# Use: Write a Python program to filter a list of integers to exclude numbers that are palindromic in their string representation using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

result = list(filter(lambda x: str(x) != str(x)[::-1], my_list))
result

[10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 50]

In [ ]:
# 11
# Use: Write a Python program to find the intersection of two given arrays using Lambda.
array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]

result = list(filter(lambda x: x in array_nums2, array_nums1))
result

[1, 2, 8, 9]

In [ ]:
# 12
# Use: Write a Python program to find the union of two given arrays using lambda.
array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]

result = list((lambda x, y: set(x) | set(y))(array_nums1, array_nums2))
result

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [263]:
# 13
# Use: Write a Python program to compute the difference between two arrays (elements present in the first array but not in the second) using lambda.
array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]

result = list(filter(lambda x: x not in array_nums2, array_nums1))
result

[3, 5, 7, 10]

In [266]:
# 14
# Use: Write a Python program to find the symmetric difference of two arrays using lambda.
array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]

result = list((lambda x, y: set(x).symmetric_difference(set(y)))(array_nums1, array_nums2))
result

[3, 4, 5, 7, 10]

In [267]:
# 15
# Use: Write a Python program to determine the common elements among three arrays using lambda. 
array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]
array_nums3 = [1, 6, 12, 16, 9, 11]

result = list(filter(lambda x: x in array_nums2 and array_nums3, array_nums1))
result

[1, 2, 8, 9]

In [280]:
# 20
# Use: Write a Python program to find the numbers in a given string and store them in a list. Afterward, display the numbers that are longer than the length of the list in sorted form. Use the lambda function to solve the problem.  
str1 = "sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5"

str_num = [i for i in str1.split(' ')]
str_num
length = len(str_num)

result = list(map(int, filter(lambda x: int(x) >= length, list(filter(lambda v: v.isdigit(), str_num)))))
result

[23, 56, 20]

In [ ]:
# 21
# Use: Write a Python program to extract all floating-point numbers from a given string and sort them in descending order using lambda.
str1 = "write a p41 function 31 that extracts 41 all floating 34.5 va21.6 an3 53.11"

is_float = lambda x: x.replace('-', '', 1).replace('.', '', 1).isdigit()

str_num = [i for i in str1.split(' ')]
str_num

result = sorted(map(float, list(filter(lambda x: is_float(x), str_num))), reverse=True)
result

[53.11, 41.0, 34.5, 31.0]

In [290]:
# 22
# Use: Write a Python program to find and display only the prime numbers extracted from a string using lambda.

str1 = "decide on t13 31 and if th1 a42 in 14 it should be 214 known that 123 i3 a13 fi41 g512 517g 5111 5315 2632 n"

is_prime = lambda x: x > 1 and all(x % i for i in range(2, int(x**.5) + 1))

str_num = [i for i in str1.split(' ')]

result = list(filter(lambda x: is_prime(x), map(int, filter(lambda v: v.isdigit(), str_num))))
result

[31]

In [ ]:
# 23 
# Use: Write a Python program to extract numbers from a string and filter out those that are palindromic using lambda.

str1 = "decide on t13 31 and if th1 a42 in 14 it should be 214 known that 123 i3 a13 fi41 g512 1551gre antra5111 anx5315 2632 either"

str_num = [i for i in str1.split(' ')]

result = list(filter(lambda x: x == x[::-1], filter(lambda v: v.isdigit(), str_num)))
result

[]

In [310]:
# 24
# Use: Write a Python program to extract numbers from a string, remove duplicates, and display them in ascending order using lambda.

str1 = "214 14 known 12that in 16th century whi5h wa1s 1/2 a millenium ago 11 we 16used to play rock paper922 11 scissors with 24 with our 13hands, 6same as today."

str_num =[i for i in str1.split(' ')]

str_num.count('11')

result = sorted(list(map(int, filter(lambda x: str_num.count(x) == 1, filter(lambda x: x.isdigit(), str_num)))))
result

[14, 24, 214]

In [348]:
# 25
# Use: Write a Python program to filter the height and width of students, which are stored in a dictionary using lambda. 
my_dict = {
    'Cierra Vega': (6.2, 70),
    'Alden Cantrell': (5.9, 65),
    'Kierra Gentry': (6.0, 68),
    'Pierre Cox': (5.8, 66)
}

result = dict(filter(lambda x: (x[1][0] > 6 and x[1][1] > 63), my_dict.items()))
result

{'Cierra Vega': (6.2, 70)}

In [357]:
# 26
# Use: Write a Python program to filter students from a dictionary based on weight and age using lambda.

my_dict = {
    "Alice": {"age": 19, "weight": 55},
    "Bob": {"age": 22, "weight": 78},
    "Charlie": {"age": 20, "weight": 68},
    "Diana": {"age": 18, "weight": 50},
    "Ethan": {"age": 25, "weight": 90}
}

result = dict(filter(lambda x: (x[1]["age"] > 16 and x[1]["weight"] > 60), my_dict.items()))
result

{'Bob': {'age': 22, 'weight': 78},
 'Charlie': {'age': 20, 'weight': 68},
 'Ethan': {'age': 25, 'weight': 90}}

In [371]:
# 27
# Use: Write a Python program to filter a dictionary of students to include only those whose height is above a threshold and whose names start with a vowel using lambda.
my_dict = {
    "Alice": {"height": 168},
    "Ethan": {"height": 182},
    "Olivia": {"height": 170},
    "Uma": {"height": 160},
    "Brian": {"height": 175},
    "Chris": {"height": 180}
}

result = dict(filter((lambda x: (x[0].lower().startswith(('a', 'e', 'i', 'o', 'u')) and x[1]["height"] > 167)), my_dict.items()))
result

{'Alice': {'height': 168}, 'Ethan': {'height': 182}, 'Olivia': {'height': 170}}

In [376]:
# 27
# Use: Write a Python program to filter a dictionary of students by height range and a minimum score using lambda.
my_dict = {
    "Liam": {"height": 165, "score": 82},
    "Noah": {"height": 172, "score": 91},
    "Emma": {"height": 158, "score": 88},
    "Sophia": {"height": 180, "score": 95},
    "Mason": {"height": 169, "score": 76}
}

filter_dict = lambda input_dict, min_height, max_height, min_score: dict(filter(lambda x: (min_height < x[1]["height"] < max_height) and x[1]["score"] >= min_score, input_dict.items()))
result = filter_dict(my_dict, 160, 170, 75)
result

{'Liam': {'height': 165, 'score': 82}, 'Mason': {'height': 169, 'score': 76}}

In [378]:
# 28
# Use: Write a Python program to filter students based on multiple criteria such as height, weight, and gender using lambda.
my_dict = {
    "Anna": {"height": 162, "weight": 54, "gender": "F"},
    "Mark": {"height": 178, "weight": 80, "gender": "M"},
    "Julia": {"height": 170, "weight": 65, "gender": "F"},
    "Tom": {"height": 185, "weight": 92, "gender": "M"},
    "Eva": {"height": 160, "weight": 58, "gender": "F"}
}

result = dict(filter(lambda x: x[1]["height"] > 160 and x[1]["weight"] > 50 and x[1]["gender"] == "F", my_dict.items()))
result

{'Anna': {'height': 162, 'weight': 54, 'gender': 'F'},
 'Julia': {'height': 170, 'weight': 65, 'gender': 'F'}}

In [379]:
# 29
# Use: Write a Python program to find the nested list elements, which are present in another list using lambda.

nums1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = [list(filter(lambda x: x in nums1, sublist)) for sublist in nums2]
result

[[12], [7, 11], [1, 5, 8]]

In [380]:
# 30 
# Use: Write a Python program to find nested list elements that are absent in another given list using lambda.

nums1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = [list(filter(lambda x: x not in nums1, sublist)) for sublist in nums2]
result

[[18, 23, 25, 45], [19, 24, 28], [18, 15, 16]]

In [ ]:
# 31
# Use: Write a Python program to find common elements across multiple nested lists using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = list(filter(lambda x: x in set(sum(nums1, [])), set(sum(nums2, []))))
result

[1, 5, 7, 11, 12, 16, 24]

In [383]:
# 32
# Use: Write a Python program to flatten a list of nested lists and then remove elements that appear in a reference list using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

flatten_list1 = [x for sublist in nums1 for x in sublist]

result = [list(filter(lambda x: x in flatten_list1, sublist)) for sublist in nums2]
result

[[12], [7, 11, 24], [1, 5, 16]]

In [389]:
# 33
# Use: Write a Python program to compare two nested lists and return the elements that differ using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = sorted(list((lambda a, b: a ^ b)(set(sum(nums1, [])), set(sum(nums2, [])))))
result

[2, 8, 9, 14, 15, 18, 19, 23, 25, 28, 41, 45, 63, 126, 243, 432]

In [ ]:
# 182
# Use: Write a Python program to sort a list of tuples by the difference between two specified indices using lambda. 
my_list = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Sean Brady', 91, 92), ('Ian Bick', 92, 911, 562, 411)]

sort_by_difference = lambda lst, i, j: sorted(lst, key = lambda x: ((x[i] if isinstance(x[i], int) else 0) - (x[j] if isinstance(x[j], int) else 0)))

result = sort_by_difference(my_list, 1, 2)
result

[('Ian Bick', 92, 911, 562, 411),
 ('Beau Turnbull', 94, 98),
 ('Wyatt Knott', 91, 94),
 ('Greyson Fulton', 98, 99),
 ('Sean Brady', 91, 92),
 ('Brady Kent', 97, 96)]

In [394]:
# 183
# Use: Write a Python program to sort a list of tuples by the maximum element in each inner list using lambda.
my_list = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Sean Brady', 91, 92), ('Ian Bick', 92, 911, 562, 411)]

result = sorted(my_list, key = lambda t: max(filter(lambda x: isinstance(x, int), t)))
result

[('Sean Brady', 91, 92),
 ('Wyatt Knott', 91, 94),
 ('Brady Kent', 97, 96),
 ('Beau Turnbull', 94, 98),
 ('Greyson Fulton', 98, 99),
 ('Ian Bick', 92, 911, 562, 411)]

In [397]:
# 196
# Use: Write a Python program to find common elements across multiple nested lists using lambda. 
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = list(filter(lambda x: x in set(sum(nums1, [])), set(sum(nums2, []))))
result

[1, 5, 7, 11, 12, 16, 24]

In [399]:
# 197
# Use: Write a Python program to flatten a list of nested lists and then remove elements that appear in a reference list using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

flattened_list2 = [x for sublist in nums2 for x in sublist]

result = [list(filter(lambda x: x in flattened_list2, sublist)) for sublist in nums1]
result

[[24, 16], [1, 7, 11, 12], [1, 5, 11, 16]]

In [401]:
# 198
# Use: Write a Python program to compare two nested lists and return the elements that differ using lambda.
nums1 = [[24, 16, 2, 63, 41, 432], [1, 7, 11, 9, 12, 14], [1, 5, 11, 16, 126, 243]]
nums2 = [[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]

result = sorted(list((lambda a, b: a ^ b)(set(sum(nums2, [])), set(sum(nums1, [])))))
result

[2, 8, 9, 14, 15, 18, 19, 23, 25, 28, 41, 45, 63, 126, 243, 432]

In [402]:
# 200
# Use: Write a Python program to reverse only the vowels in each string of a list using lambda.

my_strings = ['Black', 'White', 'Yellow', 'Orange', 'Stellar']

result = list(map(lambda s: (lambda v: ''.join(map(lambda c: v.pop(0) if c in vowels else c, s)))(list(filter(lambda c: c in vowels, s))[::-1]), my_strings))
result

['Black', 'Wheti', 'Yollew', 'erangO', 'Staller']

In [404]:
# 202
# Use: Write a Python program to reverse the order of characters in each string, excluding punctuation, using lambda.
from string import punctuation
my_string = "I walk the line."

reverse_string = lambda s: (lambda v: ''.join(map(lambda c: v.pop(0) if c not in punctuation else c, s)))(list(filter(lambda c: c not in punctuation, s))[::-1])

result = reverse_string(my_string)
result

'enil eht klaw I.'

In [410]:
# 208
# Use: Write a Python program to calculate the product of a list of numbers and then compute the product of its digits using lambda.
from functools import reduce
nums = [1, 1, 1, 1, 1, 1, 1, 1, 1]

result = reduce(lambda a, b: a*b, map(int, str(reduce(lambda x, y: x*y, nums))))
result

1

In [419]:
# 211
# Use: Write a Pyhon program to multiply numbers at even indices in a list using lambda.
from functools import reduce
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = reduce(lambda x, y: x*y, map(lambda i: nums[i], filter(lambda i: i % 2 == 0, range(1, len(nums)))))
result

945

In [430]:
# 215
# Use: Write a Python program to calculate the median of numbers in a tuple of tuples using lambda.
nums = ((16, 12, 11), (30, 124, 105, 16), (81, 119, 5211, 12), (1, 6, 7, 4))
result = tuple(map(lambda x: ((x[int(len(x)/2)] + x[int(len(x)/2)-1]) / 2) if len(x) % 2 == 0 else x[int(len(x)/2)], nums))
result

(12, 114.5, 2665.0, 6.5)

In [431]:
# 217
# Use: Write a Python program to compute the weighted average of numbers in a tuple of tuples using lambda.
from functools import reduce
nums = ((10, 13, 14), (30, 45, 56, 16), (81, 80, 39, 12), (1, 2, 3, 4))
weights = ((80, 10, 10), (50, 30, 10, 10), (40, 30, 10, 20), (30, 20, 10, 40))

weighted_avg = lambda nums, wts: list(map(lambda xw: sum(map(lambda a: a[0] * a[1], zip(xw[0], xw[1]))) / sum(xw[1]), zip(nums, wts)))
result = weighted_avg(nums, weights)
result

[10.7, 35.7, 62.7, 2.6]

In [432]:
# 218
# Use: Write a Python program to calculate the average value of numbers in a tuple of tuples, excluding the highest and lowest values in each inner tuple, using lambda.
nums = ((10, 13, 14), (30, 45, 56, 16), (81, 80, 39, 12), (1, 2, 3, 4))

result = tuple(map(lambda t: sum(sorted(t)[1:-1]) / len(sorted(t)[1:-1]), nums))
result

(13.0, 37.5, 59.5, 2.5)

In [433]:
# 20
# Use: Write a Python program to group all anagrams from a list of strings into separate lists using lambda.
from itertools import groupby
words = ["stringent", "sawed-off", "error", "silent", "cathedral", "survivor"]

anagrams = groupby(sorted(words, key = lambda word: ''.join(sorted(word))), key = lambda x: ''.join(sorted(x)))

result = [list(group) for key, group in anagrams]
result

[['sawed-off'],
 ['cathedral'],
 ['stringent'],
 ['silent'],
 ['error'],
 ['survivor']]

In [435]:
# 21
# Use: Write a Python program to count the number of anagrams for each word in a list using lambda.
from collections import Counter

words = ["stringent", "housemaster", "overlord", "lord", "cathedral", "roma", "roman"]

anagram_counter = Counter(map(lambda word: ''.join(sorted(word)), words))

result = {word: anagram_counter[''.join(sorted(word))] for word in words}
result

{'stringent': 1,
 'housemaster': 1,
 'overlord': 1,
 'lord': 1,
 'cathedral': 1,
 'roma': 1,
 'roman': 1}

In [439]:
# 22
# Use: Write a Python program to identify the word with the most anagrams in a given list using lambda.
from collections import defaultdict
words = ["stringent", "housemaster", "overlord", "lord", "cathedral", "roma", "roman", "silent", "listen", "Cholakian", "Egon"]

def find_max(lst):
    grouped_anagrams = defaultdict(list)
    for word in lst:
        sorted_word = ''.join(sorted(word))
        grouped_anagrams[sorted_word].append(word)

    max_group = max(grouped_anagrams.values(), key = lambda x: len(x))

    return max_group[0]

result = find_max(words)
result

'silent'

In [ ]:
# 23
# Use: Write a Python program to filter out words that do not have any anagrams in the list using lambda.

words = ["","stringent", "housemaster", "overlord", "lord", "cathedral", "pope", "francis", "aegon", "ageis", "silent", "car", "ear", "cover", "clover", "winner", "dinner", "sinner"]

result = list(filter(lambda word: any(sorted(word) == sorted(other) and word != other for other in words), words))
result

[]

In [ ]:
# 45
# Use: Write a Python program to convert string elements to integers inside a given tuple using lambda.
my_tuple = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34'))

result = [tuple(map(int, filter(lambda x: x.isdigit(), t))) for t in my_tuple]
result

[(233, 33), (1416, 55), (2345, 34)]

In [ ]:
# 46
# Use: Write a Python program to convert string elements to integers and replace non-numeric strings with zero using lambda.
my_tuple = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34'))

[('233', '33'), ('1416', '55'), ('2345', '34')]

In [9]:
# 44
# Use: Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
my_tuple = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

result = tuple(map(lambda t: round(sum(t) / float(len(t)), 2), zip(*my_tuple)))
result

(30.5, 34.25, 27.0)

In [8]:
# 45
# Use: Write a Python program to calculate the median of numbers in a tuple of tuples using lambda.
my_tuple = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3, 16))

result = tuple(map(lambda t: ((t[int(len(t)/2)] + t[int(len(t)/2)-1]) / 2) if len(t) % 2 == 0 else t[int(len(t)/2)], my_tuple))
result

(10, 45, 80, 2.5)

In [15]:
# 46
# Use: Write a Python program to compute the average value for each inner tuple separately using lambda.
my_tuple = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

result = tuple(map(lambda t: round(sum(t) / float(len(t)), 2), my_tuple))
result

(10.0, 43.67, 66.67, 2.0)

In [16]:
# 47
# Use: Write a Python program to calculate the weighted average of numbers in a tuple of tuples using lambda.
my_tuple = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
weights = ((20, 60, 20), (10, 10, 80), (60, 20, 20), (30, 30, 40))

result = tuple(map(lambda xw: sum(map(lambda a: a[0] * a[1], zip(xw[0], xw[1]))) / sum(xw[1]), zip(my_tuple, weights)))
result

(10.0, 52.3, 72.4, 2.1)

In [31]:
# 48
# Use: Write a Python program to calculate the average value of numbers in a tuple of tuples, excluding the highest and lowest values in each inner tuple, using lambda.
my_tuple = ((10, 10, 10, 16, 12), (30, 45, 56, 46, 11), (81, 80, 39, 65, 63, 12), (1, 2, 3, 56, 66, 76, 89))

result = tuple(map(lambda x: round(sum(sorted(x)[1:-1]) / float(len(sorted(x)[1:-1])), 2), my_tuple))
result

(10.67, 40.33, 61.75, 40.6)

In [33]:
# 49
# Use: Write a Python program to convert string elements to integers inside a given tuple using lambda.
my_tuple = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34'))

result = [tuple(filter(lambda x: x.isdigit(), tpl)) for tpl in my_tuple]
result

[('233', '33'), ('1416', '55'), ('2345', '34')]

In [5]:
# 50
# Use: Write a Python program to convert numeric string elements to floats inside a tuple of tuples using lambda.
my_tuple = (('233', 'ABCD', '33', '112.66'), ('1416', 'EFGH', '156.351','55'), ('2345', '5125.211','WERT', '34'))

is_float = lambda x: '.' in x and x.replace('-', '', 1).replace('.', '', 1).isdigit()

result = [tuple(map(float, filter(lambda x: is_float(x) or x.isdigit(), t))) for t in my_tuple]
result

[(233.0, 33.0, 112.66), (1416.0, 156.351, 55.0), (2345.0, 5125.211, 34.0)]

In [3]:
# 51
# Use: Write a Python program to convert string elements to integers and replace non-numeric strings with zero using lambda.
my_tuple = (('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34'))

result = [tuple(map(lambda x: int(x) if x.isdigit() else 0, t)) for t in my_tuple]
result

[(233, 0, 33), (1416, 0, 55), (2345, 0, 34)]

In [4]:
# 52
# Use: Write a Python program to convert all convertible string elements in a tuple of mixed types to integers using lambda. 
my_tuple = (('233', 'ABCD', '33', '112.66'), ('1416', 'EFGH', '156.351','55'), ('2345', '5125.211','WERT', '34'))

is_num = lambda x: x.replace('-', '', 1).replace('.', '', 1).isdigit()

to_int = lambda x: int(x) if '.' not in x else round(float(x)) 

result = [tuple(map(lambda x: to_int(x), filter(lambda v: is_num(v), t))) for t in my_tuple]
result

[(233, 33, 113), (1416, 156, 55), (2345, 5125, 34)]

In [8]:
# 53
# Use: Write a Python program to convert hexadecimal string elements to integers in a given tuple using lambda.
my_tuple = ("0xA", "0x1F", "0x10", "0xFF")

result = tuple(map(lambda x: int(x, base=16), my_tuple))
result

(10, 31, 16, 255)

In [22]:
# 54
# Use: Write a Python program to find the index position and value of the maximum and minimum values in a given list of numbers using lambda.
my_list = [12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 11, 10.25, 54]

def find_minmax(lst):
    max_val = max(enumerate(lst), key = lambda x: x[1])
    min_val = min(enumerate(lst), key = lambda x: x[1])

    return max_val, min_val

result = find_minmax(my_list)
result

((5, 89), (3, 10.11))

In [34]:
# 55
# Use: Write a Python program to find the indices of all occurrences of the maximum value in a list using lambda.
my_list = [12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 89, 11, 10.25, 54]

result = list(map(lambda x: x[0], filter(lambda x: x[1] == max(my_list), enumerate(my_list))))

# OR
result = [i for i, x in enumerate(my_list) if x == max(my_list)]
result

[5, 10]

In [5]:
# 56
# Use: Write a Python program to determine the index positions of the top two maximum values in a list using lambda.
my_list = [12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 89, 11, 10.25, 54]

sorted(enumerate(my_list))[-2::]
result = list(map(lambda x: x[0], sorted(enumerate(my_list), key = lambda x: x[1], reverse=True)[:2]))
result

[5, 10]

In [10]:
# 57
# Use: Write a Python program to return the index and value of the first occurrence of the minimum value in a list using lambda.
my_list = [12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 11, 10.25, 54, 89]

result = min(enumerate(my_list), key = lambda x: x[1])[0]
result

3

In [3]:
# 58
# Use: Write a Python program to find the indices of both the maximum and minimum values in a list and swap them using lambda.
my_list = [12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 11, 10.25, 54, 89]

def swap_minmax(lst):
    max_ind = max(enumerate(lst), key = lambda x: x[1])[0]
    min_ind = min(enumerate(lst), key = lambda x: x[1])[0]

    lst[max_ind], lst[min_ind] = lst[min_ind], lst[max_ind]

    return lst

result = swap_minmax(my_list)
result

[12, 33, 23, 89, 67, 10.11, 45, 66.7, 23, 12, 11, 10.25, 54, 89]

In [5]:
# 59
# Use: Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
my_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

result = sorted(my_list, key = lambda x: (isinstance(x, str), x))
result

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [4]:
# 60
# Use: Write a Python program to sort a mixed list by placing numbers (sorted in ascending order) before strings sorted by length using lambda.
my_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

result = sorted(my_list, key = lambda x: (isinstance(x, str), len(x) if isinstance(x, str) else x))
result

[1, 10, 12, 19, 'red', 'blue', 'green', 'white', 'green']

In [7]:
# 61
# Use: Write a Python program to sort a mixed list with numbers in descending order followed by strings in alphabetical order using lambda.
my_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

result = sorted(my_list, key = lambda x: (isinstance(x, str), -x if isinstance(x, int) else x))
result

[19, 12, 10, 1, 'blue', 'green', 'green', 'red', 'white']

In [15]:
# 62
# Use: Write a Python program to sort a mixed list by ordering negative numbers first, then positive numbers, and finally strings using lambda.
my_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1, -15]

result = sorted(my_list, key = lambda x: (0 if isinstance(x, (int, float)) else 1 if isinstance(x, (int, float)) else 2, x))
result

[-15, 1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [19]:
# 63
# Use: Write a Python program to sort a mixed list by converting numbers to strings and sorting them lexicographically using lambda.
my_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

result = sorted(map(str, my_list))
result

['1', '10', '12', '19', 'blue', 'green', 'green', 'red', 'white']

In [ ]:
# 64
# Use: Write a Python program to sort a given list of strings (numbers) numerically using lambda.
my_list = ['4', '12', '45', '7', '0', '100', '200', '-12', '-500']

result = sorted(my_list, key = lambda x: int(x))

['-500', '-12', '0', '4', '7', '12', '45', '100', '200']

In [ ]:
# 65
# Use: Write a Python program to sort a list of strings representing floating-point numbers numerically using lambda.
my_list = ['4', '2.61', '9', '11', '211', '-223.22', '500', '121']

result = sorted(my_list, key = lambda x: float(x))
result

['-223.22', '2.61', '4', '9', '11', '121', '211', '500']

In [25]:
# 66
# Use: Write a Python program to sort a list of numeric strings in descending order using lambda.
my_list = ['4', '2.61', '9', '11', '211', '-223.22', '500', '121']
result = sorted(my_list, key = lambda x: float(x), reverse=True)
result

['500', '211', '121', '11', '9', '4', '2.61', '-223.22']

In [26]:
# 65
# Use: Write a Python program to sort a list of numeric strings that include negative values correctly using lambda.
my_list = ['4', '2.61', '9', '11', '211', '-223.22', '500', '121']

result = sorted(my_list, key = lambda x: float(x))
result

['-223.22', '2.61', '4', '9', '11', '121', '211', '500']

In [29]:
# 66
# Use: Write a Python program to sort a list of alphanumeric strings by extracting and sorting the numeric parts using lambda. 
my_list = ['i4', '1m5', '1b1', '1t6', 'a21', 'vxa189', 'raxx100', 'z1v4f1', '4242trax', '441an', '24a1n', 't6r6a2x']

def sort_alphanumeric(lst):
    lst = [''.join(char for char in string if char.isdigit()) for string in my_list]

    return sorted(lst, key = lambda x: float(x))

result = sort_alphanumeric(my_list)
result

['4', '11', '15', '16', '21', '100', '141', '189', '241', '441', '662', '4242']

In [33]:
# 67
# Use: Write a Python program to count the occurrences of items in a given list using lambda.
my_list = ['4', '4', '2.61', '9', '11', '211', '-223.22', '500', '121']

result = dict(map(lambda x: (x, list(my_list).count(x)), my_list))
result

{'4': 2,
 '2.61': 1,
 '9': 1,
 '11': 1,
 '211': 1,
 '-223.22': 1,
 '500': 1,
 '121': 1}

In [5]:
# 68
# Use: Write a Python program to count the occurrences of each character in a string using lambda.
my_str = 'Eeeeeeheeeehheeeeeeeequeeee.'

result = dict(map(lambda c: (c, list(my_str).count(c)), my_str))
result

{'E': 1, 'e': 21, 'h': 3, 'q': 1, 'u': 1, '.': 1}

In [36]:
# 69
# Use: Write a Python program to count the occurrences of each word in a list using lambda.
my_list = ['pandemic', 'pandemic', 'warrior', 'stellar', 'english', 'steven', 'nicholas', 'joseph', 'nick', 'phillips']

result = dict(map(lambda item: (item, list(my_list).count(item)), my_list))
result

{'pandemic': 2,
 'warrior': 1,
 'stellar': 1,
 'english': 1,
 'steven': 1,
 'nicholas': 1,
 'joseph': 1,
 'nick': 1,
 'phillips': 1}

In [39]:
# 70
# Use: Write a Python program to count the frequency of even and odd numbers separately in a list using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

result = {'even': sum(map(lambda x: x % 2 == 0, my_list)), 'odd': sum(map(lambda x: x % 2 != 0, my_list))}
result

{'even': 25, 'odd': 25}

In [17]:
# 71
# Use: Write a Python program to count the occurrences of items in a list and return a dictionary sorted by frequency using lambda.
my_list = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

result = dict(sorted({x: my_list.count(x) for x in my_list}.items(), key = lambda o: o[1]))
result

{1: 1, 4: 2, 8: 2, 0: 2, 2: 2, 5: 3, 3: 4}

In [18]:
# 72
# Use: Write a Python program to remove specific words from a given list using lambda.
my_list = ['orange', 'red', 'green', 'blue', 'white', 'black'] 
to_remove = ['orange', 'white']

result = list(filter(lambda x: x in to_remove, my_list))
result

['orange', 'white']

In [19]:
# 73
# Use: Write a Python program to remove words containing a specific substring from a list using lambda.
my_list = ['orange', 'red', 'green', 'blue', 'white', 'black'] 
to_remove = 'ack'

result = list(filter(lambda x: to_remove not in x, my_list))
result

['orange', 'red', 'green', 'blue', 'white']

In [21]:
# 74
# Use: Write a Python program to remove words that start with a specified letter from a list using lambda.
my_list = ['orange', 'red', 'green', 'blue', 'white', 'black']

result = list(filter(lambda x: x.startswith('b') == False, my_list))
result

['orange', 'red', 'green', 'white']

In [ ]:
# 75
# Use: Write a Python program to remove words that have a length shorter than a given threshold from a list using lambda.
my_list = ['orange', 'red', 'green', 'blue', 'white', 'black']
threshold = 5

result = list(filter(lambda x: len(x) > 5, my_list))
result

['orange']

In [27]:
# 76
# Use: Write a Python program to remove duplicate words from a list using lambda.
my_list = ['white', 'orange', 'red', 'green', 'blue', 'white', 'teal']

result = list(dict.fromkeys(my_list))
result

# OR
result = list((lambda x: set(x))(my_list))
result

['teal', 'green', 'blue', 'white', 'red', 'orange']

In [45]:
# 77
# Use: Write a Python program to find the maximum and minimum values in a given list of tuples using the lambda function.
my_list = [('V', 62), ('VI', 68), ('VII', 72), ('VIII', 70), ('IX', 74), ('X', 65)]

result = {"Max": max(map(lambda x: x[1], my_list)), "Min": min(map(lambda x: x[1], my_list))}
result

{'Max': 74, 'Min': 62}

In [53]:
# 78
# Use: Write a Python program to find the tuple with the maximum sum of its elements using lambda.
my_list = [('V', 62, 111), ('VI', 68, 60), ('VII', 72, 40), ('VIII', 70, 24), ('IX', 74, 16), ('X', 65, 19)]

result = max(my_list, key = lambda t: sum(filter(lambda x: isinstance(x, int), t)))
result

('V', 62, 111)

In [55]:
# 79
# Use: Write a Python program to find the tuple with the minimum product of its elements using lambda.
from functools import reduce
my_list = [('V', 62, 116), ('VI', 68, 10), ('VII', 72, 11), ('VIII', 70, 24), ('IX', 74, 16), ('X', 65, 19)]

result = min(my_list, key = lambda t: reduce(lambda x, y: x*y, filter(lambda v: isinstance(v, int), t), 1))
result

('VI', 68, 10)

In [58]:
# 80
# Use: Write a Python program to identify the tuple with the maximum difference between its elements using lambda.
my_list = [('V', 62, 116), ('VI', 68, 10), ('VII', 72, 11), ('VIII', 70, 24), ('IX', 74, 16), ('X', 65, 19)]

result = max(my_list, key = lambda t: reduce(lambda x, y:  abs(x-y), filter(lambda v: isinstance(v, int), t)))
result

('VII', 72, 11)

In [63]:
# 81
# Use: Write a Python program to find both the tuple with the longest first element and the tuple with the shortest last element using lambda.
my_list = [('V', 62, 116, "CCX"), ('VI', 68, 10, "X"), ('VII', 72, 11, "I"), ('VIII', 70, 24, "IV"), ('IX', 74, 16, "LXV"), ('X', 65, 19, "DXV")]

result = (max(my_list, key = lambda t: len(t[0])), min(my_list, key = lambda t: len(t[-1])))
result

(('VIII', 70, 24, 'IV'), ('VI', 68, 10, 'X'))

In [ ]:
# 52
# Use: Write a Python program to remove None values from a given list using the lambda function.
my_list = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

result = list(filter(lambda x: x != None, my_list))
result

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [69]:
# 53
# Use: Write a Python program to remove all falsy values (None, 0, '', False) from a given list using lambda.
my_list = [12, 0, None, '', False, None, 16, 12, 11]

result = list(filter(lambda x: isinstance(x, int), filter(lambda x: x != 0, my_list)))
result

[12, 16, 12, 11]

In [73]:
# 54
# Use: Write a Python program to filter out None and empty string values from a list using lambda.
my_list = [12, 0, None, '', False, None, 16, 12, 11, 62, '']

result = list(filter(lambda x: x != '', filter(lambda x: x != None, my_list)))
result

[12, 0, False, 16, 12, 11, 62]

In [80]:
# 54
# Use: Write a Python program to remove None values from a list and then sort the remaining elements using lambda.
my_list = [12, 0, None, '', False, None, 16, 12, 11, 62, '']

result = sorted(filter(lambda x: x != None and x != '', my_list), key = lambda x: (isinstance(x, int), x))
result

[0, False, 11, 12, 12, 16, 62]

In [82]:
# 55
# Use: Write a Python program to remove None values from a list and replace them with a specified default value using lambda.
my_list = [12, 0, None, '', None, False, 16, 12, 11, 62, '']

result = list(map(lambda x: 5 if x == None else x, my_list))
result

[12, 0, 5, '', 5, False, 16, 12, 11, 62, '']

In [98]:
# 182
# Use: Write a Python program to sort a list of tuples by the difference between two specified indices using lambda.
my_list = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Sean Brady', 91, 92), ('Ian Bick', 92, 911, 562, 411)]

sorted_by_difference = lambda lst, i, j: sorted(lst, key = lambda x: (x[i] if isinstance(x[i], int) else 0) - (x[j] if isinstance(x[j], int) else 0), reverse=True)
result = sorted_by_difference(my_list, 0, 2)
result

[('Sean Brady', 91, 92),
 ('Wyatt Knott', 91, 94),
 ('Brady Kent', 97, 96),
 ('Beau Turnbull', 94, 98),
 ('Greyson Fulton', 98, 99),
 ('Ian Bick', 92, 911, 562, 411)]

In [1]:
# 183
# Use: Write a Python program to sort a list of tuples by the maximum element in each inner list using lambda.
my_list = [('Grey Fulton', 98, 99), ('Brady Neth', 97, 95), ('Beau Turnbull', 94, 98), ('Sean Brady', 92, 91), ('Ian Brick', 92, 911, 562, 411)]

result = sorted(my_list, key = lambda t: sum(filter(lambda x: isinstance(x, int), t)))
result

[('Sean Brady', 92, 91),
 ('Brady Neth', 97, 95),
 ('Beau Turnbull', 94, 98),
 ('Grey Fulton', 98, 99),
 ('Ian Brick', 92, 911, 562, 411)]

In [2]:
# 185
# Use: Write a Pyhon program to remove all elements from a given list present in another list using lambda.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

result = list(filter(lambda x: x not in list2, list1))
result

[1, 3, 5, 7, 9, 10]

In [3]:
# 186
# Use: Write a Python program to retain only those elements in a list that are not present in another reference list using lambda.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

result = list(filter(lambda x: x not in list2, list1))
result

[1, 3, 5, 7, 9, 10]

In [6]:
# 187
# Use: Write a Python program to remove duplicates from one list based on the elements in another list using lambda.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

result = list(filter(lambda x: x not in list2, list1))
result

[1, 3, 5, 7, 9, 10]

In [4]:
# 188
# Use: Write a Python program to filter out elements from a list that are multiples of any element in a given reference list using lambda.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]

result = list(filter(lambda x: (x*x) in list1, list2))
result

[2]

In [2]:
# 189
# Use: Write a Python program to remove elements from a list if they appear more than once in another list using lambda.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8, 2]

result = list(filter(lambda x: list2.count(x) == 1, list2))
result

[4, 6, 8]

In [ ]:
# 190
# Use: Write a Python program to find the elements of a given list of strings that contain a specific substring using lambda.
list1 = ["red", "black", "white", "green", "orange", 'stellar', 'darkred', 'purple']
substring = 'ed'

result = list(filter(lambda x: substring in x, list1))
result

['red', 'darkred']

In [4]:
# 183
# Use: Write a Python program to sort a list of tuples by the maximum element in each inner list using lambda.
my_list = [('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Sean Brady', 91, 92), ('Ian Bick', 92, 911, 562, 411)]

result = sorted(my_list, key = lambda t: max(filter(lambda x: isinstance(x, int), t)))
result

[('Sean Brady', 91, 92),
 ('Wyatt Knott', 91, 94),
 ('Brady Kent', 97, 96),
 ('Beau Turnbull', 94, 98),
 ('Greyson Fulton', 98, 99),
 ('Ian Bick', 92, 911, 562, 411)]

In [2]:
# 196
# Use: Write a Python program to find common elements across multiple nested lists using lambda.
my_list1 = [[1, 2, 3, 4], [5, 6, 7], [1, 2], [54, 1], [2], [11, 11, 15]]
my_list2 = [[5, 2, 6, 4], [5, 11, 17], [12, 27, 11], [54, 1, 74], [2, 11], [11, 15, 75]]

result = list(filter(lambda x: x in set(sum(my_list1, [])), set(sum(my_list2, []))))
result

[1, 2, 4, 5, 6, 11, 15, 54]

In [3]:
# # 197
# Use: Write a Python program to flatten a list of nested lists and then remove elements that appear in a reference list using lambda.
my_list1 = [[1, 2, 3, 4], [5, 6, 7], [1, 2], [54, 1], [2], [11, 11, 15]]
my_list2 = [[5, 2, 6, 4], [5, 11, 17], [12, 27, 11], [54, 1, 74], [2, 11], [11, 15, 75]]

flattened_list1 = [x for sublist in my_list1 for x in sublist]

result = [list(filter(lambda x: x in flattened_list1, sublist)) for sublist in my_list2]
result

[[5, 2, 6, 4], [5, 11], [11], [54, 1], [2, 11], [11, 15]]

In [4]:
# 198
# Use: Write a Python program to compare two nested lists and return the elements that differ using lambda.
my_list1 = [[1, 2, 3, 4], [5, 6, 7], [1, 2], [54, 1], [2], [11, 11, 15]]
my_list2 = [[5, 2, 6, 4], [5, 11, 17], [12, 27, 11], [54, 1, 74], [2, 11], [11, 15, 75]]

result = list((lambda a, b: a ^ b)(set(sum(my_list1, [])), set(sum(my_list2, []))))
result

[3, 7, 74, 12, 75, 17, 27]

In [4]:
# 200
# Use: Write a Python program to reverse only the vowels in each string of a list using lambda.
my_list = ["Red", "Black", "Blue", "Orange", "Silver", "Noir", "Teal"]
vowels = "aeiouAEIOU"

result = list(map(lambda s:
                  (lambda v: ''.join(map(lambda c: v.pop(0) if c in vowels else c, s)))(list(filter(lambda c: c in vowels, s))[::-1]), my_list
                  ))
result

['Red', 'Black', 'Bleu', 'erangO', 'Selvir', 'Nior', 'Tael']

In [14]:
# 201
# Use: Write a Python program to reverse each word in a sentence while keeping the word order intact using lambda.
sentence = "I walked to the park today."

result = ' '.join(list(map(lambda s: s[::-1], sentence.split(' '))))
result

'I deklaw ot eht krap .yadot'

In [24]:
# 202
# Use: Write a Python program to reverse the order of characters in each string, excluding punctuation, using lambda.
from string import punctuation

my_str = "Blockheads are attacking!"

reverse_string = lambda s: (lambda v: ''.join(map(lambda c: v.pop(0) if c not in punctuation else c, s)))(list(filter(lambda c: c not in punctuation, s))[::-1]) 

result = reverse_string(my_str)
result

'gnikcatta era sdaehkcolB!'

In [26]:
# 203
# Use: Write a Python program to reverse each string in a list and then sort the list lexicographically using lambda.
my_list = ['Donald', 'Mick', 'Steven', 'Ian', 'Roger', 'Bert']

result = sorted(list(map(lambda s: s[::-1], my_list)))
result

['dlanoD', 'kciM', 'naI', 'nevetS', 'regoR', 'treB']

In [3]:
# 208
# Use: Write a Python program to calculate the product of a list of numbers and then compute the product of its digits using lambda.
from functools import reduce
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

result = reduce(lambda a, b: a*b, map(int, str(reduce(lambda x, y: x*y, my_list))))
result

0

In [9]:
# 211
# Use: Write a Pyhon program to multiply numbers at even indices in a list using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

result = reduce(lambda x, y: x*y, map(lambda i: my_list[i], filter(lambda i: i % 2 == 0, range(2, len(my_list)))), 1)
result

10395

In [ ]:
# 215
# Use: Write a Python program to calculate the median of numbers in a tuple of tuples using lambda.
my_tuple = ((14, 27, 14, 63), (123, 532, 14, 14221), (65221, 3521, 62351, 141), (2131, 142, 1412), (11, 12, 13))

result = tuple(map(
    lambda x: ((x[int(len(x)/2)] + x[int(len(x)/2) - 1]) / 2) if len(x) % 2 == 0 else x[int(len(x)/2)], my_tuple
))

result

(20.5, 273.0, 32936.0, 142, 12)

In [2]:
# 217
# Use: Write a Python program to compute the weighted average of numbers in a tuple of tuples using lambda.
my_tuple = ((14, 27, 14, 63), (123, 532, 14, 14221), (65221, 3521, 62351, 141), (2131, 142, 1412), (11, 12, 13))
weights = ((20, 20, 20, 40), (40, 20, 20, 20), (20, 20, 20, 40), (60, 20, 20), (60, 20, 20))

result = tuple(map(lambda xw: sum(map(lambda a: a[0] * a[1], zip(xw[0], xw[1]))) / sum(xw[1]), zip(my_tuple, weights)))
result

(36.2, 3002.6, 26275.0, 1589.4, 11.6)

In [8]:
# 218
# Use: Write a Python program to calculate the average value of numbers in a tuple of tuples, excluding the highest and lowest values in each inner tuple, using lambda.
my_tuple = ((10, 13, 14), (30, 45, 56, 16), (81, 80, 39, 12), (1, 2, 3, 4))

result = tuple(map(lambda s: sum(sorted(s)[1:-1]) / float(len(sorted(s)[1:-1])), my_tuple))
result

(13.0, 37.5, 59.5, 2.5)

In [ ]:
# 21
# Use: Write a Python program to filter a list of integers, keeping only the prime numbers, using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

result = list(filter(lambda x: x > 1 and all(x % i != 0 for i in range(2, int(x**.5) + 1)), my_list))
result

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [10]:
# 22
# Use: Write a Python program to filter a list of integers to keep only the perfect squares using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

result = list(filter(lambda x: x == int(x**.5 + .5)**2, my_list))
result

[1, 4, 9, 16]

In [23]:
# 23
# Use: Write a Python program to filter a list of integers to extract only Fibonacci numbers using lambda.
# Definition: A number n is Fibonacci if 5n + 4 or 5n  4 is a perfect square.
from math import isqrt
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

result = list(filter(lambda x: int(isqrt(5*x*x + 4))**2 == 5*x*x + 4 or int(isqrt(5*x*x - 4))**2 == 5*x*x - 4, my_list))
result
# OR
def is_fibonacci(x):
    a, b = 0, 1
    while a <= x: 
        if a == x:
            return True
        a, b = b, a + b
    return False

result = list(filter(lambda x: is_fibonacci(x), my_list))
result

[1, 2, 3, 5, 8, 13]

In [25]:
# 24
# Use: Write a Python program to filter a list of integers to exclude numbers that are palindromic in their string representation using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

result = list(filter(lambda x: str(x) != str(x)[::-1], my_list))
result

[10, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# 26
# Use: Write a Python program to square and cube every number in a given list of integers using Lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(map(lambda x: x*x, my_list))
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
# 27
# Use: Write a Python program to compute the fourth power and the half power (square root) of every number in a list using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(map(lambda x: round((x**.5), 2), my_list))
result

[1.0, 1.41, 1.73, 2.0, 2.24, 2.45, 2.65, 2.83, 3.0, 3.16]

In [32]:
# 85
# Use: Write a Python program to find palindromes in a given list of strings using Lambda.
my_list = ["php", "w3r", "Python", "abcd", "Java", "aaa"]

result = list(filter(lambda x: x == x[::-1], my_list))
result

['php', 'aaa']

In [35]:
# 86
# Use: Write a Python program to filter strings that are anagrams of a given word using lambda.
my_list = ["silent", "yogurt", "melevolent", "automatic", "endangered", "psychotic"]
word = "listen"

result = list(filter(lambda x: sorted(x) == sorted(word), my_list)) 
result

['silent']

In [45]:
# 87
# Use: Write a Python program to identify case-insensitive palindromic strings from a list using lambda.
my_list = ["glue", "true", "Listen", "silent", "car", "arc", "PhP"]

result = list(filter(lambda x: x.lower() == x.lower()[::-1], my_list))
result

['PhP']

In [54]:
# 88 
# Use: Write a Python program to filter strings that remain palindromic when reversed and have a length greater than 3 using lambda.
my_list = ["glue", "true", "Listen", "silent", "car", "arc", "PhP", 'qqqqqq']

result = list(filter(lambda x: sorted(x) == sorted(x, reverse=True) and len(x) > 3, my_list))
result

['qqqqqq']

In [56]:
# 89
# Use: Write a Python program to find the longest palindrome in a list of strings using lambda.
my_list = ["glue", "true", "Listen", "silent", "car", "arc", "PhP", 'qqqqqq']

result = max(filter(lambda x: sorted(x.lower()) == sorted(x.lower()), my_list), key = lambda x: len(x))
result

'Listen'

In [57]:
# 90
# Use: Write a Python program to find all anagrams of a string in a given list of strings using Lambda.
my_list = ["glue", "true", "silent", "car", "arc", "PhP", 'qqqqqq']
word = "listen"

result = list(filter(lambda x: sorted(x) == sorted(word), my_list))
result

['silent']

In [58]:
# 91
# Use: Write a Python program to group all anagrams from a list of strings into separate lists using lambda.
from itertools import groupby
my_list = ["glue", "true", "silent", "car", "arc", "PhP", 'qqqqqq']

anagrams = groupby(sorted(my_list, key = lambda x: ''.join(sorted(x))), key = lambda x: ''.join(sorted(x)))

result = [list(group) for key, group in anagrams]
result

[['PhP'], ['car', 'arc'], ['glue'], ['silent'], ['true'], ['qqqqqq']]

In [63]:
# 92
# Use: Write a Python program to count the number of anagrams for each word in a list using lambda.
from collections import Counter
my_list = ["glue", "true", "silent", "car", "arc", "PhP", 'qqqqqq']

anagram_checker = Counter(map(lambda item: ''.join(sorted(item)), my_list))

result = {item: anagram_checker[''.join(sorted(item))] for item in my_list}
result

{'glue': 1, 'true': 1, 'silent': 1, 'car': 2, 'arc': 2, 'PhP': 1, 'qqqqqq': 1}

In [67]:
# 93
# Use: Write a Python program to identify the word with the most anagrams in a given list using lambda.
from collections import defaultdict
my_list = ["glue", "true", "silent", "car", "arc", "PhP", 'qqqqqq']

def find_max(lst):
    grouped_anagrams = defaultdict(list)
    for word in lst:
        sorted_word = ''.join(sorted(word))
        grouped_anagrams[sorted_word].append(word)
    
    max_group = max(grouped_anagrams.values(), key = lambda x: len(x))

    return max_group[0]

result = find_max(my_list)
result

'car'

In [75]:
# 94
# Use: Write a Python program to filter out words that do not have any anagrams in the list using lambda.
my_list = ["glue", "true", "silent", "car", "arc", "PhP", 'qqqqqq']

result = list(filter(lambda word: any(sorted(word) == sorted(other) and word != other for other in my_list), my_list))
result

['car', 'arc']

In [77]:
# 45
# Use: Write a Python program to create Fibonacci series up to n using Lambda. 
from functools import reduce
fibonacci_series = lambda n: reduce(lambda x, _: x +[x[-1] + x[-2]], range(2, n), [0, 1])
fibonacci_series(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [83]:
# 46
# Use: Write a Python program to generate the first n prime numbers using lambda.

prime_series = lambda n: list(filter(lambda x: x > 1 and all(x % i for i in range(2, int(x**.5) + 1)), range(2, n)))

prime_series(59)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

In [ ]:
# 47
# Use: Write a Python program to generate a modified Fibonacci series where each term is twice the sum of the previous two terms using lambda.
# Next term: an = 2 * (an-1 + an-2)
next_term = lambda a, b: 2 * (a+b)

fib = [0, 1]

for _ in range(2, 10):
    fib.append(next_term(fib[-1], fib[-2]))

fib

[0, 1, 2, 6, 16, 44, 120, 328, 896, 2448]

In [88]:
# 48 
# Use: Write a Python program to generate a Fibonacci series in reverse order up to n using lambda.
next_term = lambda a, b: (a + b)

fib = [0, 1]

for _ in range(2, 10):
    fib.append(next_term(fib[-1], fib[-2]))

reversed_fibonacci = sorted(fib, reverse=True)
reversed_fibonacci

[34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

In [89]:
# 49
# Use: Write a Python program to generate a Fibonacci series up to n, including only even numbers, using lambda.
next_term = lambda a, b: a + b

fib = [0, 1]

for _ in range(2, 10):
    fib.append(next_term(fib[-1], fib[-2]))

fibonacci_even = list(filter(lambda x: x % 2 == 0, fib))
fibonacci_even

[0, 2, 8, 34]

In [97]:
# 182
# Use: Write a Python program to sort a list of tuples by the difference between two specified indices using lambda.
my_list = [(10, 20, 30, 40), (40, 60, 10, 30), (20, 20, 10, 50), (20, 30, 50, 10, 20), (50, 30, 20, 10), (50, 20, 10, 50)]

sort_by_difference = lambda lst, i, j: sorted(lst, key = lambda x: abs((x[i] if isinstance(x[i], int) else 0) - (x[j] if isinstance(x[j], int) else 0)))
result = sort_by_difference(my_list, 0, 2)
result

[(20, 20, 10, 50),
 (10, 20, 30, 40),
 (40, 60, 10, 30),
 (20, 30, 50, 10, 20),
 (50, 30, 20, 10),
 (50, 20, 10, 50)]

In [98]:
# 183
# Use: Write a Python program to sort a list of tuples by the maximum element in each inner list using lambda.
my_list = [(10, 20, 30, 40), (40, 60, 10, 30), (20, 20, 10, 50), (20, 30, 50, 10, 20), (50, 30, 20, 10), (50, 20, 10, 50)]

result = sorted(my_list, key = lambda x: max(x))
result

[(10, 20, 30, 40),
 (20, 20, 10, 50),
 (20, 30, 50, 10, 20),
 (50, 30, 20, 10),
 (50, 20, 10, 50),
 (40, 60, 10, 30)]

In [99]:
# 196
# Use: Write a Python program to find common elements across multiple nested lists using lambda.
my_list1 = [[2, 3, 11, 56], [33, 22, 11, 72, 3141, 43], [2412, 5231, 612, 64], [3241, 535, 5353, 22, 121, 1241], [1231, 52353, 6463, 121, 63], [22, 11, 111]]
my_list2 = [[1321, 111, 114, 662, 252], [1312, 1241, 5311321, 2113, 3], [2, 6, 7, 1, 7], [3, 45, 6], [3, 1], [61, 613, 78, 3731, 8316, 8769], [9, 9, 9, 31]]

result = list(filter(lambda x: x in set(sum(my_list1, [])), set(sum(my_list2,[]))))
result

[2, 3, 1241, 111]

In [ ]:
# 197
# Use: Write a Python program to flatten a list of nested lists and then remove elements that appear in a reference list using lambda.
my_list1 = [[2, 3, 11, 56], [33, 22, 11, 72, 3141, 43], [2412, 5231, 612, 64], [3241, 535, 5353, 22, 121, 1241], [1231, 52353, 6463, 121, 63], [22, 11, 111]]
my_list2 = [[1321, 111, 114, 662, 252], [1312, 1241, 5311321, 2113, 3], [2, 6, 7, 1, 7], [3, 45, 6], [3, 1], [61, 613, 78, 3731, 8316, 8769], [9, 9, 9, 31]]

flattened_list1 = [x for sublist in my_list1 for x in sublist]

result = [list(filter(lambda x: x in flattened_list1, sublist)) for sublist in my_list2]
result

[[111], [1241, 3], [2], [3], [3], [], []]

In [ ]:
# 198
# Use: Write a Python program to compare two nested lists and return the elements that differ using lambda.
my_list1 = [[2, 3, 11, 56], [33, 22, 11, 72, 3141, 43], [2412, 5231, 612, 64], [3241, 535, 5353, 22, 121, 1241], [1231, 52353, 6463, 121, 63], [22, 11, 111]]
my_list2 = [[1321, 111, 114, 662, 252], [1312, 1241, 5311321, 2113, 3], [2, 6, 7, 1, 7], [3, 45, 6], [3, 1], [61, 613, 78, 3731, 8316, 8769], [9, 9, 9, 31]]

result = list((lambda a, b: a ^ b)(set(sum(my_list1, [])), set(sum(my_list2, []))))
result

In [104]:
# 200
# Use: Write a Python program to reverse only the vowels in each string of a list using lambda.

my_lst = ["Red", "Yellow", "Orange", "Black", "Green"]
vowels = "aeiouAEIOU"


result = list(map(
    lambda s: (lambda v: ''.join(map(lambda c: v.pop(0) if c in vowels else c, s)))(list(filter(lambda c: c in vowels, s))[::-1]), my_lst
))

result

['Red', 'Yollew', 'erangO', 'Black', 'Green']

In [108]:
# 202
# Use: Write a Python program to reverse the order of characters in each string, excluding punctuation, using lambda.
from string import punctuation
my_str = "I went to the market."

reverse_string = lambda s: (lambda v: ''.join(map(lambda c: v.pop(0) if c not in punctuation else c, s)))(list(filter(lambda c: c not in punctuation, s))[::-1])

result = reverse_string(my_str)
result

'tekram eht ot tnew I.'

In [139]:
# 208
# Use: Write a Python program to calculate the product of a list of numbers and then compute the sum of its digits using lambda.
from functools import reduce
my_list = [1, 2, 3, 4, 5, 6]

result = sum(map(int, str(reduce(lambda x, y: x*y, my_list))))
result

9

In [ ]:
# 211
# Use: Write a Pyhon program to multiply numbers at even indices in a list using lambda.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = reduce(lambda x, y: x*y, map(lambda i: my_list[i], filter(lambda i: i % 2 == 0, range(2, len(my_list)))), 1)
result

945

In [148]:
# 215
# Use: Write a Python program to calculate the median of numbers in a tuple of tuples using lambda.
my_tuple = ((14, 27, 14, 63), (123, 532, 14, 14221), (65221, 3521, 62351, 141), (2131, 142, 1412), (11, 12, 13))

result = list(map(lambda x: ((x[int(len(x)/2)-1] + x[int(len(x)/2)]) / 2) if len(x) % 2 == 0 else x[int(len(x)/2)], my_tuple))
result

[20.5, 273.0, 32936.0, 142, 12]

In [149]:
# 217
# Use: Write a Python program to compute the weighted average of numbers in a tuple of tuples using lambda.
my_tuple = ((14, 27, 14, 63), (123, 532, 14, 14221), (65221, 3521, 62351, 141), (2131, 142, 1412), (11, 12, 13))
weights = ((20, 20, 20, 40), (40, 20, 20, 20), (20, 20, 20, 40), (60, 20, 20), (60, 20, 20))

result = list(map(lambda xw: sum(map(lambda a: a[0] * a[1], zip(xw[0], xw[1]))) / sum(xw[1]), zip(my_tuple, weights)))
result

[36.2, 3002.6, 26275.0, 1589.4, 11.6]

In [152]:
# 218
# Use: Write a Python program to calculate the average value of numbers in a tuple of tuples, excluding the highest and lowest values in each inner tuple, using lambda.
my_tuple = ((14, 27, 14, 63), (123, 532, 14, 14221), (65221, 3521, 62351, 141), (2131, 142, 1412), (11, 12, 13))

result = list(map(lambda x: sum(sorted(x)[1:-1]) / float(len(sorted(x)[1:-1])), my_tuple))
result

[20.5, 327.5, 32936.0, 1412.0, 12.0]

In [ ]:
# 182
# Use: Write a Python program to sort a list of tuples by the difference between two specified indices using lambda.

# 183
# Use: Write a Python program to sort a list of tuples by the maximum element in each inner list using lambda.

# 196
# Use: Write a Python program to find common elements across multiple nested lists using lambda.

# 197
# Use: Write a Python program to flatten a list of nested lists and then remove elements that appear in a reference list using lambda.

# 198
# Use: Write a Python program to compare two nested lists and return the elements that differ using lambda.

# 200
# Use: Write a Python program to reverse only the vowels in each string of a list using lambda.

# 202
# Use: Write a Python program to reverse the order of characters in each string, excluding punctuation, using lambda.

# 208
# Use: Write a Python program to calculate the product of a list of numbers and then compute the product of its digits using lambda.

# 211
# Use: Write a Pyhon program to multiply numbers at even indices in a list using lambda.

# 215
# Use: Write a Python program to calculate the median of numbers in a tuple of tuples using lambda.

# 217
# Use: Write a Python program to compute the weighted average of numbers in a tuple of tuples using lambda.

# 218
# Use: Write a Python program to calculate the average value of numbers in a tuple of tuples, excluding the highest and lowest values in each inner tuple, using lambda.

In [ ]:
# 45
# Use: Write a Python program to create Fibonacci series up to n using Lambda. 

# 46
# Use: Write a Python program to generate the first n prime numbers using lambda.

# 47
# Use: Write a Python program to generate a modified Fibonacci series where each term is twice the sum of the previous two terms using lambda.
# Next term: an = 2 * (an-1 + an-2)

# 48 
# Use: Write a Python program to generate a Fibonacci series in reverse order up to n using lambda.

# 49
# Use: Write a Python program to generate a Fibonacci series up to n, including only even numbers, using lambda.

In [ ]:
# 90
# Use: Write a Python program to find all anagrams of a string in a given list of strings using Lambda.

# 91
# Use: Write a Python program to group all anagrams from a list of strings into separate lists using lambda.

# 92
# Use: Write a Python program to count the number of anagrams for each word in a list using lambda.

# 93
# Use: Write a Python program to identify the word with the most anagrams in a given list using lambda.

# 94
# Use: Write a Python program to filter out words that do not have any anagrams in the list using lambda.

In [ ]:
# 85
# Use: Write a Python program to find palindromes in a given list of strings using Lambda.

# 86
# Use: Write a Python program to filter strings that are anagrams of a given word using lambda.

# 87
# Use: Write a Python program to identify case-insensitive palindromic strings from a list using lambda.

# 88 
# Use: Write a Python program to filter strings that remain palindromic when reversed and have a length greater than 3 using lambda.

# 89
# Use: Write a Python program to find the longest palindrome in a list of strings using lambda.

In [ ]:
# 21
# Use: Write a Python program to filter a list of integers, keeping only the prime numbers, using lambda.

# 22
# Use: Write a Python program to filter a list of integers to keep only the perfect squares using lambda.

# 23
# Use: Write a Python program to filter a list of integers to extract only Fibonacci numbers using lambda.
# Definition: A number n is Fibonacci if 5n + 4 or 5n  4 is a perfect square.

# 24
# Use: Write a Python program to filter a list of integers to exclude numbers that are palindromic in their string representation using lambda.

# 25
# Use: Write a Python program to square and cube every number in a given list of integers using Lambda.

# 26
# Use: Write a Python program to compute the square root and cube root of every number in a given list using lambda.

# 27
# Use: Write a Python program to compute the fourth power and the half power (square root) of every number in a list using lambda.