### Python Exercise with Solutions

**Question 1**

In [3]:
# Use: This program sets basic list Operations
# Input:
# Output:

my_list = [10, 20, 30, 40, 50]


print("The third item in a list: {}".format(my_list[2]))
print("The length of the list: {}".format(len(my_list)))

if len(my_list) == 0:
    print("list is empty")
else:
    print("list is not empty")

The third item in a list: 30
The length of the list: 5
list is not empty

**Question 2**

In [ ]:
# Use: Perform list manipulation
# Input:
# Output:

my_list = [10, 20, 30, 40, 50]



my_list[1] = 200
my_list[len(my_list)-1] = 600
my_list.insert(2, 300)
my_list.remove(600)
del my_list[0]
print(my_list)

[200, 300, 30, 40]

**Question 3**

In [ ]:
# Use: Returns the sum and average of all elements in a list
# Input:
# Output:

my_list = [10, 20, 30, 40, 50]

def q3_fn(lst):
    lst_sum = 0
    lst_avg = 0

    for i in lst:
        lst_sum+=i
        
    lst_avg = lst_sum/len(lst)

    return lst_sum, lst_avg

total, average = q3_fn(my_list)

print("The Sum: {}\n The Average: {}".format(total, average))

The Sum: 150
 The Average: 30.0

**Question 4**

In [ ]:
# Use: Reverse a list
# Input:
# Output:

list1 = [100, 200, 300, 400, 500]

def q4_fn(lst):
    rev_lst = []
    n = len(lst)
    for i in range(n-1, -1, -1):
        rev_lst.append(lst[i])
    
    return rev_lst

def q4_fn_v2(lst):
    lst.reverse()
    return lst

q4_fn_v2(list1)

[500, 400, 300, 200, 100]

**Question 5**

In [30]:
# Use: Turn every item of a list into its square.
# Input:
# Output:

nums = [1, 2, 3, 4, 5, 6, 7]

def q5_fn(lst):
    return [x*x for x in lst]

q5_fn(nums)

[1, 4, 9, 16, 25, 36, 49]

**Question 6**

In [32]:
# Use: Find Maximum and Minimum
# Input:
# Output:

data = [8, 2, 15, 1, 9]

def q6_fn(dat):
    return max(dat), min(dat)

max_value, min_value = q6_fn(data) 

print(max_value, min_value)

15 1

**Question 7**

In [35]:
# Use: Count Occurences
# Input:
# Output:

sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']

def q7_fn(lst):
    my_dict = {}
    for i in lst:
        if i in my_dict:
            my_dict[i]+=1
        else:
            my_dict[i] = 1
    
    return my_dict['Football']

q7_fn(sports)

t = sports[1]

def q7_fn_v2(lst, target):
    return lst.count(t)

q7_fn_v2(sports, t)

2

**Question 8**

In [ ]:
# Use: Sort a list of numbers
# Input:
# Input:

nums = [5, 2, 8, 1, 9]

def q8_fn(lst):
    return sorted(lst)

[1, 2, 5, 8, 9]

**Question 9**

In [40]:
# Use: Create a copy of a list
# Input:
# Input:

lst1 = [1231, 324, 523, 523, 121]

def q9_fn(lst):
    lst2 = lst.copy()

    return lst2


copy = q9_fn(lst1)
print(copy)

[1231, 324, 523, 523, 121]

**Question 10**

In [48]:
# Use: Combine two lists
# Input:
# Output:

list1 = [1, 2]
list2 = [3, 4]

def q10_fn(lst1, lst2):
    return [*lst1, *lst2]

q10_fn(list1, list2)

[1, 2, 3, 4]

**Question 11**

In [ ]:
# Use: Remove empty strings from the list of strings
# Input:
# Output:

list1 = ["Mike", "", 'Emma', "Kelly", "", "Brad"]

def q11_fn(lst):
    for item in lst:
        if len(item) == 0:
            lst.remove(item)

    return lst


def q11_fn_v2(lst):
    return list(filter(None, lst))

q11_fn_v2(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

**Question 12**

In [61]:
# Use: Remove Duplicates from a list.
# Input:
# Output:

list_with_duplicates = [1, 2, 2, 3, 1, 4, 5, 4]

def q12_fn(lst):
    return list(set(lst))

q12_fn(list_with_duplicates)

[1, 2, 3, 4, 5]

**Question 13**

In [64]:
# Use: Remove all occurences of a specific item in a list
# Input:
# Output:

t = 5

list1 = [5, 20, 15, 20, 25, 50, 20]

def q13_fn(lst, t):
    for i in lst:
        if i == t:
            lst.remove(i)

    return lst

def q13_fn_v2(lst, t):
    return [i for i in lst if i != t]

q13_fn_v2(list1, t)

[20, 15, 20, 25, 50, 20]

**Question 14**

In [72]:
# Use: List Comprehension for Numbers
# Input:
# Output:

my_list = [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'John', 6]

def q14_fn(lst):
    return [i for i in lst if isinstance(i, int)]

print(q14_fn(my_list))

[1, 2, 3, 4, 5, 6]

**Question 15**

In [81]:
# Use: Access Nested Lists
# Input:
# Output:

elem = 20

nested_list = [[10, 20, 30], [44, 55, 66], [77, 87, 99]]

def q15_fn(lst, ele):
    for item in lst:
        for i in item:
            if i == ele:
                return i
            else:
                continue
    else:
        return "Not found"


q15_fn(nested_list, elem)

20

**Question 16**

In [84]:
# Use: Flatten Nested List
# Input:
# Output:

list1 = [[1, 2], [3, 4], [5, 6, 7]]

def q16_fn(lst):
    flat_lst = []
    for item in lst:
        for i in item:
            flat_lst.append(i)
    
    return flat_lst

flat = q16_fn(list1)
flat

def q16_fn_v2(lst):
    return [i for item in lst for i in item]

q16_fn_v2(list1)

[1, 2, 3, 4, 5, 6, 7]

**Question 17**

In [90]:
# Use: Concatenate two lists index-wise.
# Input:
# Output:

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

def q17_fn(lst1, lst2):
    new_list = []
    n = len(lst1)
    for i in range(n):
        new_list.append(lst1[i]+lst2[i])
    
    return new_list

q17_fn(list1, list2)

def q17_fn_v2(lst1 , lst2):
    return [i+j for i, j in zip(lst1, lst2)]
    
q17_fn_v2(list1,list2)

['My', 'name', 'is', 'Kelly']

**Question 18**

In [101]:
# Use: Concatenate two lists in the following order.
# Input:
# Output:

list1 = ["Hello", "take"]
list2 = ["Dear", "Sir"]

def q18_fn(lst1, lst2):
    new_lst = []
    for i in lst2:
        new_lst.append(lst1[0]+' '+i)
        new_lst.append(lst1[1]+' '+i)
        
    return new_lst

q18_fn(list1, list2)

def q18_fn_v2(lst1, lst2):
    return [x + ' ' + y for x in lst1 for y in lst2]

**Question 19**

In [120]:
# Use: Iterate both lists simulatenously
# Input:
# Output:

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

def q19_fn(lst1, lst2):
    [print(x, y) for x, y in zip(list1, list2[::-1])]

    return None

q19_fn(list1, list2)

10 400
20 300
30 200
40 100

**Question 20**

In [127]:
# Use:
# Input:
# Output:

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].insert(2, 7000)

**Question 21**

In [153]:
# Use: Extend nested list by adding the sublist.
# Input:
# Output:

list1 = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']

sub_list = ['h', 'i', 'j']

#for i in sub_list:
#    list1[2][1][2].append(i)

# OR

list1[2][1][2].extend(sub_list)

print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

**Question 22**

In [160]:
# Use: Replace list's item with new value if found.
# Input:
# Output:

elem = 50
list1 = [5, 10, 50, 20, 25, 50, 20]


def q22_fn(lst, ele, repl):
    for i in range(len(lst)):
        if lst[i] == ele:
            lst[i] = repl
            return lst

def q22_fn_v2(lst, ele, repl):
    index = lst.index(ele)
    
    lst[index] = repl

    return lst

q22_fn_v2(list1, 50, 200)

[5, 10, 200, 20, 25, 50, 20]